.white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text a, .white-text p, .white-text li, .white-text div {
  color: white;
  fill: white;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #373737;
  min-width: 1140px;
}
body *:focus {
  outline: none !important;
}
body .wrapper-size {
  width: 1140px;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  body .wrapper-size {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
body a {
  color: inherit;
}
body a:hover {
  text-decoration: none;
  color: rgba(0, 165, 198, 0.5);
}
body a:active {
  color: #fe8300;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  letter-spacing: 1px;
}
body img {
  display: block;
}
body .no-margin-wp h1, body .no-margin-wp h2, body .no-margin-wp h3, body .no-margin-wp h4, body .no-margin-wp h5, body .no-margin-wp h6, body .no-margin-wp a, body .no-margin-wp p, body .no-margin-wp ul {
  margin-bottom: 0;
}
body .fancybox-img-without-link {
  cursor: pointer;
}
body .fancybox-container {
  z-index: 9999999;
}
body .popup {
  padding: 0;
}
body .popup .text {
  max-width: -webkit-fit-content;
  max-width: fit-content;
  padding: 0 50px;
}
body .popup.no-image .text {
  max-width: 600px;
}
body .alignright {
  float: right;
}
body .alignleft {
  float: left;
}
body .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .search-icon {
  display: block;
  position: relative;
}
body .search-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  width: 24px;
  background-image: url("../../images/search-icon.svg");
}
body .font-regular {
  font-weight: normal !important;
}
body .font-bold {
  font-weight: bold !important;
}
body .scroll-top {
  display: none;
  position: fixed;
  top: 70%;
  width: 44px;
  height: 44px;
  background-image: url("../../images/scroll-to-top.png");
  cursor: pointer;
  z-index: 9999999;
}
body .scroll-top.left {
  left: 10px;
}
body .scroll-top.right {
  right: 10px;
}
body .slider-wrapper.slick-dotted {
  margin-bottom: 0;
}
body .slider-wrapper .slick-slide {
  height: auto;
  min-height: 1px;
}
body .slider-wrapper .slick-dots {
  bottom: 0;
}
body .slider-wrapper .slick-dots li button:before {
  font-size: 20px;
}
body .wp-block-image img {
  max-width: 100%;
  height: auto;
}
body .custom-read-more .button-custom-read-more {
  cursor: pointer;
}
body div[id^=contact-form-7-] {
  color: #fff;
  background-color: #656565;
}
body div[id^=contact-form-7-] .screen-reader-response {
  max-width: 770px;
  margin: 0 auto;
}
body div[id^=contact-form-7-] .wpcf7-form.sent {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .title-form {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form {
  max-width: 800px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label {
  width: 100%;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: unset;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  height: 208px;
  padding: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label .wpcf7-not-valid-tip {
  font-size: 14px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button {
  text-align: center;
  margin-top: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
  color: inherit;
  width: 220px;
  padding: 10px 0;
  background-color: inherit;
  border: 1px solid;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader.is-active {
  display: inline-block;
}
body div[id^=contact-form-7-] .wpcf7-form .wpcf7-response-output {
  text-align: center;
  max-width: 754px;
  border: unset;
}
body .cf7sg-popup {
  position: relative;
}
body .display-none {
  display: none;
}
body span.cf7sg-popup {
  background: rgba(227, 227, 227, 0.81);
  font-size: 1.2em;
  border-radius: 3px;
  bottom: -1.2em;
  max-height: 200px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0.4em;
  white-space: nowrap;
}
body .siteBtn {
  background-color: #fe8300;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  text-align: center;
}
body .siteBtn:hover {
  background-color: #ff9839;
  color: #fff;
}
body .siteBtn:active {
  background-color: #ffc839;
}
@media (min-width: 577px) {
  body .image-desktop {
    display: block;
  }
  body .image-mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  body {
    min-width: auto;
  }
  body .row {
    margin-right: 0;
    margin-left: 0;
  }
  body .alignright {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .alignleft {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .image-desktop {
    display: none !important;
  }
  body .image-mobile {
    display: block;
  }
  body .scroll-top.left {
    display: none !important;
  }
  body .scroll-top.right {
    top: unset;
    bottom: 50px;
  }
  body div[id^=contact-form-7-] {
    padding: 40px 15px;
  }
  body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
    width: 100%;
  }
}

.components .component {
  margin: 65px 0;
}
.components .component .wysiwyg.padding-right-left {
  padding-right: 65px;
  padding-left: 65px;
}
.components .component .questions .questions-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.components .component .service {
  margin-bottom: -140px;
}
.components .component .service.bg-padding {
  margin-bottom: 0;
  padding: 45px 65px 15px;
}
.components .component .service .item {
  margin-bottom: 30px;
}
.components .component .wysiwyg-image .block .text {
  padding: 0 65px;
  margin: auto 0;
}
.components .component .component-with-button .hide-block {
  display: none;
}
.components .component .signatures-images .row {
  margin-bottom: -45px;
}
.components .component .signatures-images .row .signature-image {
  margin-bottom: 45px;
}
.components .component .signatures-images .row .signature-image .bg-text {
  padding: 15px;
}
.components .component .signatures-images .component-button {
  margin-top: 45px;
}
.components .component .faq {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}
.components .component .faq .wrapper-faq {
  padding: 20px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.components .component .faq .wrapper-faq .question {
  position: relative;
  padding-right: 30px;
}
.components .component .faq .wrapper-faq .question:after {
  content: "";
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.components .component .faq .wrapper-faq .answer {
  margin-top: 20px;
}
.components .component .faq .wrapper-faq.active .question:after {
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.components .component .slider .row {
  margin-bottom: -45px;
}
.components .component .slider .row .slider-images {
  margin-bottom: 45px;
}
.components .component .slider .row .slider-images .slick-dots {
  bottom: -20px;
}
.components .component .slider .row .slider-images .text {
  padding-top: 20px;
}
.components .component .slider .row .slider-images .text.bg-text {
  padding: 20px 15px 15px;
}
.components .component .slider .component-button {
  margin-top: 45px;
}
.components .component .component-button {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  padding: 20px;
}
.components .component .component-button.border-button {
  border-radius: 5px;
}
.components .component .text-in-box {
  margin-bottom: -30px;
}
.components .component .text-in-box > div {
  margin-bottom: 30px;
}
.components .component .text-in-box .col-sm-6 .text {
  padding: 40px 65px;
}
.components .component .text-in-box .col-sm-3 .text {
  padding: 30px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider {
  margin-bottom: 30px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list {
  margin: 0 -10px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list .slick-slide {
  margin: 0 10px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list .slick-slide img {
  height: auto;
  min-height: 1px;
}
.components .component .full-screen-slider .prev,
.components .component .full-screen-slider .next {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
}
.components .component .full-screen-slider .prev:after,
.components .component .full-screen-slider .next:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.components .component .full-screen-slider .next {
  margin-left: 20px;
}
.components .component .full-screen-slider .next:after {
  left: 11px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.components .aboutUs .row {
  background-color: #dedfdf;
  padding: 21px;
}
.components .aboutUs .row .text {
  padding: 0 21px 0 0;
}
.components .aboutUs .row .text h2 {
  margin-bottom: 20px;
}
.components .aboutUs .row .text p span {
  font-size: 18px;
}
.components .aboutUs .row .text .custom-read-more .text {
  text-align: left;
}
.components .aboutUs .row .text .custom-read-more .text span {
  font-size: 18px;
}
.components .aboutUs .row .text .custom-read-more .button-custom-read-more {
  text-align: right;
  text-decoration: underline;
  margin-top: 20px;
  color: #00a5c6;
}
.components .aboutUs .row .text .custom-read-more .button-custom-read-more span {
  color: #00a5c6;
  font-size: 18px;
}
.components .aboutUs .row .image-desktop .img-fluid {
  margin: 0 0 0 auto;
}
.components .service {
  background-image: url("../../images/pluses.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 495px;
  margin-bottom: 0px;
  padding: 0 15px;
  text-align: center;
}
.components .service .row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  width: 100%;
}
.components .service .row .item .serviceBlock {
  background-color: #fff;
  width: 220px;
  height: 280px;
  margin: 71px auto 0 0;
  padding-top: 68px;
}
.components .service .row .item .serviceBlock .text p {
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
}
.components .service .row .item .serviceBlock .text p span {
  font-size: 15px;
  color: #2f5462;
}
.components .service .row .item:nth-child(2) .serviceBlock, .components .service .row .item:nth-child(3) .serviceBlock {
  margin: 71px auto 0 auto;
}
.components .service .row .item:last-child .serviceBlock {
  margin: 71px 0 0 auto;
}
.components .service__subblock {
  background-color: #fe8300;
  height: 150px;
  padding: 15px 0 5px;
}
.components .service__subblock .row .item .serviceBlock {
  width: 220px;
  margin: 0 auto 0 0;
}
.components .service__subblock .row .item .serviceBlock .text p {
  text-align: center;
}
.components .service__subblock .row .item .serviceBlock .text p span {
  font-size: 50px;
  color: #fff;
}
.components .service__subblock .row .item .serviceBlock .text p:nth-child(2) {
  text-transform: uppercase;
  margin-top: -5px;
}
.components .service__subblock .row .item .serviceBlock .text p:nth-child(2) span {
  font-size: 18px;
}
.components .service__subblock .row .item:nth-child(n+1) .serviceBlock {
  margin: 0 auto 0 auto;
}
.components .service__subblock .row .item:last-child .serviceBlock {
  margin: 0 0 0 auto;
}
.components .production__title h2, .components .serviceCart__title h2, .components .reviews__title h2 {
  text-align: center;
}
.components .production .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
}
.components .production .row .signature-image {
  border: 1px solid #c4c4c4;
  -webkit-box-flex: 458px;
      -ms-flex: 458px;
          flex: 458px;
  margin: 0 20px;
  padding: 0;
}
.components .production .row .signature-image img {
  width: 100%;
}
.components .production .row .col__info {
  padding: 0 25px 25px;
}
.components .production .row .col__info .info__title {
  text-align: left;
  text-transform: uppercase;
  margin: 35px 0 25px;
}
.components .production .row .col__info .info__title span {
  font-size: 20px;
  color: #081f32;
}
.components .production .row .col__info .info__text span {
  color: #374a59;
}
.components .production .row .col__info ol {
  color: #00a5c6;
  text-decoration: underline;
  margin-top: 20px;
}
.components .production .row .col__info .custom-read-more .text {
  text-align: left;
}
.components .production .row .col__info .custom-read-more .text span {
  font-size: 16px;
}
.components .production .row .col__info .custom-read-more .button-custom-read-more {
  text-align: right;
  text-decoration: underline;
  margin-top: 20px;
  color: #00a5c6;
}
.components .production .row .col__info .custom-read-more .button-custom-read-more span {
  color: #00a5c6;
  font-size: 14px;
}
.components .calcCost {
  background: url("../../images/advantages.jpg") center top no-repeat;
  padding: 92px 15px 87px;
}
.components .calcCost .row {
  padding: 0;
  width: 100%;
}
.components .calcCost .row ul {
  list-style-image: url("../../../../uploads/2021/04/list.png");
}
.components .calcCost .row ul li span {
  color: #2f5462;
  font-size: 34px;
}
.components .calcCost .row .calcCost__btn {
  padding-right: 0;
}
.components .calcCost .row .calcCost__btn a {
  width: 275px;
  max-width: 100%;
  padding: 12px 0;
  border: 1px;
  margin-left: auto;
}
.components .serviceCart .row {
  margin: 0 -35px;
}
.components .serviceCart .row .signature-image {
  border: 1px solid #c4c4c4;
  padding: 0;
  margin: 0 20px;
  -webkit-box-flex: 458px;
      -ms-flex: 458px;
          flex: 458px;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  cursor: pointer;
}
.components .serviceCart .row .signature-image img {
  width: 100%;
}
.components .serviceCart .row .signature-image .text-description p:first-child {
  text-align: left;
  text-transform: uppercase;
  margin: 35px 0 25px;
}
.components .serviceCart .row .signature-image .text-description p:first-child span {
  font-size: 20px;
  color: #081f32;
}
.components .serviceCart .row .signature-image .text-description p:nth-child(2) span {
  color: #374a59;
}
.components .serviceCart .row .signature-image .text-description .custom-read-more .text {
  text-align: left;
}
.components .serviceCart .row .signature-image .text-description .custom-read-more .text span {
  font-size: 16px;
}
.components .serviceCart .row .signature-image .text-description .custom-read-more .button-custom-read-more {
  text-align: right;
  text-decoration: underline;
  margin-top: 20px;
  color: #00a5c6;
}
.components .serviceCart .row .signature-image .text-description .custom-read-more .button-custom-read-more span {
  color: #00a5c6;
  font-size: 14px;
}
.components .serviceCart .row .signature-image:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(47, 84, 98, 0.5);
          box-shadow: 0px 0px 50px rgba(47, 84, 98, 0.5);
}
.components .reviews {
  background: url("../../images/reviews.jpg") center no-repeat;
  height: 438px;
}
.components .reviews .row .signature-image {
  margin: 43px 0;
  padding: 0;
}
.components .reviews .row .signature-image .review {
  width: 302px;
  height: 352px;
  margin: 0px auto;
  opacity: 70%;
}
.components .reviews .row .signature-image .review .review__item {
  position: relative;
}
.components .reviews .row .signature-image .review .review__item .review__item_text {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  font-weight: 400;
}
.components .reviews .row .signature-image .review .review__item .review__item_text span {
  font-size: 18px;
  color: #1a1a18;
}
.components .reviews .row .signature-image .review .review__item .review__item_name {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.components .reviews .row .signature-image .review .review__item .review__item_name .row div:nth-child(2) p {
  text-align: left;
  text-transform: uppercase;
}
.components .reviews .row .signature-image .review .review__item .review__item_name .row div:nth-child(2) p span {
  color: #1a1a18;
}
.components .reviews .row .signature-image .review .review__item .review__item_name .row div:nth-child(2) p:nth-child(2) span {
  font-size: 14px;
}
.components .reviews .row .signature-image .review .line {
  position: absolute;
  height: 2px;
  background: #00A5C6;
}
@media (max-width: 576px) {
  .components .component p {
    padding-left: 0 !important;
  }
  .components .component .wysiwyg {
    padding: 15px !important;
  }
  .components .component .faq {
    padding: 0 15px;
  }
  .components .component .full-screen-slider {
    padding: 0 15px;
  }
  .components .component .questions {
    padding: 15px;
  }
  .components .component .questions .icon {
    display: none;
  }
  .components .component .questions .questions-col {
    display: block;
    padding: 0;
  }
  .components .component .questions .questions-col .question {
    text-align: left !important;
    margin-bottom: 15px;
  }
  .components .component .questions .questions-col .question p {
    text-align: left !important;
  }
  .components .component .service.bg-padding {
    padding: 15px;
  }
  .components .component .service.bg-padding .item {
    padding: 0;
  }
  .components .component .wysiwyg-image .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .components .component .wysiwyg-image .block .image-mobile {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .components .component .wysiwyg-image .block .text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 15px !important;
    margin: 0;
  }
  .components .component .text-in-box .col-sm-6 .text,
.components .component .text-in-box .col-sm-3 .text {
    padding: 15px;
  }
  .components .aboutUs {
    padding: 0 20px;
  }
  .components .aboutUs .row .text h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .components .aboutUs .row .text h2 span {
    margin: 0 2px;
  }
  .components .aboutUs .row .image-mobile img {
    width: 100%;
  }
  .components .component .service {
    height: auto;
    margin-bottom: 0;
  }
  .components .component .service .row {
    padding: 21px 0 31px;
  }
  .components .component .service .row .item {
    width: 25%;
    margin-bottom: 0;
  }
  .components .component .service .row .item .serviceBlock:nth-child(n) {
    width: 100%;
    padding: 0 0 8px 0;
    height: 100%;
    margin-top: 0;
  }
  .components .component .service .row .item .serviceBlock:nth-child(n) .icon {
    padding: calc(6px + 5 * ((100vw - 300px) / (575 - 300)));
  }
  .components .component .service .row .item .serviceBlock:nth-child(n) .icon img {
    width: 100%;
  }
  .components .component .service .row .item .serviceBlock:nth-child(n) .text p {
    margin-top: 0;
    line-height: 10px;
  }
  .components .component .service .row .item .serviceBlock:nth-child(n) .text p span {
    font-size: calc(5px + 3 * ((100vw - 300px) / (575 - 300)));
  }
  .components .service__subblock {
    margin-top: -65px;
    position: relative;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: auto;
    padding: 0 30px;
    background-color: transparent;
  }
  .components .service__subblock .row {
    background-color: #fe8300;
    width: 100%;
  }
  .components .service__subblock .row .item {
    width: 25%;
  }
  .components .service__subblock .row .item .serviceBlock {
    width: 100%;
  }
  .components .service__subblock .row .item .serviceBlock .text p:first-child span {
    font-size: 14px;
    font-size: calc(12px + 2 * ((100vw - 300px) / (575 - 300)));
  }
  .components .service__subblock .row .item .serviceBlock .text p:last-child span {
    font-size: 11px;
    font-size: calc(6px + 5 * ((100vw - 300px) / (575 - 300)));
  }
  .components .production__title, .components .serviceCart__title, .components .reviews__title {
    margin-top: -65px;
  }
  .components .production .row {
    width: 100%;
    padding: 0 15px;
    margin: 0 -2px;
  }
  .components .production .row .signature-image {
    position: relative;
    width: 48%;
    margin: 0 2px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .components .production .row .signature-image .col__info .info__title {
    margin: 9px 0 6px;
  }
  .components .production .row .signature-image .col__info .info__title span {
    font-size: calc(11px + 5 * ((100vw - 300px) / (575 - 300)));
  }
  .components .production .row .signature-image .col__info .info__text {
    line-height: 18px;
  }
  .components .production .row .signature-image .col__info .info__text span {
    font-size: 10px;
  }
  .components .production .row .signature-image .col__info ol {
    padding-left: 15px;
    font-size: 13px;
  }
  .components .production .row .signature-image .col__info .custom-read-more {
    position: absolute;
    right: 0;
    bottom: 6px;
  }
  .components .production .row .signature-image .col__info .custom-read-more .button-custom-read-more {
    text-decoration: none;
  }
  .components .production .row .signature-image .col__info .custom-read-more .button-custom-read-more span {
    background-color: #fe8300;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 5px;
  }
  .components .calcCost .row {
    width: 100%;
  }
  .components .calcCost .row .col-sm-7 {
    width: 70%;
  }
  .components .calcCost .row .col-sm-7 ul li {
    position: relative;
  }
  .components .calcCost .row .col-sm-7 ul li span {
    position: relative;
    font-size: calc(7px + 10 * ((100vw - 300px) / (575 - 300)));
    top: -10px;
  }
  .components .calcCost .row .calcCost__btn {
    width: 30%;
  }
  .components .calcCost .row .calcCost__btn a {
    font-size: 8px;
  }
  .components .serviceCart {
    padding: 0 15px;
  }
  .components .serviceCart .row {
    width: 100%;
    margin: 0;
  }
  .components .serviceCart .row .signature-image {
    width: 46%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 5px;
  }
  .components .serviceCart .row .signature-image .text-description p {
    line-height: 17px;
  }
  .components .serviceCart .row .signature-image .text-description p span {
    font-size: 10px;
    font-size: calc(7px + 3 * ((100vw - 300px) / (575 - 300)));
  }
  .components .serviceCart .row .signature-image .text-description p:first-child {
    margin: 10px 0 5px;
  }
  .components .serviceCart .row .signature-image .text-description p:first-child span {
    font-size: calc(7px + 6 * ((100vw - 300px) / (575 - 300)));
  }
  .components .reviews {
    padding: 0 15px;
  }
  .components .reviews .row {
    width: 100%;
  }
  .components .reviews .row .signature-image {
    width: 100%;
  }
  .components .reviews .row .signature-image .review {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 302px;
  }
  .components .reviews .row .signature-image .review .row .review__item_name .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .components .reviews .row .signature-image .review .row .review__item_name .row div p span {
    font-size: 14px;
    font-weight: 700;
  }
  .components .reviews .row .signature-image .review .row .review__item_name .row div:nth-child(2) p:nth-child(2) span {
    font-size: 8px;
  }
  .components .reviews .row .signature-image .review .line {
    width: 93%;
  }
  .components .reviews .row .signature-image:not(:first-child) {
    display: none;
  }
}

#header.fixed-header .top-header,
#header.fixed-header .navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#header .top-header {
  color: #2f5462;
}
#header .top-header .header-wrapper.padding-top-header {
  padding-right: 30px;
  padding-left: 30px;
}
#header .top-header .header-wrapper .slug-or-name-company {
  margin-bottom: 0;
}
#header .top-header .header-wrapper .logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .logo a img {
  margin: 0 auto;
}
#header .top-header .header-wrapper .info {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#header .top-header .header-wrapper .info .text-header-info {
  font-size: 12px;
}
#header .top-header .header-wrapper .info .text-header-info > div {
  margin-right: 30px;
}
#header .top-header .header-wrapper .info .text-header-info > div:last-child {
  margin-right: 0;
}
#header .top-header .header-wrapper .numbers {
  font-size: 18px;
}
#header .top-header .header-wrapper .numbers span {
  white-space: pre-wrap;
}
#header .top-header .header-wrapper .header-type-3 .numbers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .header-type-3 .numbers .number {
  font-size: 21px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button {
  margin-left: 10px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button .link-header-button {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 160px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button .link-header-button.border-button {
  border-radius: 5px;
}
#header .top-header .header-wrapper .header-type-4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}
#header .top-header .header-wrapper .header-type-4 .info {
  width: calc(100% - 229px);
}
#header .top-header .header-wrapper .header-type-4 .info .text-header-info {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .header-type-4 .navbar-wrapper {
  padding-left: 30px;
}
#header .top-header .header-wrapper .languages.numbers .language {
  margin-left: 10px;
}
#header .top-header .header-wrapper .languages .language {
  margin-right: 5px;
}
#header .top-header .header-wrapper .languages .language:last-child {
  margin-right: 0;
}
#header .top-header .header-wrapper .languages .language.active {
  color: #0056b3;
}
#header .top-header .top-header__blueline {
  background-color: #2f5462;
  color: #fff;
}
#header .top-header .top-header__blueline .bluline__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  height: 45px;
}
#header .top-header .top-header__blueline .bluline__container .container__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}
#header .top-header .top-header__blueline .bluline__container .container__block:last-child {
  padding-right: 0;
}
#header .top-header .top-header__blueline .bluline__container .container__block .block__icon {
  padding-right: 7px;
}
#header .top-header .top-header__blueline .bluline__container .container__block .tel__numb {
  padding-right: 15px;
}
#header .top-header .top-header__blueline .bluline__container .tel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header .top-header .top-header__blueline .bluline__container .tel-mobile {
  display: none;
}
#header .top-header .top-header__blueline .bluline__container .lang .lang__item {
  padding: 0 4px;
  border-bottom: 1px dotted transparent;
}
#header .top-header .top-header__blueline .bluline__container .lang .lang__item:hover {
  border-bottom-color: #fff;
}
#header .top-header .top-header__blueline .bluline__container .lang .active {
  border-bottom-color: #fff;
}
#header .top-header .top-header__blueline .bluline__container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .bottom-header {
  overflow: hidden;
  background: url("../../../../../images/workers-wearing-industrial-uniforms-welded-iron-mask-steel-welding-plants.jpg") center/cover no-repeat;
  width: 100%;
}
#header .bottom-header .wrapper-size {
  position: relative;
}
#header .bottom-header .wrapper-size .text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 525px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#header .bottom-header .wrapper-size .title__container {
  max-width: 636px;
  width: 100%;
}
#header .bottom-header .wrapper-size .title__container .title {
  color: #00a5c6;
  font-size: 48px;
  font-weight: 700;
}
#header .bottom-header .wrapper-size .title__container .title span {
  color: #fff;
  font-size: 36px;
}
#header .bottom-header .wrapper-size .title__container .motto {
  color: #fff;
  font-size: 36px;
  line-height: 138.8888888889%;
  text-transform: uppercase;
  padding-bottom: 17px;
}
#header .bottom-header .wrapper-size .title__container .siteBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 275px;
  text-transform: uppercase;
}
#header .navbar-wrapper .navbar {
  padding: 10px 0;
}
#header .navbar-wrapper .navbar .container .navbar_menu {
  display: block;
}
#header .navbar-wrapper .navbar.padding-navbar {
  padding-right: 30px;
  padding-left: 30px;
}
#header .navbar-wrapper .navbar .navbar-toggler {
  margin-right: 10px;
  border-color: #808080;
}
#header .navbar-wrapper .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item {
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-right: 30px;
  list-style-type: none;
  padding: 0 10px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #fe8300;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  color: #2f5462;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  display: none;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .dropdown-item.active {
  color: #0056b3;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown {
  margin-right: 20px;
  position: relative;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-toggle {
  display: inline-block;
  margin-right: 5px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-arrow {
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 14px;
  height: 9px;
  background: url(../../../../../images/arrow_down.svg) center top no-repeat;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #2f5462;
  border-radius: 0;
  left: auto;
  padding: 30px 20px 40px;
  right: -1px;
  top: 19px;
  width: 250px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  white-space: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 121.4285714286%;
  padding: 0 0 20px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  padding-bottom: 0;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: unset;
  color: #fe8300;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  background-color: unset;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown.show {
  background-color: #fe8300;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .nav-link {
  color: #fff;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .dropdown-arrow {
  background: url(../../../../../images/arrow_up.svg) center top no-repeat;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media (max-width: 576px) {
  #header .top-header {
    text-align: center;
  }
  #header .top-header .header-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  #header .top-header .header-wrapper.padding-top-header {
    padding-right: 15px;
    padding-left: 15px;
  }
  #header .top-header .header-wrapper .d-flex {
    display: block;
  }
  #header .top-header .header-wrapper .slug-or-name-company {
    margin-bottom: 15px;
  }
  #header .top-header .header-wrapper .logo img {
    margin: 0 auto;
  }
  #header .top-header .header-wrapper .info {
    text-align: center;
    display: block;
  }
  #header .top-header .header-wrapper .info .text-header-info > div {
    display: block !important;
    margin: 10px 0;
  }
  #header .top-header .header-wrapper .header-type-3 .numbers {
    white-space: normal;
  }
  #header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button {
    margin-left: 0;
    margin-top: 10px;
  }
  #header .top-header .header-wrapper .header-type-4 .info {
    width: 100%;
  }
  #header .top-header .header-wrapper .header-type-4 .info .text-header-info {
    display: block;
  }
  #header .top-header .header-wrapper .header-type-4 .navbar-wrapper {
    padding-left: 0;
  }
  #header .top-header .top-header__blueline .wrapper-size {
    padding: 0 15px;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .address, #header .top-header .top-header__blueline .wrapper-size .bluline__container .lang, #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel {
    display: none;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile {
    display: block;
    position: relative;
    z-index: 20;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__title .title__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__title .rotate {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__list {
    display: none;
    padding: 20px 15px;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__list .tel__numb {
    padding: 0;
    padding-bottom: 20px;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .tel-mobile__list .tel__numb:last-child {
    padding-bottom: 0;
  }
  #header .top-header .top-header__blueline .wrapper-size .bluline__container .tel-mobile .show {
    background-color: #2f5462;
    display: block;
    position: absolute;
    left: 0;
    width: 90%;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info {
    width: auto;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .text-header-info {
    display: none;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container button {
    border: none;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container button .menu__icon {
    background: url("../../../../../images/menu.svg") center/cover no-repeat;
    display: block;
    height: 15px;
    width: 30px;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu {
    position: absolute;
    display: none;
    top: -45px;
    left: -15px;
    background-color: #2f5462;
    padding: 30px 20px 60px;
    width: 136px;
    z-index: 10;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .menu__icon {
    background: url("../../../../../images/menu.svg") center/cover no-repeat;
    display: block;
    width: 30px;
    height: 15px;
    margin-bottom: 5px;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .navbar-nav .nav-item {
    padding: 15px 0 0;
    text-align: left;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 9px;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .navbar-nav .nav-item .dropdown-arrow {
    display: none;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .navbar__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    width: 100%;
    max-width: 62px;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .navbar_menu .navbar__lang .lang__item a {
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    text-transform: none;
  }
  #header .top-header .wrapper-size .header-wrapper .header-type-4 .info .navbar-wrapper .navbar .container .open {
    display: block;
  }
  #header .bottom-header .wrapper-size {
    padding: 0 15px;
  }
  #header .bottom-header .wrapper-size .text {
    height: calc(338px + 187 * ((100vw - 300px) / (575 - 300)));
  }
  #header .bottom-header .wrapper-size .text .title__container .title {
    font-size: calc(28px + 20 * ((100vw - 300px) / (575 - 300)));
  }
  #header .bottom-header .wrapper-size .text .title__container .title span {
    font-size: calc(21px + 15 * ((100vw - 300px) / (575 - 300)));
  }
  #header .bottom-header .wrapper-size .text .title__container .motto {
    font-size: calc(22px + 14 * ((100vw - 300px) / (575 - 300)));
  }
  #header .bottom-header .wrapper-size .header-image-bg {
    display: none;
  }
  #header .bottom-header .wrapper-size .header-image-text .image-text {
    padding: 15px;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item {
    margin-right: 0;
    padding-top: 5px;
    text-align: center;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown {
    margin-right: 0;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .nav-link {
    padding-right: 0;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    text-align: center;
    margin-top: 5px;
  }
}

#main .default-template {
  padding: 0 65px;
}
#main .default-template .title-page {
  font-size: 25px;
  margin: 45px 0;
  letter-spacing: 0;
}
@media (max-width: 576px) {
  #main .default-template {
    padding: 0 15px;
  }
  #main .default-template .title-page {
    margin: 20px 0;
  }
}

#footer {
  color: #fff;
}
#footer .footer-wrapper {
  font-size: 15px;
  padding: 45px 0;
}
#footer .footer-wrapper.padding-footer {
  padding-right: 65px;
  padding-left: 65px;
}
#footer .footer-wrapper .footer-margin-bottom {
  margin-bottom: 30px;
}
#footer .footer-wrapper .numbers .wrapper-numbers {
  margin-bottom: 10px;
}
#footer .footer-wrapper .numbers .wrapper-numbers img {
  float: left;
}
#footer .footer-wrapper .numbers .wrapper-numbers a {
  margin-left: 30px;
}
#footer .footer-wrapper .email img {
  margin-right: 15px;
}
#footer .footer-wrapper .wrapper-icon-address {
  margin-right: 15px;
}
#footer .footer-wrapper .signature-bifo {
  font-size: 12px;
  margin-top: 20px;
  display: none;
}
#footer .footer-wrapper .row .logoBlock .footer-margin-bottom p:first-child span {
  font-size: 48px;
  color: #2f5462;
}
#footer .footer-wrapper .row .logoBlock .footer-margin-bottom p:first-child span + span {
  color: #65a6b3;
  font-size: 30px;
}
#footer .footer-wrapper .row .logoBlock .footer-margin-bottom .motto span {
  color: #374a59;
}
#footer .footer-wrapper .row .logoBlock .footer-margin-bottom .motto + p span {
  color: #374a59;
}
#footer .footer-wrapper .row .footer__menu ul {
  list-style: none;
  text-transform: uppercase;
  line-height: 26px;
  padding-left: 0;
}
#footer .footer-wrapper .row .footer__menu ul li a {
  font-size: 14px;
  color: #374a59;
}
#footer .footer-wrapper .row .footer__menu ul li a:hover {
  color: rgba(0, 165, 198, 0.5);
}
#footer .footer-wrapper .row .footer__menu ul li a:active {
  color: #fe8300;
}
#footer .footer-wrapper .row .map {
  text-align: right;
}
#footer .footer-wrapper .row .map .contact__link {
  padding-top: 20px;
  margin-left: auto;
  width: 235px;
}
#footer .footer-wrapper .row .map .contact__link .link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer-wrapper .row .map .contact__link .link img {
  margin-right: 10px;
}
#footer .footer-wrapper .row .map .contact__link .link a {
  color: #374a59;
  font-size: 14px;
  font-weight: 400;
}
#footer .footer-wrapper .row .map .contact__link .link a:hover {
  color: rgba(0, 165, 198, 0.5);
}
#footer .footer-wrapper .row .map .contact__link .link a:active {
  color: #fe8300;
}
#footer .footer__blueline {
  background-color: #2f5462;
  margin-top: 20px;
}
#footer .footer__blueline .bluline__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dedfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  font-weight: 400;
  height: 62px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  #footer .footer-wrapper {
    text-align: center;
    padding: 0 15px;
  }
  #footer .footer-wrapper.padding-footer {
    padding-right: 0;
    padding-left: 0;
  }
  #footer .footer-wrapper .signature-bifo {
    padding: 0 15px;
  }
  #footer .footer-wrapper .signature-bifo .hotlog {
    margin-top: 15px;
  }
  #footer .footer-wrapper .wrapper-icon-address {
    margin: 0 0 5px 0;
  }
  #footer .footer-wrapper .d-flex {
    display: block !important;
  }
  #footer .footer-wrapper .map {
    margin-top: 30px;
  }
  #footer .footer-wrapper .numbers .wrapper-numbers img {
    float: none;
    display: inline-block !important;
    margin-right: 15px;
  }
  #footer .footer-wrapper .numbers .wrapper-numbers a {
    display: inline-block !important;
    margin-left: 0;
  }
  #footer .footer-wrapper .row {
    width: 100%;
    overflow: hidden;
  }
  #footer .footer-wrapper .row .logoBlock, #footer .footer-wrapper .row .footer__menu, #footer .footer-wrapper .row .map {
    width: 25%;
  }
  #footer .footer-wrapper .row .logoBlock div {
    margin: 0;
  }
  #footer .footer-wrapper .row .logoBlock div p:first-child span:first-child {
    font-size: calc(10px + 10 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer-wrapper .row .logoBlock div p:first-child span:nth-child(2) {
    font-size: calc(5px + 10 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer-wrapper .row .logoBlock div .motto, #footer .footer-wrapper .row .logoBlock div .motto + p {
    text-align: left;
    font-size: calc(5px + 7 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer-wrapper .row .footer__menu {
    text-align: left;
  }
  #footer .footer-wrapper .row .footer__menu div ul li a {
    font-size: calc(6px + 6 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer-wrapper .row .footer__menu div .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 95px;
    width: 100%;
  }
  #footer .footer-wrapper .row .footer__menu div .row a {
    width: calc(15px + 15 * ((100vw - 300px) / (575 - 300)));
    height: calc(15px + 15 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer-wrapper .row .footer__menu div .row a img {
    width: 100%;
    height: 100%;
  }
  #footer .footer-wrapper .row .map {
    width: 50%;
    margin-top: 0;
  }
  #footer .footer-wrapper .row .map iframe {
    width: 100%;
    max-width: 235px;
  }
  #footer .footer-wrapper .row .map .contact__link .link a {
    font-size: calc(5px + 9 * ((100vw - 300px) / (575 - 300)));
  }
  #footer .footer__blueline {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}