#footer {
    .footer-wrapper {
      font-size: 15px;
      padding: 45px 0;
  
      &.padding-footer {
        padding-right: 65px;
        padding-left: 65px;
      }
  
      .footer-margin-bottom {
        margin-bottom: 30px;
      }
  
      .numbers {
        .wrapper-numbers {
          margin-bottom: 10px;
  
          img {
            float: left;
          }
  
          a {
            margin-left: 30px;
          }
        }
      }
  
      .email {
        img {
          margin-right: 15px;
        }
      }
  
      .wrapper-icon-address {
        margin-right: 15px;
      }
  
      .signature-bifo {
        font-size: 12px;
        margin-top: 20px;
      }
    }
  
    @media (max-width: 576px) {
      .footer-wrapper {
        text-align: center;
  
        &.padding-footer {
          padding-right: 0;
          padding-left: 0;
        }
  
        .signature-bifo {
          padding: 0 15px;
  
          .hotlog {
            margin-top: 15px;
          }
        }
  
        .wrapper-icon-address {
          margin: 0 0 5px 0;
        }
  
        .d-flex {
          display: block !important;
        }
  
        .map {
          margin-top: 30px;
        }
  
        .numbers {
          .wrapper-numbers {
            img {
              float: none;
              display: inline-block !important;
              margin-right: 15px;
            }
  
            a {
              display: inline-block !important;
              margin-left: 0;
            }
          }
        }
      }
    }
    // Front-end style
    background-color: $mainColor3;
    .footerContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding: 52px 0 80px 0;
        .footerLinkBox{
          .linkContainer{
            display: flex;
            align-items: center;
            color: $textColor1;
            img{
              margin-right: 8px;
            }
          }
          
        }
        .footerPhoneBox{
          font-size: 16px;
          color: $textColor1;
          .phoneNumber{
              display: block;
              padding-bottom: 10px;
              font-size: 16px;
          }
        }
        .workTime{
          color: $textColor1;
          font-size: 14px;
          &__text{
            padding-bottom: 10px;
          }
        }
    }
  @media screen and (max-width: 576px){
    .footerContainer{
      flex-direction: column;
      align-items: center;
      padding: 25px 15px 28px;
      .footerHeaderBox, .footerLinkBox, .footerPhoneBox{
        padding: 0 0 24px;
      }
      .workTime{
        text-align: center;
      }
    }
  }
}