.header{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 86px 15px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__orangeText{
        color: $orange;
        font-size: 41px;
        flex: 0 1 570px;
    }
    .header__motto{
        font-size: 33px;
        flex: 0 1 437px;
    }
}
.reviews{
    background-color: #f5f5f5;
    padding: 34px 15px 52px;
    &__title{
        font-size: 24px;
        text-align: center;
        padding-bottom: 37px;
    }
    &__videoContainer{
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.pr_page{
    position: relative;
    padding: 90px 0px 52px;
    &__orangeLineBackgraound{
        position: absolute;
        width: 100%;
        height: 200px;
        top: 53%;
        transform: translateY(-50%);
        background-color: $orange;
    }
    &__box{
        display: flex;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
    &__questiontext{
        display: block;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto 96px;
        font-size: 24px;
    }
    &__title{
        color: #fff;
        font-size: 30px;
        &_big{
            font-size: 40px;
        }
    }
    .pr_page__image_smalleScrean{
        display: none;
    }
}
.service{
    text-align: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    &__title{
        font-size: 40px;
        color: $orange;
        padding-bottom: 64px;
    }
    &__itemBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 100px;
        max-width: 920px;
        &:nth-child(4){
            padding-bottom: 87px;
        }
        &:nth-child(5){
            align-items: flex-start;
            padding-bottom: 86px;
        }
        &:nth-child(6){
            padding-bottom: 86px;
        }
        &:last-child{
            padding-bottom: 60px;
        }
        .itemBox__imageContainer{
            min-width: 131px;
            text-align: center;
            margin: 0 auto;
        }
        .itemBox__text{
            flex: 0 1 635px;
            text-align: start;
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 575px){
    .header{
        flex-direction: column;
        padding: 40px 15px;
        .header__orangeText, .header__motto{
            flex: auto;
            font-size: calc(20px + 21 * ((100vw - 300px) / (1140 - 300)));
            padding-bottom: 20px;
        }
        .header__motto{
            align-self: flex-end;
            font-size: calc(15px + 18 * ((100vw - 300px) / (1140 - 300)));
            text-align: right;
        }
    }
    .reviews{
        &__title{
            font-size: 20px;
        }
        &__videoContainer{
            flex-direction: column;
            align-items: center;
        }
        .reviews__videoImage{
            padding-bottom: 20px;
            width: 100%;
            max-width: 350px;
        }
    }
    .pr_page{
        .pr_page__image_smalleScrean{
            display: inline-block;
            width: calc(114px + 16 * ((100vw - 300px) / (1140 - 300)));
        }
        &__orangeLineBackgraound{
            display: none;
        }
        .box__text{
            width: 100%;
        }
        &__questiontext{
            margin: 0 auto 28px;
            font-size: 24px;
        }
        &__title{
            background-color: $orange;
            display: flex;
            height: 200px;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            font-size: 24px;
            padding-left: 10px;
            .title__firstText{
                width: calc(50% + 50 * ((100vw - 300px) / (1140 - 300)));
                font-size: calc(17px + 7 * ((100vw - 300px) / (1140 - 300)));
            }
            &_big{
                display: inline-block;
                width: calc(50% + 50 * ((100vw - 300px) / (1140 - 300)));
                font-size: calc(17px + 7 * ((100vw - 300px) / (1140 - 300)));
                padding-top: 20px;
            }
        }
        .box__image{
            display: none;
        }
    }
    .service{
        &__itemBox{
            flex-wrap: wrap;
            &:nth-child(5){
                align-items: center;
            }
            .itemBox__text{
                min-width: 200px;
                flex: 50%;
                text-align: center;
            }
        }
    }
}