$orange: #ff5a00;
$mainColor2: #00a400;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   line-height: 1.5;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

.font-regular {
  font-weight: normal !important;
}
.font-bold {
  font-weight: bold !important;
}
.uppercaseText{
    text-transform: uppercase;
}