#header{
    text-align: center;
    padding-bottom: 27px;
    
    .header__logo{
        width: 100%;
        max-width: 1140px;
        background: url(../../image/header_bg.jpg) center / cover no-repeat ;
        display: block;
        padding: 115px 158px 163px;
        margin: 0 auto;
    }
    @media screen and (max-width: 575px) {
        .header__logo{
            padding: 50px 0 calc(40px + 60 * ((100vw - 300px) / (575 - 300)));
            background: url(../../image/header_bg.jpg) no-repeat;
            background-position: 50% calc(-45px - 128 * ((100vw - 300px) / (575 - 300)));
            background-size: 250%;
        }
    }
}