.components {
  .component {
    margin: 65px 0;

    .wysiwyg {
      &.padding-right-left {
        padding-right: 65px;
        padding-left: 65px;
      }
    }

    .questions {
      .questions-col {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }
    }

    .service {
      margin-bottom: -140px;

      &.bg-padding {
        margin-bottom: 0;
        padding: 45px 65px 15px;
      }

      .item {
        margin-bottom: 30px;
      }
    }

    .wysiwyg-image {
      .block {
        .text {
          padding: 0 65px;
          margin: auto 0;
        }
      }
    }

    .component-with-button {
      .hide-block {
        display: none;
      }
    }

    .signatures-images {
      .row {
        margin-bottom: -45px;

        .signature-image {
          margin-bottom: 45px;

          .bg-text {
            padding: 15px;
          }
        }
      }

      .component-button {
        margin-top: 45px;
      }
    }

    .faq {
      width: 100%;
      max-width: 730px;
      margin: 0 auto;

      .wrapper-faq {
        padding: 20px 0;
        border-bottom: 1px solid #000;
        cursor: pointer;

        .question {
          position: relative;
          padding-right: 30px;

          &:after {
            content: '';
            position: absolute;
            right: 5px;
            top: calc(50% - 10px);
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 5px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }

        .answer {
          margin-top: 20px;
        }

        &.active {
          .question {
            &:after {
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
          }
        }
      }
    }

    .slider {
      .row {
        margin-bottom: -45px;

        .slider-images {
          margin-bottom: 45px;

          .slick-dots {
            bottom: -20px;
          }

          .text {
            padding-top: 20px;

            &.bg-text {
              padding: 20px 15px 15px;
            }
          }
        }
      }

      .component-button {
        margin-top: 45px;
      }
    }

    .component-button {
      cursor: pointer;
      display: block;
      text-align: center;
      width: 100%;
      max-width: 220px;
      margin: 0 auto;
      padding: 20px;

      &.border-button {
        border-radius: 5px;
      }
    }

    .text-in-box {
      margin-bottom: -30px;

      & > div {
        margin-bottom: 30px;
      }

      .col-sm-6 {
        .text {
          padding: 40px 65px;
        }
      }

      .col-sm-3 {
        .text {
          padding: 30px;
        }
      }
    }

    .full-screen-slider {
      .wrapper-full-screen-slider {
        margin-bottom: 30px;

        .slick-list {
          margin: 0 -10px;

          .slick-slide {
            margin: 0 10px;

            img {
              height: auto;
              min-height: 1px;
            }
          }
        }
      }

      .prev,
      .next {
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #f5f5f5;

        &:after {
          content: '';
          position: absolute;
          top: 12px;
          left: 15px;
          border: solid black;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }

      .next {
        margin-left: 20px;

        &:after {
          left: 11px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
  // Front-end.
  .aboutUs {
    .row {
      background-color: #dedfdf; 
      padding: 21px;
      .text {
        padding: 0 21px 0 0;
        h2 {
          margin-bottom: 20px;
        }
        p {
          span {
            font-size: 18px;
          }
        }
        .custom-read-more {
          .text {
            text-align: left;
            span {
              font-size: 18px;
            }
          }
          .button-custom-read-more {
            text-align: right; 
            text-decoration: underline; 
            margin-top: 20px; 
            color: #00a5c6;
            span {
              color: #00a5c6; 
              font-size: 18px;
            }
          }
        }
      }
      .image-desktop {
        .img-fluid {
          margin: 0 0 0 auto;
        }
      }
    }
  }
  .service {
    background-image: url('../../images/pluses.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    height: 495px;
    margin-bottom: 0px;
    padding: 0 15px;
    text-align: center;
    .row {
      display: inline-flex;
      padding: 0;
      width: 100%;
      .item {
        .serviceBlock {
          background-color: #fff;
          width: 220px; 
          height: 280px; 
          margin: 71px auto 0 0; 
          padding-top: 68px;
          .text {
            p {
              text-align: center; 
              text-transform: uppercase; 
              margin-top: 35px;
              span {
                font-size: 15px; 
                color: #2f5462;
              }
            }
          }
        }
        &:nth-child(2), &:nth-child(3) {
          .serviceBlock{
            margin: 71px auto 0 auto;
          }
        }
        &:last-child {
          .serviceBlock{
            margin: 71px 0 0 auto;
          }
        }
      }
    }
  }
  .service__subblock {
    background-color: #fe8300;
    height: 150px;
    padding: 15px 0 5px;
    .row {
      .item {
        .serviceBlock {
          width: 220px; 
          margin: 0 auto 0 0;
          .text {
            p {
              text-align: center;
              span {
                font-size: 50px; 
                color: #fff;
              }
              &:nth-child(2) {
                text-transform: uppercase; 
                margin-top: -5px;
                span {
                  font-size: 18px;
                }
              }
            }
          }
        }
        &:nth-child(n + 1) {
          .serviceBlock {
            margin: 0 auto 0 auto;
          }
        }
        &:last-child {
          .serviceBlock {
            margin: 0 0 0 auto;
          }
        }
      }
    }
  }
  .production__title,  .serviceCart__title, .reviews__title {
    h2 {
      text-align: center;
    }
  }
  .production {
    .row {
      display: flex;
      margin: 0 -35px;
      .signature-image{
        border: 1px solid #c4c4c4;
        flex: 458px;
        margin: 0 20px;
        padding: 0;
        img {
          width: 100%;
        }
      }
      .col__info{
        padding: 0 25px 25px;
        .info__title {
          text-align: left; 
          text-transform: uppercase; 
          margin: 35px 0 25px;
          span {
            font-size: 20px; 
            color: #081f32;
          }
        }
        .info__text {
          span {
            color: #374a59;
          }
        }
        ol {
          color: #00a5c6; 
          text-decoration: underline; 
          margin-top: 20px;
        }
        .custom-read-more {
          .text {
            text-align: left;
            span {
              font-size: 16px;
            }
          }
          .button-custom-read-more {
            text-align: right; 
            text-decoration: underline; 
            margin-top: 20px; 
            color: #00a5c6;
            span {
              color: #00a5c6; 
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .calcCost {
    background: url('../../images/advantages.jpg') center top no-repeat;
    padding: 92px 15px 87px;
    .row {
      padding: 0;
      width: 100%;
      ul {
        list-style-image: url('../../../../uploads/2021/04/list.png');
        li {
          span {
            color: #2f5462; 
            font-size: 34px;
          }
        }
      }
      .calcCost__btn {
        padding-right: 0;
        a {
          width: 275px; 
          max-width: 100%; 
          padding: 12px 0; 
          border: 1px; 
          margin-left: auto;
        }
      }
    }
  }
  .serviceCart {
    .row {
      margin: 0 -35px;
      .signature-image {
        border: 1px solid #c4c4c4;
        padding: 0;
        margin: 0 20px;
        flex: 458px;
        transition: box-shadow .3s linear;
        cursor: pointer;
        img {
          width: 100%;
        }
        .text-description {
          p:first-child {
            text-align: left; 
            text-transform: uppercase; 
            margin: 35px 0 25px;
            span {
              font-size: 20px; 
              color: #081f32;
            }
          }
          p:nth-child(2) {
            span {
              color: #374a59;
            }
          }
          .custom-read-more {
            .text {
              text-align: left;
              span {
                font-size: 16px;
              }
            }
            .button-custom-read-more {
              text-align: right; 
              text-decoration: underline; 
              margin-top: 20px; 
              color: #00a5c6;
              span {
                color: #00a5c6; 
                font-size: 14px;
              }
            }
          }
        }
        &:hover {
          box-shadow: 0px 0px 50px rgba(47, 84, 98, 0.5);
        }
      }
    }
  }
  .reviews {
    background: url('../../images/reviews.jpg') center no-repeat;
    height:  438px;
    .row {
      .signature-image {
        margin: 43px 0;
        padding: 0;
        .review {
          width: 302px; 
          height: 352px; 
          margin: 0px auto; 
          opacity: 70%;
          .review__item {
            position: relative;
            .review__item_text {
              flex-basis: 65%; 
              font-weight: 400;
              span {
                font-size: 18px; 
                color: #1a1a18;
              }
            }
            .review__item_name {
              flex-basis: 35%;
              .row {
                div:nth-child(2) {
                  p {
                    text-align: left; 
                    text-transform: uppercase;
                    span {
                      color: #1a1a18;
                    }
                    &:nth-child(2) span {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .line {
            position: absolute; 
            height: 2px; 
            background: #00A5C6;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .component {
      p {
        padding-left: 0 !important;
      }

      .wysiwyg {
        padding: 15px !important;
      }

      .faq {
        padding: 0 15px;
      }

      .full-screen-slider {
        padding: 0 15px;
      }

      .questions {
        padding: 15px;

        .icon {
          display: none;
        }

        .questions-col {
          display: block;
          padding: 0;

          .question {
            text-align: left !important;
            margin-bottom: 15px;

            p {
              text-align: left !important;
            }
          }
        }
      }

      .service {
        &.bg-padding {
          padding: 15px;

          .item {
            padding: 0;
          }
        }
      }

      .wysiwyg-image {
        .block {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          .image-mobile {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
          }

          .text {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
            padding: 15px !important;
            margin: 0;
          }
        }
      }

      .text-in-box {
        .col-sm-6,
        .col-sm-3 {
          .text {
            padding: 15px;
          }
        }
      }
    }
    .aboutUs {
      padding: 0 20px;
      .row {
        .text {
          h2 {
            display: flex;
            justify-content: center;
            span {
              margin: 0 2px;
            }
          }
        }
        .image-mobile {
          img {
            width: 100%;
          }
        }
      }
    }
    .component .service {
      height: auto;
      margin-bottom: 0;
      .row {
        padding: 21px 0 31px;
        .item {
          width: 25%;
          margin-bottom: 0;
          .serviceBlock:nth-child(n) {
            width: 100%;
            padding: 0 0 8px 0;
            height: 100%;
            margin-top: 0;
            .icon {
              padding: calc(6px + 5 * ((100vw - 300px) / (575 - 300)));
              img {
                width: 100%;
              }
            }
            .text {
              p {
                margin-top: 0;
                line-height: 10px;
                span {
                  font-size: calc(5px + 3 * ((100vw - 300px) / (575 - 300)));
                }
              }
            }
          }
        }
      }
    }
    .service__subblock {
      margin-top: -65px;
      position: relative;
      transform: translateY(-50%);
      height: auto;
      padding: 0 30px;
      background-color: transparent;
      .row {
        background-color: #fe8300;
        width: 100%;
        .item {
          width: 25%;
          .serviceBlock {
            width: 100%;
            .text {
              p:first-child span {
                font-size: 14px;
                font-size: calc(12px + 2 * ((100vw - 300px) / (575 - 300)));
              }
              p:last-child span {
                font-size: 11px;
                font-size: calc(6px + 5 * ((100vw - 300px) / (575 - 300)));
              }
            }
          }
        }
      }
    }
    .production__title, .serviceCart__title, .reviews__title {
      margin-top: -65px;
    }
    .production {
      .row {
        width: 100%;
        padding: 0 15px;
        margin: 0 -2px;
        .signature-image{
          position: relative;
          width: 48%;
          margin: 0 2px;
          flex: none;
          .col__info {
            .info__title {
              margin: 9px 0 6px;
              span {
                font-size: calc(11px + 5 * ((100vw - 300px) / (575 - 300)));
              }
            }
            .info__text {
              line-height: 18px;
              span {
                font-size: 10px;
              }
            }
            ol {
              padding-left: 15px;
              font-size: 13px;
            }
            .custom-read-more {
              position: absolute;
              right: 0;
              bottom: 6px;
              .button-custom-read-more {
                text-decoration: none;
                span {
                  background-color: #fe8300;
                  color: #fff;
                  text-decoration: none;
                  font-weight: 700;
                  padding: 10px 5px;
                }
              }
            }
          }
        }
      }
    }
    .calcCost {
      .row {
        width: 100%;
        .col-sm-7 {
          width: 70%;
          ul {
            li {
              position: relative;
              span {
                position: relative;
                font-size: calc(7px + 10 * ((100vw - 300px) / (575 - 300)));
                top: -10px;
              }
            }
          }
        }
        .calcCost__btn{
          width: 30%;
          a {
            font-size: 8px;
          }
        }
      }
    }
    .serviceCart {
      padding: 0 15px;
      .row {
        width: 100%;
        margin: 0;
        .signature-image {
          width: 46%;
          flex: none;
          margin: 0 5px;
          .text-description {
            p {
              line-height: 17px;
              span {
                font-size: 10px;
                font-size: calc(7px + 3 * ((100vw - 300px) / (575 - 300)));
              }
            }
            p:first-child {
              margin: 10px 0 5px;
              span {
                font-size: calc(7px + 6 * ((100vw - 300px) / (575 - 300)));
              }
            }
          }
        }
      }
    }
    .reviews {
      padding: 0 15px;
      .row {
        width: 100%;
        .signature-image {
          width: 100%;
          
          .review {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 302px;
            .row {
              .review__item_text {

              }
              .review__item_name {
                .row {
                  flex-wrap: nowrap;
                  div {
                    p {
                      span {
                        font-size: 14px;
                        font-weight: 700;
                      }
                    }
                    &:nth-child(2) {
                      p:nth-child(2) {
                        span {
                          font-size: 8px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .line {
              width: 93%;
            }
          }
        }
        .signature-image:not(:first-child) {
          display: none;
        }
      }
    }
  }
}