#header {
  &.fixed-header {
    .top-header,
    .navbar-wrapper {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
  }

  .top-header {
    color: #2f5462;
    .header-wrapper {

      &.padding-top-header {
        padding-right: 30px;
        padding-left: 30px;
      }

      .slug-or-name-company {
        margin-bottom: 0;
      }

      .logo {
        a {
          height: 100%;
          display: flex;
          align-items: center;

          img {
            margin: 0 auto;
          }
        }
      }

      .info {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .text-header-info {
          font-size: 12px;

          & > div {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .numbers {
        font-size: 18px;

        span {
          white-space: pre-wrap;
        }
      }

      .header-type-3 {
        .numbers {
          align-items: center;

          .number {
            font-size: 21px;
          }
        }

        .wrapper-header-button {
          .header-button {
            margin-left: 10px;

            .link-header-button {
              cursor: pointer;
              display: block;
              text-align: center;
              width: 160px;
              max-width: 100%;
              margin: 0 auto;
              padding: 10px;

              &.border-button {
                border-radius: 5px;
              }
            }
          }
        }
      }

      .header-type-4 {
        align-items: center;
        height: 110px;
        .info {
          width: calc(100% - 229px);
          .text-header-info {
            display: none;
            justify-content: flex-end;
            align-items: center;
          }
        }

        .navbar-wrapper {
          padding-left: 30px;
        }
      }

      .languages {
        &.numbers {
          .language {
            margin-left: 10px;
          }
        }

        .language {
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: #0056b3;
          }
        }
      }
    }
    .top-header__blueline{
      background-color: #2f5462;
      color: #fff;
      .bluline__container{
        align-items: center;
        display: flex;
        font-size: 12px;
        height: 45px;
        .container__block{
          align-items: center;
          display: flex;
          padding-right: 20px;
          &:last-child {
            padding-right: 0;
          }
          .block__icon{
            padding-right: 7px;
          }
          .tel__numb {
            padding-right: 15px;
          }
        }
        .tel {
          flex: 1;
        }
        .tel-mobile {
          display: none;
        }
        .lang {
          .lang__item {
            padding: 0 4px;
            border-bottom: 1px dotted transparent;
            &:hover {
              border-bottom-color: #fff;              
            }
          }
          .active {
            border-bottom-color: #fff;
          }
        }
        .social{
          display: flex;
          flex: 0 0 70px;
          justify-content: space-between;
        }
      }
    }
  }

  .bottom-header {
    overflow: hidden;
    background: url('../../../../../images/workers-wearing-industrial-uniforms-welded-iron-mask-steel-welding-plants.jpg') center / cover no-repeat;
    width: 100%;
    .wrapper-size {
      position: relative;
      .text {
        align-items: center;
        display: flex;
        height: 525px;
        justify-content: start;
      }
      .title__container {
        max-width: 636px;
        width: 100%;
        .title {
          color: #00a5c6;
          font-size: 48px;
          font-weight: 700;
          span {
            color: #fff;
            font-size: 36px;
          }
        }
        .motto {
          color: #fff;
          font-size: 36px;
          line-height: 50 / 36 * 100%;
          text-transform: uppercase;
          padding-bottom: 17px;
        }
        .siteBtn {
          align-items: center;
          display: flex;
          height: 55px;
          justify-content: center;
          max-width: 275px;
          text-transform: uppercase;
        }
      }
    }
  }

  .navbar-wrapper {
    .navbar {
      padding: 10px 0;
      .container {
        .navbar_menu{
          display: block;
        }
      }
      &.padding-navbar {
        padding-right: 30px;
        padding-left: 30px;
      }

      .navbar-toggler {
        margin-right: 10px;
        border-color: #808080;

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }

      .navbar-nav {
        .nav-item {
          letter-spacing: 0.5px;
          font-size: 13px;
          margin-right: 30px;
          list-style-type: none;
          padding: 0 10px;
          
          &:hover .nav-link{
            color: #fe8300;
          }

          .nav-link {
            display: inline-block;
            color: #2f5462;
            font-size: 14px;
            font-weight: 700;
            padding: 0;

            &.dropdown-toggle {
              &:after {
                display: none;
              }
            }
          }

          .dropdown-item.active {
            color: #0056b3;
          }

          &.dropdown {
            margin-right: 20px;
            position: relative;
            

            .dropdown-toggle {
              display: inline-block;
              margin-right: 5px;
            }

            .dropdown-arrow {
              display: inline-block;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              width: 14px;
              height: 9px;
              background: url(../../../../../images/arrow_down.svg) center top no-repeat;
            }

            .dropdown-menu {
              background-color: #2f5462;
              border-radius: 0;
              left: auto;
              padding: 30px 20px 40px;

              right: -1px;
              top: 19px;
              width: 250px;

              .dropdown-item {
                color: #fff;
                white-space: normal;
                font-size: 14px;
                font-weight: 700;
                line-height: 17 / 14 * 100%;
                padding: 0 0 20px;
                &:last-child {
                  padding-bottom: 0;
                }
                
                &:hover {
                  background-color: unset;
                  color: #fe8300;
                }

                &.active {
                  background-color: unset;
                }
              }
            }

            &.show {
              background-color: #fe8300;
              
              
              .nav-link {
                color: #fff;
              }
              .dropdown-arrow {
                background: url(../../../../../images/arrow_up.svg) center top no-repeat;
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .top-header {
      text-align: center;

      .header-wrapper {
        padding-right: 15px;
        padding-left: 15px;

        &.padding-top-header {
          padding-right: 15px;
          padding-left: 15px;
        }

        .d-flex {
          display: block;
        }

        .slug-or-name-company {
          margin-bottom: 15px;
        }

        .logo img {
          margin: 0 auto;
        }

        .info {
          text-align: center;
          display: block;

          .text-header-info {
            & > div {
              display: block !important;
              margin: 10px 0;
            }
          }
        }

        .header-type-3 {
          .numbers {
            white-space: normal;
          }

          .wrapper-header-button {
            .header-button {
              margin-left: 0;
              margin-top: 10px;
            }
          }
        }

        .header-type-4 {
          .info {
            width: 100%;

            .text-header-info {
              display: block;
            }
          }

          .navbar-wrapper {
            padding-left: 0;
          }
        }
      }
      .top-header__blueline {
        .wrapper-size{
          padding: 0 15px;
          .bluline__container {
            justify-content: space-between;
            .address, .lang, .tel{
              display: none;
            }
            .tel-mobile {
              display: block;
              position: relative;
              z-index: 20;
              .tel-mobile__title {
                align-items: center;
                display: flex;
                justify-content: space-between;
                .title__arrow {
                  transform: rotate(180deg);
                }
                .rotate {
                  transform: rotate(0deg);
                }
              }
              .tel-mobile__list {
                display: none;
                padding: 20px 15px;
                .tel__numb {
                  padding: 0;
                  padding-bottom: 20px;
                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
              .show {
                background-color: #2f5462;
                display: block;
                position: absolute;
                left: 0;
                width: 90%;
              }
            }
          }
        }
      }
      .wrapper-size {
        .header-wrapper {
          .header-type-4 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            .logo {
              flex: 1;
            }
            .info {
              width: auto;
              .text-header-info {
                display: none;
              }
              .navbar-wrapper {
                .navbar {
                  .container{
                    justify-content: start;
                    position: relative;
                    button {
                      border: none;
                      .menu__icon {
                        background: url('../../../../../images/menu.svg') center / cover no-repeat;
                        display: block;
                        height: 15px;
                        width: 30px;
                      }
                    }
                    .navbar_menu {
                      position: absolute;
                      display: none;
                      top: -45px;
                      left: -15px;
                      background-color: #2f5462;
                      padding: 30px 20px 60px;
                      width: 136px;
                      z-index: 10;
                      .menu__icon {
                        background: url('../../../../../images/menu.svg') center / cover no-repeat;
                        display: block;
                        width: 30px;
                        height: 15px;
                        margin-bottom: 5px;
                      }
                      .navbar-nav {
                        .nav-item {
                          padding: 15px 0 0;

                          text-align: left;
                          .nav-link {
                            color: #fff;
                            font-size: 9px;
                          }
                          .dropdown-arrow {
                            display: none;
                          }
                        }
                      }
                      .navbar__lang {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 25px;
                        width: 100%;
                        max-width: 62px;
                        .lang__item {
                          a {
                            color: #fff;
                            font-size: 9px;
                            font-weight: 700;
                            text-transform: none;
                          }
                        }
                      }
                    }
                    .open {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .bottom-header {
      .wrapper-size {
        padding: 0 15px;
        .text {
          height: calc(338px + 187 * ((100vw - 300px) / (575 - 300)));
          .title__container{
            .title {
              font-size: calc(28px + 20 * ((100vw - 300px) / (575 - 300)));
              span {
                font-size: calc(21px + 15 * ((100vw - 300px) / (575 - 300)));
              }
            }
            .motto {
              font-size: calc(22px + 14 * ((100vw - 300px) / (575 - 300)));
            }
          }
        }
        .header-image-bg {
          display: none;
        }

        .header-image-text {
          .image-text {
            padding: 15px;
          }
        }
      }
    }

    .navbar-wrapper {
      .navbar {
        .navbar-nav {
          .nav-item {
            margin-right: 0;
            padding-top: 5px;
            text-align: center;

            &.dropdown {
              margin-right: 0;

              .nav-link {
                padding-right: 0;
              }

              .dropdown-menu {
                text-align: center;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}