$mainColor1: #D7B46A;
$mainColor2: #000;
$mainColor3: #fff;
$mainColor4: #ebc8cc;

$textColor1: #D7B46A;
$textColor2: #fff;
$textColor3: #000;

.white-text {

  h1, h2, h3, h4, h5, h6, a, p, li, div {

    color: white;
    fill: white;

  }

}