.footer{
    background-color: $mainColor2;
    .footerContainer{
        display: flex;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding: 50px 0 20px 0;
        .footerHeaderBox{
            padding-right: 114px;
            .footerLogo{
                width: 160px;
            }
        }
        .footerLinkBox{
            padding-right: 108px;
            .link{
                padding: 0 10px;
            }
        }
        .footerPhoneBox{
            font-size: 16px;
            color: $textColor1;
            padding-right: 156px;
            .phoneNumber{
                display: block;
                padding-bottom: 10px;
                font-size: 16px;
            }
        }
        .workTime{
            color: $textColor1;
            font-size: 14px;
            line-height: 22.5px;
        }
    }
    @media screen and (max-width: 576px){
        .footerContainer{
            flex-direction: column;
            align-items: center;
            padding: 25px 15px 28px;
            .footerHeaderBox, .footerLinkBox, .footerPhoneBox{
                padding: 0 0 24px;
            }
            .workTime{
                text-align: center;
            }
        }
    }
}