.header{
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    color: $textColor1;
    position: relative;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        .header__contactsBox{
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1 0 50%;
        }
        .contactsBox__telephoneBox{
            display: flex;
            .telephoneBox__telItem{
                padding: 0 3px 0;
                .telephoneNumber{
                    font-size: 17px;
                    &:hover{
                        color: $mainColor2;
                    }
                }
            }
        }
        .contactsBox__socialBox{
            display: flex;
            padding-right: 34px;
            .socialBox__item{
                padding: 0 6px 0;
            }
        }
        .greenLine{
            color: $mainColor1;
            font-size: 17px;
        }
        .contactsBox__langMenu{
            position: absolute;
            right: 0;
            top: 10%;
            height: 20px;
            overflow: hidden;
            transition: all .2s linear;
            .linkItem{
                padding-bottom: 16px;
                .linkItem__link{
                    color: #6f6f6e;
                    font-size: 15px;
                }
                &:not(.vubrana):hover .linkItem__link{
                    color: $mainColor2;
                }
            }
        }
        .contactsBox__langMenu:hover{
            height: 52px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 9px;
        .navMenu{
            display: flex;
            justify-content: space-between;
            flex: 0 0 760px;
        }
        .link__item{
            text-transform: uppercase;
            font-size: 16px;
            color: $textColor1;
            &:hover{
                color: $mainColor2;
            }
        }
        .navSearch{
            display: flex;
            
        }
        .navSearch__text{
            width: 215px;
            height: 35px;
            font-size: 14px;
            padding-left: 11px;
            color: $textColor1;
            outline: none;
            border: 1px solid #f0f0f0;
            &:focus{
                border: 1px solid #f0f0f0;
            }
            &::placeholder{
                color: #b4b4b4;
                opacity: 1;
            }
        }
    }
    .headerMobile{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #fff;
        padding: 15px 15px 0px;
        z-index: 1;
        .mobileBtn{
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .headerMobile__menuBar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding-bottom: 14px;
            .menuBar__logo{
                flex: auto;
            }
            .menuBar__item{
                padding: 10px;
            }
            .logoImage__iconImage{
                width: 40vw;
            }
            .facebookLink__iconImage{
                width: 2.4vw;
            }
            .instagramLink__iconImage, .telephoneBtn__iconImage{
                width: 5vw;
            }
            .searchBtn__iconImage, .menuBtn__iconImage{
                width: 6vw;
            }
        }
        .telephoneWindow{
            width: 100%;
            background-color: #fff;
            padding: 30px 15px;
            display: none;
            &_openStatus{
                display: block;
            }
            .telephoneNumber{
                display: block;
                font-size: 30px;
                padding-bottom: 10px;
                &:last-child{
                    padding-bottom: 0;
                }
            }
            .telephoneWindow__closeBtn{
                float: right;
                padding: 0 10px;
            }
            .telephoneWindow__closeIcon{
                width: 6vw;
            }
        }
        .searchWindow{
            margin: 0 -15px;
            width: 100vw;
            background-color: #fff;
            display: flex;
            align-items: center;
            display: none;
            &_openStatus{
                display: flex;
            }
            &__searchFild{
                height: 62px;
                padding-left: 15px;
                font-size: 30px;
                border: none;
                border-top: 1px solid #daefdf; 
                border-bottom: 1px solid #daefdf;
                flex: auto;
                outline: none;
                &::placeholder{
                    color: #b4b4b4;
                }
            }
            &__searchBtn{
                height: 62px;
                width: 82px;
                background-color: $mainColor1;
            }
        }
        .menuWindow{
            // display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #5a5a5a, $alpha: .8);
            .menuWindowContainer{
                width: 88vw;
                height: 100%;
                background-color: #fff;
            }
            .menuWindowContainer__langAndExit{
                background-color: $mainColor1;
                border-bottom: 1px solid #daefdf;
                color: #fff;
                font-size: 22px;
                display: flex;
                .languageBox{
                    position: relative;
                    flex: auto;
                    padding: 0 15px;
                    .languageBox__item{
                        height: 60px;
                        display: flex;
                        align-items: center;
                        .languageBox__lang{
                            flex: auto;
                        }
                    }
                    .secondLangItem{
                        position: absolute;
                        background-color: $mainColor1;
                        width: 100%;
                        left: 0;
                        padding-left: 15px;
                        display: none;
                        order: 1;
                    }
                    .languageBox__indicator{
                        color: #fff;
                        float: right;
                    }
                    .rotateIndecator{
                        transform: rotate(180deg);
                    }
                    .openBlock{
                        display: flex;
                    }
                }
                .exitBox{
                    background-color: #fff;
                    padding: 10px;
                    & img{
                        width: 80%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 575px){
        .header__top, .header__bottom{
            display: none;
        }
        .headerMobile{
            display: block;
        }
    }
}
.body__greenline{
    border: none;
    color: #d8efdf;
    background-color: #d8efdf;
    height: 1px;
    @media screen and (max-width: 575px){
        padding-top: 59px;
    }
}