.components .whatWeDo .whatWeDo__container .whatWeDo__slider .cart .cart__title {
    text-align: center;
}

.custom-price {
    font-size: 24px;
    padding-bottom: 32px;
}

.woocommerce-Price-amount.amount {
    font-weight: bold;
}

.woocommerce-Price-amount.amount .woocommerce-Price-currencySymbol {
    font-weight: normal;
}

.summary.entry-summary h2, .summary.entry-summary p.price {
    display: none;
}

.variations_form.cart button {
    display: none;
}

.variations td.label {
    font-size: 13px;
    text-transform: uppercase;
    color: #8c8c8c;
    padding-bottom: 16px;
}

.variations td.value {
    display: flex;
    flex-direction: row;
}

.variations tr:first-child {
    display: flex;
    flex-direction: column;
}

.reset_variations {
    margin-left: 25px;
}

.variations td.label:after {
    content: ':';
}

.product_meta, .woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}

.variations_form.cart {
    padding-bottom: 20px;
}

.composition {
    padding-top: 31px;
    padding-bottom: 42px;
}
.woocommerce-variation-price {
    position: absolute;
    top: 271px;
    width: 300px;
    background-color: white;
}

@media screen and (max-width: 650px) {
    .variations td.value {
        display: initial;
        flex-direction: initial;
    }
    .woocommerce-variation-price {
        position: absolute;
        top: 672px;
        width: 300px;
        background-color: white;
    }
}

.related.products {
    display: none;
}

.woocommerce-pagination {
    display: none;
}

/* forms */
.black{
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    display:none;
    background:rgba(0,0,0,0.65);
    z-index:1000;
}
.big_box_close{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1001;
    display:block;
}
.form_box{
    position:relative;
    display:block;
    top:auto;
    left:auto;
    margin:0px auto;
    background:#ffffff;
    border-radius:5px;
    padding:18px 20px;
    box-sizing:border-box;
    width:100%;
    min-width:300px;
    max-width:350px;
    height:auto;
    z-index:1002;
}
.a_close_box{
    position:absolute;
    display:block;
    top:3px;
    right:3px;
    width:20px;
    height:18px;
    font-size:15px;
    line-height:1em;
    border-radius:10px;
    background:rgba(0,0,0,0.9);
    color:#ffffff;
    text-align:center;
    font-family:sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    padding-top:2px;
    box-sizing:content-box;
    cursor:pointer;
    z-index:1003;
}
.form_title{
    position:relative;
    font-size:20px;
    font-weight:bold;
    padding-bottom:10px;
}
.form_form{
    position:relative;
    display:block;
    clear:both;
    width:100%;
    height:auto;
}

/***далее идут стили исключительно для оформления формы, их можно не переносить***/

.form_form p{padding:4px 0; margin:0;}
.form_form input[type=text],
.form_form input[type=email],
.form_form textarea{
    position:relative;
    display:block;
    width:100%;
    height:28px;
    font-size:14px;
    border:1px solid #7B7878;
    color:#000000;
    box-sizing:border-box;
    padding:2px 7px 0 7px;
    background:#ffffff;
    border-radius:3px;
}
.form_form textarea{resize:none; height:100px;}
.form_form input[type=submit]{
    background:#000000;
    border-radius:3px;
    font-size:14px;
    color:#ffffff;
    text-align:center;
    height:28px;
    padding:0 20px;
}
.form_form span.wpcf7-not-valid-tip{font-size:12px;}
.form_form div.wpcf7-response-output{margin:10px 0 0 0; font-size:13px;}

/* add */

.form_form textarea.wpcf7-not-valid,
.form_form input.wpcf7-not-valid {
    background-color: pink;
}

.form_form input[type="email"].wpcf7-not-valid {
    border-color: #ff2b2e;
}

.form_form span.wpcf7-not-valid-tip {
    display: none !important;
}

.form_form div.wpcf7-mail-sent-ng,
.form_form div.wpcf7-spam-blocked,
.form_form div.wpcf7-validation-errors,
.form_form div.wpcf7-mail-sent-ok {
    border: none;
    margin: 20px 0 0;
    padding: 0;
}

.form_form div.wpcf7-validation-errors {
    color: red;
}

.form_form div.wpcf7-mail-sent-ok {
    color: green;
}

.form_form .wpcf7-form span.ajax-loader {
    display: none !important;
}

.form_form .wpcf7-form p {
    /*margin: 0;*/
}

/* Posts */
.post .entry {
    color: #000;
    background-color: #fff;
    text-align: center;
    padding-bottom: 41px;
}

.post .entry p {
    display: block;
    /*margin: 0 auto;*/
    line-height: 34px;
    width: 100%;
    /*max-width: 730px;*/
    color: #515151;
    font-size: 18px;
    font-weight: 400;
}

.post .entry h2 strong {
    font-size: 36px;
    font-weight: 400;
    /*font-weight: normal !important;*/
}

.post .entry a:hover {
    color: #E89D94;
}

/* hi header */

.post .title h1 {
    font-weight: 500;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    /*font-weight: 300;
    font-size: 36px;*/
}


.woocommerce-form-coupon-toggle,
.wc_payment_methods.payment_methods.methods,
.woocommerce-privacy-policy-text,
.summary.entry-summary .tovarName,
.summary.entry-summary form.cart .quantity
{
    display: none;
}

.components .whatWeDo .whatWeDo__container .whatWeDo__slider .cart .imageBox img {
    width: 100%;
    height: 100%;
}

.wpcf7-form label {
    display: flex;
    flex-direction: column;
}

.components .catalog .filterResultBlock .filterResultBlock__container .cart .cart__title {
    text-align: center;
}

.wpcf7-form-control.wpcf7mf-mask.wpcf7-mask {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    max-width: 313px;
    margin-bottom: 15px;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    float: none;
    width: auto;
}
/*
.woocommerce-billing-fields__field-wrapper {
    display: flex;
}

.woocommerce-billing-fields__field-wrapper p {
    flex: 50%;
}
*/
/*
@media screen and (min-width:760px)  {
    .woocommerce-billing-fields__field-wrapper p:nth-child(odd) {
        width: 48%;
        float: left;
    }

    .woocommerce-billing-fields__field-wrapper p:nth-child(even) {
        width: 48%;
        float: right;
    }

    .woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
        clear: none;
    }
}

 */

/*  https://bifo.bitrix24.ua/company/personal/user/85/tasks/task/view/7503/  */ 
.cart-subtotal {
    display: none;
}

header .cart {
    margin: 0 auto;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

#header .header__container .header__titleBox .language span {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}