*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.siteBtn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center ;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  outline: none;
  width: 350px;
  height: 50px;
  font-size: 12px;
  line-height: 16.88 / 12 * 100%;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color .3s ease;
  &:hover{
    background-color: #000;
    color: #fff;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #373737;
  min-width: 1140px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  *:focus {
    outline: none !important;
  }

  .wrapper-size {
    width: 1140px;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 576px) {
      width: auto;
      padding-right: 0;
      padding-left: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
  }

  img {
    display: block;
  }

  .no-margin-wp {
    h1, h2, h3, h4, h5, h6, a, p, ul {
      margin-bottom: 0;
    }
  }

  .fancybox-img-without-link {
    cursor: pointer;
  }

  .fancybox-container {
    z-index: 9999999;
  }

  .popup {
    padding: 0;

    .text {
      max-width: fit-content;
      padding: 0 50px;
    }

    &.no-image {
      .text {
        max-width: 600px;
      }
    }
  }

  .alignright {
    float: right;
  }

  .alignleft {
    float: left;
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .search-icon {
    display: block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      height: 26px;
      width: 24px;
      background-image: url("../../images/search-icon.svg");
    }
  }

  .font-regular {
    font-weight: normal !important;
  }

  .font-bold {
    font-weight: bold !important;
  }

  .scroll-top {
    display: none;
    position: fixed;
    top: 70%;
    width: 44px;
    height: 44px;
    background-image: url('../../images/scroll-to-top.png');
    cursor: pointer;
    z-index: 9999999;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  .slider-wrapper {
    &.slick-dotted {
      margin-bottom: 0;
    }

    .slick-slide {
      height: auto;
      min-height: 1px;
    }

    .slick-dots {
      bottom: 0;

      li {
        button {
          &:before {
            font-size: 20px;
          }
        }
      }
    }
  }

  .wp-block-image img {
    max-width: 100%;
    height: auto;
  }

  .custom-read-more .button-custom-read-more {
    cursor: pointer;
  }

  div[id^="contact-form-7-"] {
    color: #fff;
    background-color: #656565;

    .screen-reader-response {
      max-width: 770px;
      margin: 0 auto;
    }

    .wpcf7-form {
      &.sent {
        display: none;
      }

      .title-form {
        font-size: 24px;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      .row-form {
        max-width: 800px;

        label {
          width: 100%;
          margin-bottom: 20px;

          input,
          textarea {
            display: block;
            height: 40px;
            width: 100%;
            padding: 0 10px;
            border: unset;
            border-radius: 5px;

            &::-webkit-input-placeholder {
              color: #bababa;
            }

            &:-ms-input-placeholder {
              color: #bababa;
            }

            &::placeholder {
              color: #bababa;
            }
          }

          textarea {
            height: 208px;
            padding: 10px;
          }

          .wpcf7-not-valid-tip {
            font-size: 14px;
          }
        }

        .submit-button {
          text-align: center;
          margin-top: 10px;

          input[type="submit"] {
            color: inherit;
            width: 220px;
            padding: 10px 0;
            background-color: inherit;
            border: 1px solid;
            border-radius: 5px;
          }
        }

        .ajax-loader {
          display: none;

          &.is-active {
            display: inline-block;
          }
        }
      }

      .wpcf7-response-output {
        text-align: center;
        max-width: 754px;
        border: unset;
      }
    }
  }
  .wpcf7-form {
    color: #1e1e1e;
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    &.sent {
      display: none;
    }

    .title-form {
      color: #ed3a4d;
      font-size: 36px;
      line-height: 38 / 36 * 100%;
      padding-bottom: 20px;
    }
    .subtitle-form {
      font-size: 16px;
      line-height: 24 / 16 * 100%;
      padding-bottom: 35px;
    }

    .row-form {
      max-width: 800px;
      padding-bottom: 35px;
      label {
        display: block;
        font-size: 13px;
        line-height: 24 / 13 * 100%;
        margin-bottom: 5px;

        input,
        textarea {
          border: none;
          border-bottom: 1px solid #000;
          font-size: 18px;
          padding: 10px 0;
          width: 100%;
          &::placeholder{
            color: #c4c4c4;
          }
        }

        textarea {
          height: 208px;
          padding: 10px;
        }

        .wpcf7-not-valid-tip {
          font-size: 14px;
        }
      }
      input,
      textarea {
        border: none;
        border-bottom: 1px solid #000;
        font-size: 18px;
        padding: 10px 0;
        width: 100%;
        &::placeholder{
          color: #c4c4c4;
        }
      }
      select {
        border: none;
        border-bottom: 1px solid #000;
        cursor: pointer;
        padding: 10px 0;
        width: 100%;
        .marker{
          display: none;
        }
        option{
          cursor: pointer;
          &:hover{
            background-color: #ed3a4d;
            color: #fff;
          }
        }
      }
      .submit-button {
        text-align: center;
        margin-top: 10px;

        input[type="submit"] {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-align: center ;
          border: 1px solid #000;
          background-color: transparent;
          color: #000;
          outline: none;
          width: 350px;
          height: 50px;
          font-size: 12px;
          line-height: 16.88 / 12 * 100%;
          font-weight: 500;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          cursor: pointer;
          transition: background-color .3s ease;
          &:hover{
            background-color: #000;
            color: #fff;
          }
        }
      }
      .ajax-loader {
        display: none;

        &.is-active {
          display: inline-block;
        }
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
    .row-form_flex {
      display: flex;
      justify-content: space-between;
      margin: 0 -15px;
      .row-form {
        flex: 50%;
        margin: 0 15px;
      }
    }

    .wpcf7-response-output {
      text-align: center;
      max-width: 754px;
      border: unset;
    }
  }

  .cf7sg-popup {
    position: relative;
  }
  div[rel="form_quick"] {
    padding: 15px;
    .form_box {
      width: auto;
      max-width: none;
      min-width: 0px;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #ed3a4d;
      background-color: #000;
      color: #fff;
      .form_form {
        .wpcf7 {
          .wpcf7-form {
            .row-form {
              label {
                color: #fff;
                .wpcf7-text {
                  padding-left: 5px;
                  padding-right: 5px;
                }
              }
            }
            .submit-button {
              .wpcf7-form-control {
                border: 1px solid #ed3a4d;
                outline: none;
                cursor: pointer;
              }
            }
            .wpcf7-response-output {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .display-none {
    display: none;
  }
  .display-block{
    display: block;
  }
  span.cf7sg-popup {
    background: rgba(227, 227, 227, .81);
    font-size: 1.2em;
    border-radius: 3px;
    bottom: -1.2em;
    max-height: 200px;
    left: 0;
    position: absolute;
    transition: .5s ease;
    padding: .4em;
    white-space: nowrap
  }
  .margin-65{
    margin-top: -65px;
    margin-bottom: -65px;
  }

  @media (min-width: 577px) {
    .image-desktop {
      display: block;
    }

    .image-mobile {
      display: none !important;
    }
  }

  @media (max-width: 576px) {
    min-width: auto;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .alignright {
      float: none !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    .alignleft {
      float: none !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    .image-desktop {
      display: none !important;
    }

    .image-mobile {
      display: block;
    }

    .scroll-top {
      &.left {
        display: none !important;
      }

      &.right {
        top: unset;
        bottom: 50px;
      }
    }

    div[id^="contact-form-7-"] {
      padding: 30px 15px;
      width: 100%;
      .wpcf7-form {
        .row-form {
          .submit-button {
            input[type="submit"] {
              width: 100%;
              max-width: 350px;
            }
          }
        }
        .row-form_flex {
          .row-form {
            flex: auto;
            padding-bottom: 35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
    .wpcf7-form {
      .row-form {
        .submit-button {
          input[type="submit"] {
            width: 100%;
            max-width: 350px;
          }
        }
      }
      .row-form_flex {
        .row-form {
          flex: auto;
          padding-bottom: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}