@charset "UTF-8";
.white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text a, .white-text p, .white-text li, .white-text div {
  color: white;
  fill: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.siteBtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  outline: none;
  width: 350px;
  height: 50px;
  font-size: 12px;
  line-height: 140.6666666667%;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.siteBtn:hover {
  background-color: #000;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #373737;
  min-width: 1140px;
}
body *:focus {
  outline: none !important;
}
body .wrapper-size {
  width: 1140px;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  body .wrapper-size {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  letter-spacing: 1px;
}
body img {
  display: block;
}
body .no-margin-wp h1, body .no-margin-wp h2, body .no-margin-wp h3, body .no-margin-wp h4, body .no-margin-wp h5, body .no-margin-wp h6, body .no-margin-wp a, body .no-margin-wp p, body .no-margin-wp ul {
  margin-bottom: 0;
}
body .fancybox-img-without-link {
  cursor: pointer;
}
body .fancybox-container {
  z-index: 9999999;
}
body .popup {
  padding: 0;
}
body .popup .text {
  max-width: -webkit-fit-content;
  max-width: fit-content;
  padding: 0 50px;
}
body .popup.no-image .text {
  max-width: 600px;
}
body .alignright {
  float: right;
}
body .alignleft {
  float: left;
}
body .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .search-icon {
  display: block;
  position: relative;
}
body .search-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  width: 24px;
  background-image: url("../../images/search-icon.svg");
}
body .font-regular {
  font-weight: normal !important;
}
body .font-bold {
  font-weight: bold !important;
}
body .scroll-top {
  display: none;
  position: fixed;
  top: 70%;
  width: 44px;
  height: 44px;
  background-image: url("../../images/scroll-to-top.png");
  cursor: pointer;
  z-index: 9999999;
}
body .scroll-top.left {
  left: 10px;
}
body .scroll-top.right {
  right: 10px;
}
body .slider-wrapper.slick-dotted {
  margin-bottom: 0;
}
body .slider-wrapper .slick-slide {
  height: auto;
  min-height: 1px;
}
body .slider-wrapper .slick-dots {
  bottom: 0;
}
body .slider-wrapper .slick-dots li button:before {
  font-size: 20px;
}
body .wp-block-image img {
  max-width: 100%;
  height: auto;
}
body .custom-read-more .button-custom-read-more {
  cursor: pointer;
}
body div[id^=contact-form-7-] {
  color: #fff;
  background-color: #656565;
}
body div[id^=contact-form-7-] .screen-reader-response {
  max-width: 770px;
  margin: 0 auto;
}
body div[id^=contact-form-7-] .wpcf7-form.sent {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .title-form {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form {
  max-width: 800px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label {
  width: 100%;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: unset;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  height: 208px;
  padding: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label .wpcf7-not-valid-tip {
  font-size: 14px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button {
  text-align: center;
  margin-top: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
  color: inherit;
  width: 220px;
  padding: 10px 0;
  background-color: inherit;
  border: 1px solid;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader.is-active {
  display: inline-block;
}
body div[id^=contact-form-7-] .wpcf7-form .wpcf7-response-output {
  text-align: center;
  max-width: 754px;
  border: unset;
}
body .cf7sg-popup {
  position: relative;
}
body .display-none {
  display: none;
}
body .display-block {
  display: block;
}
body span.cf7sg-popup {
  background: rgba(227, 227, 227, 0.81);
  font-size: 1.2em;
  border-radius: 3px;
  bottom: -1.2em;
  max-height: 200px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0.4em;
  white-space: nowrap;
}
body .margin-65 {
  margin-top: -65px;
  margin-bottom: -65px;
}
@media (min-width: 577px) {
  body .image-desktop {
    display: block;
  }
  body .image-mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  body {
    min-width: auto;
  }
  body .row {
    margin-right: 0;
    margin-left: 0;
  }
  body .alignright {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .alignleft {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .image-desktop {
    display: none !important;
  }
  body .image-mobile {
    display: block;
  }
  body .scroll-top.left {
    display: none !important;
  }
  body .scroll-top.right {
    top: unset;
    bottom: 50px;
  }
  body div[id^=contact-form-7-] {
    padding: 40px 15px;
  }
  body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
    width: 100%;
  }
}

.components .component {
  margin: 65px 0;
}
.components .component .wysiwyg.padding-right-left {
  padding-right: 65px;
  padding-left: 65px;
}
.components .component .questions .questions-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.components .component .service {
  margin-bottom: -30px;
}
.components .component .service.bg-padding {
  margin-bottom: 0;
  padding: 45px 65px 15px;
}
.components .component .service .item {
  margin-bottom: 30px;
}
.components .component .wysiwyg-image .block .text {
  padding: 0 65px;
  margin: auto 0;
}
.components .component .component-with-button .hide-block {
  display: none;
}
.components .component .signatures-images .row {
  margin-bottom: -45px;
}
.components .component .signatures-images .row .signature-image {
  margin-bottom: 45px;
}
.components .component .signatures-images .row .signature-image .bg-text {
  padding: 15px;
}
.components .component .signatures-images .component-button {
  margin-top: 45px;
}
.components .component .faq {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}
.components .component .faq .wrapper-faq {
  padding: 20px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.components .component .faq .wrapper-faq .question {
  position: relative;
  padding-right: 30px;
}
.components .component .faq .wrapper-faq .question:after {
  content: "";
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.components .component .faq .wrapper-faq .answer {
  margin-top: 20px;
}
.components .component .faq .wrapper-faq.active .question:after {
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.components .component .slider .row {
  margin-bottom: -45px;
}
.components .component .slider .row .slider-images {
  margin-bottom: 45px;
}
.components .component .slider .row .slider-images .slick-dots {
  bottom: -20px;
}
.components .component .slider .row .slider-images .text {
  padding-top: 20px;
}
.components .component .slider .row .slider-images .text.bg-text {
  padding: 20px 15px 15px;
}
.components .component .slider .component-button {
  margin-top: 45px;
}
.components .component .component-button {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  padding: 20px;
}
.components .component .component-button.border-button {
  border-radius: 5px;
}
.components .component .text-in-box {
  margin-bottom: -30px;
}
.components .component .text-in-box > div {
  margin-bottom: 30px;
}
.components .component .text-in-box .col-sm-6 .text {
  padding: 40px 65px;
}
.components .component .text-in-box .col-sm-3 .text {
  padding: 30px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider {
  margin-bottom: 30px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list {
  margin: 0 -10px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list .slick-slide {
  margin: 0 10px;
}
.components .component .full-screen-slider .wrapper-full-screen-slider .slick-list .slick-slide img {
  height: auto;
  min-height: 1px;
}
.components .component .full-screen-slider .prev,
.components .component .full-screen-slider .next {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
}
.components .component .full-screen-slider .prev:after,
.components .component .full-screen-slider .next:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.components .component .full-screen-slider .next {
  margin-left: 20px;
}
.components .component .full-screen-slider .next:after {
  left: 11px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.components .titleBlock .title__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.components .titleBlock .title__container .title__slider .slider__item {
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container .item__infoBox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.68421052%;
          flex: 0 0 48.68421052%;
  background-color: rgba(30, 30, 30, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 65px;
  color: #fff;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container .item__infoBox .infoBox__title {
  font-size: 48px;
  line-height: 100%;
  padding-bottom: 30px;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container .item__infoBox .infoBox__text {
  font-size: 16px;
  line-height: 156.25%;
  padding-bottom: 40px;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container .item__infoBox .item__infoBox_btn {
  border-color: #fff;
  color: #fff;
  width: 100%;
  max-width: 285px;
}
.components .titleBlock .title__container .title__slider .slider__item .item__container .item__infoBox .item__infoBox_btn:hover {
  background-color: #fff;
  color: #000;
}
.components .titleBlock .title__container .title__slider .fullGlassHouse {
  background: url(../../image/fullGlassHouse.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .title__slider .aluminumWindows {
  background: url(../../image/aluminumWindows.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .title__slider .slidingSystems {
  background: url(../../image/slidingSystems.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .title__slider .internalPartitions {
  background: url(../../image/internalPartitions.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .title__slider .gatesAndShutters {
  background: url(../../image/gatesAndShutters.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .title__slider .slick-next, .components .titleBlock .title__container .title__slider .slick-prev {
  top: auto;
  right: auto;
  left: 13px;
  bottom: 49px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  z-index: 1;
}
.components .titleBlock .title__container .title__slider .slick-next::before, .components .titleBlock .title__container .title__slider .slick-prev::before {
  display: none;
}
.components .titleBlock .title__container .title__slider .slick-prev {
  bottom: 89px;
  left: 48px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.components .contactForm .contactForm__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background: url();
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.components .contactForm .contactForm__container .contactForm__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.components .contactForm .contactForm__container .contactForm__block .userForm {
  color: #1e1e1e;
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm__title {
  color: #ed3a4d;
  font-size: 36px;
  line-height: 105.5555555556%;
  padding-bottom: 20px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm__subtitle {
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 35px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox {
  padding-bottom: 35px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .input__title {
  display: block;
  font-size: 13px;
  line-height: 184.6153846154%;
  margin-bottom: 5px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .userForm__input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  padding: 10px 0;
  width: 100%;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .userForm__input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .userForm__input:-ms-input-placeholder {
  color: #c4c4c4;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .userForm__input::-ms-input-placeholder {
  color: #c4c4c4;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox .userForm__input::placeholder {
  color: #c4c4c4;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox:last-child {
  padding-bottom: 0;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex .inputbox {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0 15px;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex .inputbox .userForm__selectList {
  border: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex .inputbox .userForm__selectList .marker {
  display: none;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex .inputbox .userForm__selectList option {
  cursor: pointer;
}
.components .contactForm .contactForm__container .contactForm__block .userForm .inputbox_flex .inputbox .userForm__selectList option:hover {
  background-color: #ed3a4d;
  color: #fff;
}
.components .contactForm .contactForm__container .contactForm__block .imageBox {
  margin-bottom: 85px;
}
.components .contactForm .contactForm__container .contactForm__block .imageBox:last-child {
  margin-bottom: 0;
}
.components .contactForm .contactForm__container .contactForm__block .imageBox:last-child img {
  margin-left: auto;
}
.components .partners {
  background-color: #1e1e1e;
  padding: 80px 15px;
}
.components .partners__container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}
.components .partners__container .container__title {
  color: #fff;
  font-size: 36px;
  padding-bottom: 50px;
}
.components .partners__container .partners__slider .partners__item img {
  margin: 0 auto;
}
.components .partners__container .partners__slider .slick-arrow::before {
  display: none;
}
.components .aboutUs {
  background-color: #1e1e1e;
}
.components .aboutUs__container {
  color: #fff;
  font-size: 36px;
  margin: 0 auto;
  max-width: 950px;
  padding: 40px 0 100px;
  width: 100%;
}
.components .aboutUs__container .container__title {
  padding-bottom: 60px;
}
.components .aboutUs__container .conteiner__article {
  padding-bottom: 80px;
}
.components .aboutUs__container .conteiner__article .seeMore {
  border-color: #fff;
  color: #fff;
  float: right;
  width: 250px;
}
.components .aboutUs__container .conteiner__article .seeMore:hover {
  background-color: #fff;
  color: #000;
}
.components .aboutUs__container .conteiner__article .article__text {
  font-size: 0.4444em;
  line-height: 156.25%;
}
.components .aboutUs__container .conteiner__article .article__text__container {
  max-width: 539px;
  width: 100%;
  padding-bottom: 10px;
}
.components .aboutUs__container .conteiner__article .article__text_hideText {
  display: none;
  overflow: hidden;
}
.components .aboutUs__container .conteiner__article .article__text_hideText .seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  margin: 0 auto;
  margin-top: 30px;
}
.components .aboutUs__container .aboutUs__slider .certificate__photo {
  margin: 0 15px;
}
.components .aboutUs__container .aboutUs__slider .certificate__photo a img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.components .aboutUs__container .aboutUs__slider .certificate .slick-arrow::before {
  display: none;
}
.components .breadcrumb .breadcrumb__box {
  padding: 29px 0;
}
.components .breadcrumb .breadcrumb__box .box__item {
  display: inline;
  font-size: 13px;
  color: #fff;
}
.components .breadcrumb .breadcrumb__box .box__item + .box__item::before {
  padding: 4px;
  color: #fff;
  content: "/ ";
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink {
  color: #fff;
  text-decoration: none;
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink:hover {
  text-decoration: underline;
}
.components .titleBlock {
  margin-top: -142px;
}
.components .titleBlock .title__container {
  background: url(../../image/aluminumWindows.jpg) center/cover no-repeat;
}
.components .titleBlock .title__container .container_screen {
  background-color: rgba(30, 30, 30, 0.7);
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
}
.components .titleBlock .title__container .container_screen .contentBox {
  margin: 0 auto;
  max-width: 950px;
  padding: 207px 15px 76px;
  width: 100%;
}
.components .titleBlock .title__container .container_screen .contentBox .textBlock {
  color: #fff;
  font-size: 16px;
  max-width: 525px;
  width: 100%;
}
.components .titleBlock .title__container .container_screen .contentBox .textBlock .textBlock__title {
  font-size: 3em;
  font-weight: 500;
  padding-bottom: 20px;
}
.components .titleBlock .title__container .container_screen .contentBox .textBlock .textBlock__subtitle {
  line-height: 156.25%;
}
.components .brandNav .brandNav__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60px;
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}
.components .brandNav .brandNav__box .box__item {
  margin: 0 15px;
}
.components .brandNav .brandNav__box .box__item .item__link {
  color: #1e1e1e;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .components .component p {
    padding-left: 0 !important;
  }
  .components .component .wysiwyg {
    padding: 15px !important;
  }
  .components .component .faq {
    padding: 0 15px;
  }
  .components .component .full-screen-slider {
    padding: 0 15px;
  }
  .components .component .questions {
    padding: 15px;
  }
  .components .component .questions .icon {
    display: none;
  }
  .components .component .questions .questions-col {
    display: block;
    padding: 0;
  }
  .components .component .questions .questions-col .question {
    text-align: left !important;
    margin-bottom: 15px;
  }
  .components .component .questions .questions-col .question p {
    text-align: left !important;
  }
  .components .component .service.bg-padding {
    padding: 15px;
  }
  .components .component .service.bg-padding .item {
    padding: 0;
  }
  .components .component .wysiwyg-image .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .components .component .wysiwyg-image .block .image-mobile {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .components .component .wysiwyg-image .block .text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 15px !important;
    margin: 0;
  }
  .components .component .text-in-box .col-sm-6 .text,
.components .component .text-in-box .col-sm-3 .text {
    padding: 15px;
  }
}

#header.fixed-header .top-header,
#header.fixed-header .navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#header .top-header .header-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
#header .top-header .header-wrapper.padding-top-header {
  padding-right: 30px;
  padding-left: 30px;
}
#header .top-header .header-wrapper .slug-or-name-company {
  margin-bottom: 0;
}
#header .top-header .header-wrapper .logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .logo a img {
  margin: 0 auto;
}
#header .top-header .header-wrapper .info {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#header .top-header .header-wrapper .info .text-header-info {
  font-size: 12px;
}
#header .top-header .header-wrapper .info .text-header-info > div {
  margin-right: 30px;
}
#header .top-header .header-wrapper .info .text-header-info > div:last-child {
  margin-right: 0;
}
#header .top-header .header-wrapper .numbers {
  font-size: 18px;
}
#header .top-header .header-wrapper .numbers span {
  white-space: pre-wrap;
}
#header .top-header .header-wrapper .header-type-3 .numbers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .header-type-3 .numbers .number {
  font-size: 21px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button {
  margin-left: 10px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button .link-header-button {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 160px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
#header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button .link-header-button.border-button {
  border-radius: 5px;
}
#header .top-header .header-wrapper .header-type-4 .info .text-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .top-header .header-wrapper .header-type-4 .navbar-wrapper {
  padding-left: 30px;
}
#header .top-header .header-wrapper .languages.numbers .language {
  margin-left: 10px;
}
#header .top-header .header-wrapper .languages .language {
  margin-right: 5px;
}
#header .top-header .header-wrapper .languages .language:last-child {
  margin-right: 0;
}
#header .top-header .header-wrapper .languages .language.active {
  color: #0056b3;
}
#header .bottom-header {
  overflow: hidden;
}
#header .bottom-header .wrapper-size {
  position: relative;
}
#header .bottom-header .wrapper-size .header-image-bg {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#header .bottom-header .wrapper-size .header-image-text .image-text {
  padding: 0 65px;
  margin: auto 0;
}
#header .navbar-wrapper .navbar {
  padding: 10px 0;
}
#header .navbar-wrapper .navbar.padding-navbar {
  padding-right: 30px;
  padding-left: 30px;
}
#header .navbar-wrapper .navbar .navbar-toggler {
  margin-right: 10px;
  border-color: #808080;
}
#header .navbar-wrapper .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item {
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-right: 40px;
  list-style-type: none;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  padding: 0;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  display: none;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.active,
#header .navbar-wrapper .navbar .navbar-nav .nav-item .dropdown-item.active {
  color: #0056b3;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown {
  margin-right: 20px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-toggle {
  display: inline-block;
  margin-right: 5px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-arrow {
  display: inline-block;
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  margin: 0;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  white-space: normal;
  font-size: 13px;
  padding-right: 20px;
  padding-left: 20px;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: unset;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  background-color: unset;
}
#header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .dropdown-arrow {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 576px) {
  #header .top-header {
    text-align: center;
  }
  #header .top-header .header-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  #header .top-header .header-wrapper.padding-top-header {
    padding-right: 15px;
    padding-left: 15px;
  }
  #header .top-header .header-wrapper .d-flex {
    display: block !important;
  }
  #header .top-header .header-wrapper .slug-or-name-company {
    margin-bottom: 15px;
  }
  #header .top-header .header-wrapper .logo img {
    margin: 0 auto;
  }
  #header .top-header .header-wrapper .info {
    text-align: center;
    display: block;
  }
  #header .top-header .header-wrapper .info .text-header-info > div {
    display: block !important;
    margin: 10px 0;
  }
  #header .top-header .header-wrapper .header-type-3 .numbers {
    white-space: normal;
  }
  #header .top-header .header-wrapper .header-type-3 .wrapper-header-button .header-button {
    margin-left: 0;
    margin-top: 10px;
  }
  #header .top-header .header-wrapper .header-type-4 .info {
    width: 100% !important;
  }
  #header .top-header .header-wrapper .header-type-4 .info .text-header-info {
    display: block;
  }
  #header .top-header .header-wrapper .header-type-4 .navbar-wrapper {
    padding-left: 0;
  }
  #header .bottom-header .wrapper-size .header-image-bg {
    display: none;
  }
  #header .bottom-header .wrapper-size .header-image-text .image-text {
    padding: 15px;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item {
    margin-right: 0;
    padding-top: 5px;
    text-align: center;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown {
    margin-right: 0;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .nav-link {
    padding-right: 0;
  }
  #header .navbar-wrapper .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    text-align: center;
    margin-top: 5px;
  }
}
#header .header__container {
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1000;
}
#header .header__container .menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  -webkit-transition: flex-grow 1s ease, -webkit-box-flex 1s ease;
  transition: flex-grow 1s ease, -webkit-box-flex 1s ease;
  -o-transition: flex-grow 1s ease;
  transition: flex-grow 1s ease;
  transition: flex-grow 1s ease, -webkit-box-flex 1s ease, -ms-flex-positive 1s ease;
  z-index: 11;
}
#header .header__container .menu .menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ED3A4D;
  height: 100%;
}
#header .header__container .menu .menuBtn .menuBtn__container {
  cursor: pointer;
}
#header .header__container .menu .menuBtn .menuBtn__container .btn__title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.12em;
  padding-bottom: 7px;
  -webkit-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
}
#header .header__container .menu .menuBtn .menuBtn__container .btn__line {
  height: 3px;
  width: 47px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
#header .header__container .menu .menuBtn .menuBtn__container .btn__line:last-child {
  margin-top: 7px;
}
#header .header__container .menu_open {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#header .header__container .menu_open .menuBtn .menuBtn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 30px;
}
#header .header__container .menu_open .menuBtn .menuBtn__container .btn__title {
  font-size: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}
#header .header__container .menu_open .menuBtn .menuBtn__container .line__box {
  cursor: pointer;
}
#header .header__container .menu_open .menuBtn .menuBtn__container .btn__line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}
#header .header__container .menu_open .menuBtn .menuBtn__container .btn__line:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  bottom: 10px;
}
#header .header__container .menu__window {
  position: absolute;
  top: -1000%;
  padding-top: 130px;
  width: 100%;
  max-width: 1140px;
  overflow: auto;
  -webkit-transition: top 1s ease;
  -o-transition: top 1s ease;
  transition: top 1s ease;
  z-index: 10;
}
#header .header__container .menu__window_open {
  top: 0;
}
#header .header__container .menu__window .tovarNav {
  background-color: #fff;
  padding-top: 40px;
}
#header .header__container .menu__window .tovarNav .tovarNav__container {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  max-height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block {
  padding-bottom: 35px;
  padding-right: 10px;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__title {
  font-size: 16px;
  line-height: 125%;
  color: #ED3A4D;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__list {
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #1e1e1e;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__list .list__link {
  display: block;
  padding-bottom: 15px;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__list .list__link:first-child {
  padding-top: 20px;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__list .list__link:last-child {
  padding-bottom: 0px;
}
#header .header__container .menu__window .tovarNav .tovarNav__container .block__list .list__link:hover {
  color: #ED3A4D;
}
#header .header__container .menu__window .siteNav {
  background-color: #1E1E1E;
  padding-top: 40px;
  padding-bottom: 140px;
}
#header .header__container .menu__window .siteNav .siteNav__container {
  width: 100%;
  max-width: 920px;
  max-height: 309px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header .header__container .menu__window .siteNav .siteNav__container .block {
  padding-bottom: 30px;
}
#header .header__container .menu__window .siteNav .siteNav__container .block__title {
  font-size: 16px;
  line-height: 125%;
  color: #9e9e9e;
}
#header .header__container .menu__window .siteNav .siteNav__container .block__list .list__link {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #fff;
  font-weight: 400;
}
#header .header__container .menu__window .siteNav .siteNav__container .block__list .list__link:first-child {
  padding-top: 15px;
}
#header .header__container .menu__window .siteNav .siteNav__container .block__list .list__link:last-child {
  padding-bottom: 0;
}
#header .header__container .menu__window .siteNav .siteNav__container .block__list .list__link:hover {
  color: #9e9e9e;
}
#header .header__container .header__box {
  position: relative;
  background-color: #1E1E1E;
  -ms-flex-preferred-size: 555px;
      flex-basis: 555px;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}
#header .header__container .header__box .header__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header__container .header__box .header__block .logo {
  -webkit-box-flex: 429px;
      -ms-flex: 429px;
          flex: 429px;
}
#header .header__container .header__box .header__block .logo a img {
  margin: 0 auto;
}
#header .header__container .header__box .header__block .funcionality {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 516px;
      -ms-flex: 516px;
          flex: 516px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -20px;
}
#header .header__container .header__box .header__block .funcionality__item {
  display: block;
  margin-bottom: 20px;
}
#header .header__container .header__box .header__block .funcionality .callback {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
#header .header__container .header__box .header__block .funcionality .callback .callback__btn {
  border-color: #ed3a4d;
  width: 160px;
  height: 30px;
  color: #fff;
  text-transform: none;
}
#header .header__container .header__box .header__block .funcionality .callback .callback__btn:hover {
  background-color: #ed3a4d;
}
#header .header__container .header__box .header__block .funcionality .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px 20px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
#header .header__container .header__box .header__block .funcionality .socials .socials_link {
  display: block;
  padding: 0 7px;
}
#header .header__container .header__box .header__block .funcionality .language {
  font-size: 12px;
  color: #7b7b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#header .header__container .header__box .header__block .funcionality .language a {
  margin: 0 5px;
}
#header .header__container .header__box .header__block .funcionality .language .active {
  color: #e5e5e5;
}
@media screen and (max-width: 576px) {
  #header .header__container {
    padding: 0 15px;
  }
  #header .header__container .header__titleBox .header__nav {
    display: none;
  }
  #header .header__container .header__titleBox .mobile__nav {
    min-height: 100vh;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #fff;
    z-index: 2;
    padding: 45px 15px 30px;
    -webkit-box-shadow: 0 0 50px rgba(232, 157, 148, 0.8);
            box-shadow: 0 0 50px rgba(232, 157, 148, 0.8);
  }
  #header .header__container .header__titleBox .mobile__nav .close__button {
    display: block;
  }
  #header .header__container .header__titleBox .mobile__nav .navLink {
    display: block;
    padding: 10px 0;
  }
  #header .header__container .header__titleBox .telephoneList {
    margin-right: 20px;
  }
  #header .header__container .header__titleBox .telephoneList .phoneNumber:first-child, #header .header__container .header__titleBox .telephoneList .arrowDown {
    display: none;
  }
  #header .header__container .header__titleBox .telephoneList .telephoneIcon {
    display: block;
  }
  #header .header__container .header__titleBox .telephoneList .telephoneList__dropdownMenu {
    margin: 0;
    right: -28px;
    width: 213px;
  }
  #header .header__container .header__titleBox .burgerMenu__openBtn {
    display: block;
  }
}

#main .default-template {
  padding: 0 65px;
}
#main .default-template .title-page {
  font-size: 25px;
  margin: 45px 0;
  letter-spacing: 0;
}
@media (max-width: 576px) {
  #main .default-template {
    padding: 0 15px;
  }
  #main .default-template .title-page {
    margin: 20px 0;
  }
}

#footer .footer-wrapper {
  font-size: 15px;
  padding: 45px 0;
}
#footer .footer-wrapper.padding-footer {
  padding-right: 65px;
  padding-left: 65px;
}
#footer .footer-wrapper .footer-margin-bottom {
  margin-bottom: 30px;
}
#footer .footer-wrapper .numbers .wrapper-numbers {
  margin-bottom: 10px;
}
#footer .footer-wrapper .numbers .wrapper-numbers img {
  float: left;
}
#footer .footer-wrapper .numbers .wrapper-numbers a {
  margin-left: 30px;
}
#footer .footer-wrapper .email img {
  margin-right: 15px;
}
#footer .footer-wrapper .wrapper-icon-address {
  margin-right: 15px;
}
#footer .footer-wrapper .signature-bifo {
  font-size: 12px;
  margin-top: 20px;
}
@media (max-width: 576px) {
  #footer .footer-wrapper {
    text-align: center;
  }
  #footer .footer-wrapper.padding-footer {
    padding-right: 0;
    padding-left: 0;
  }
  #footer .footer-wrapper .signature-bifo {
    padding: 0 15px;
  }
  #footer .footer-wrapper .signature-bifo .hotlog {
    margin-top: 15px;
  }
  #footer .footer-wrapper .wrapper-icon-address {
    margin: 0 0 5px 0;
  }
  #footer .footer-wrapper .d-flex {
    display: block !important;
  }
  #footer .footer-wrapper .map {
    margin-top: 30px;
  }
  #footer .footer-wrapper .numbers .wrapper-numbers img {
    float: none;
    display: inline-block !important;
    margin-right: 15px;
  }
  #footer .footer-wrapper .numbers .wrapper-numbers a {
    display: inline-block !important;
    margin-left: 0;
  }
}
#footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1110px;
  padding-bottom: 60px;
  width: 100%;
}
#footer .footer__container .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .footer__container .block:first-child {
  max-width: 382px;
  width: 100%;
}
#footer .footer__container .block:not(:first-child) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#footer .footer__container .block .title .title__logo img {
  margin: 0 auto;
}
#footer .footer__container .block .social .social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 90px;
  width: 100%;
}
#footer .footer__container .block .button {
  margin: 0 auto;
}
#footer .footer__container .block .button .footer__btn {
  font-weight: 400;
  height: 30px;
  width: 160px;
}
#footer .footer__container .block .block__title {
  height: 50px;
  text-transform: uppercase;
}
#footer .footer__container .block .block__text {
  font-weight: 400;
  padding-bottom: 15px;
}
#footer .footer__container .block .block__text:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 576px) {
  #footer .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px 28px;
  }
  #footer .footerContainer .footerHeaderBox, #footer .footerContainer .footerLinkBox, #footer .footerContainer .footerPhoneBox {
    padding: 0 0 24px;
  }
  #footer .footerContainer .workTime {
    text-align: center;
  }
}