* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0px 15px;
}

.stopScrolling {
  overflow-y: hidden;
}

.font-regular {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: #000;
}

a.active {
  color: #d1bca9;
}

a:hover {
  color: #000;
}

li {
  list-style: none;
}

h2, h3, h6 {
  font-weight: normal;
}

.component {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.header .header__container .header__flexElement {
  width: 33%;
}
.header .header__container .header__flexElement:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header__container .burgerMenu {
  height: 31px;
  padding: 5px;
}
.header .header__container .burgerMenu .burgerMenu__lines {
  position: relative;
  width: 43px;
  height: 33px;
  cursor: pointer;
}
.header .header__container .burgerMenu .burgerMenu__line {
  position: absolute;
  background-color: #000;
  width: 33px;
  height: 2px;
  top: 49%;
}
.header .header__container .burgerMenu .burgerMenu__line:first-child {
  top: 25%;
}
.header .header__container .burgerMenu .burgerMenu__line:last-child {
  top: 75%;
}
.header .header__container .containerLogo {
  text-align: center;
}
.header .header__container .telephone {
  width: 100%;
  max-width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__container .telephone .telephoneIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.header .header__container .telephone .telephoneList {
  color: #000;
  font-size: 18px;
}
.header .header__container .basketAndLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 65px;
}
.header .header__container .basketAndLang .basket__icon {
  cursor: pointer;
}
.header .header__container .basketAndLang .lang__choose {
  display: block;
  width: 21px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.header .header__mobileContainer {
  display: none;
}
.header .header__nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 0;
}
.header .header__nav .navList .navList__item .navLink {
  text-transform: uppercase;
  font-size: 14px;
}
.header .burgerWindow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(237, 237, 237, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.header .burgerWindow .burgerWindow__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}
.header .burgerWindow .burgerWindow__navMenu {
  background-color: #fff;
  opacity: 1;
  padding: 13px 0;
  width: 255px;
  position: relative;
}
.header .burgerWindow .burgerWindow__navMenu .btn-close {
  position: relative;
  margin-left: auto;
  margin-right: 13px;
  display: block;
  font-size: 19px;
  -webkit-filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(358deg) brightness(93%) contrast(107%);
          filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(358deg) brightness(93%) contrast(107%);
  opacity: 1;
}
.header .burgerWindow .burgerWindow__navMenu .burgerNav {
  width: 100%;
  padding: 0;
}
.header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item {
  width: 100%;
  height: 44px;
  padding-left: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}
.header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item a {
  display: block;
}
.header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item:hover {
  background-color: #e8bfc5;
}
.header .burgerWindow .accordion {
  display: none;
}
.header .open {
  display: block;
}
@media screen and (max-width: 576px) {
  .header .header__container, .header .header__nav {
    display: none;
  }
  .header .header__mobileContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__mobileContainer .burgerMenu {
    height: 31px;
    padding: 5px;
  }
  .header .header__mobileContainer .burgerMenu .burgerMenu__lines {
    position: relative;
    width: 43px;
    height: 33px;
    cursor: pointer;
  }
  .header .header__mobileContainer .burgerMenu .burgerMenu__line {
    position: absolute;
    background-color: #000;
    width: 33px;
    height: 2px;
    top: 49%;
  }
  .header .header__mobileContainer .burgerMenu .burgerMenu__line:first-child {
    top: 25%;
  }
  .header .header__mobileContainer .burgerMenu .burgerMenu__line:last-child {
    top: 75%;
  }
  .header .burgerWindow {
    display: none;
    background-color: #fff;
    height: auto;
  }
  .header .burgerWindow .accordion-button {
    border: 1px solid #eaeaea;
  }
  .header .burgerWindow .accordion-button:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .burgerWindow .accordion {
    display: block;
  }
  .header .burgerWindow .burgerWindow__navMenu {
    padding: 0;
    width: 100%;
    padding-right: 45px;
    position: relative;
  }
  .header .burgerWindow .burgerWindow__navMenu .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .header .burgerWindow .burgerWindow__navMenu .accordion-item {
    background-color: #f5f5f5;
  }
  .header .burgerWindow .burgerWindow__navMenu .accordion-item .accordion-body {
    padding: 0 0 0 10px;
  }
  .header .burgerWindow .burgerWindow__navMenu .accordion-item .list-group-item {
    border: none;
    background-color: transparent;
  }
  .header .burgerWindow .burgerWindow__navMenu .accordion-item .accordion-collapse {
    border: none;
  }
  .header .burgerWindow .burgerWindow__navMenu .languageBox {
    background-color: #000;
  }
  .header .burgerWindow .burgerWindow__navMenu .languageBox .accordion-body {
    padding: 0;
    border: none;
  }
  .header .burgerWindow .burgerWindow__navMenu .languageBox .list-group-item {
    background-color: #000;
    color: #fff;
  }
  .header .burgerWindow .burgerWindow__navMenu .accordion-button {
    padding: 0;
    font-size: 16px;
    padding: 16px;
    background-color: #f5f5f5;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item {
    padding: 10px 16px;
    font-size: 16px;
    text-transform: capitalize;
    line-height: normal;
    height: auto;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item:hover {
    background-color: #000;
  }
  .header .burgerWindow .burgerWindow__navMenu .langChoose .accordion-button, .header .burgerWindow .burgerWindow__navMenu .NashiPoslygiItem .accordion-button {
    background-color: #000;
    color: #fff;
    border-radius: 0;
  }
  .header .burgerWindow .burgerWindow__navMenu .langChoose .accordion-button::after, .header .burgerWindow .burgerWindow__navMenu .NashiPoslygiItem .accordion-button::after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(114deg) brightness(106%) contrast(101%);
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(114deg) brightness(106%) contrast(101%);
    opacity: 1;
  }
  .header .burgerWindow .burgerWindow__navMenu .langChoose .accordion-button.collapsed::after, .header .burgerWindow .burgerWindow__navMenu .NashiPoslygiItem .accordion-button.collapsed::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .burgerWindow .burgerWindow__navMenu .notAccordion::after {
    display: none;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav {
    background-color: #000;
    height: 100vh;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .burgerNav__item a {
    color: #fff;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .NashiPoslygiItem .accordion-button {
    border: none;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .NashiPoslygiItem .accordion-button::after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .NashiPoslygiItem .accordion-button:not(.collapsed)::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .accordion-body {
    background-color: #000;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .nashiPoslygiBox {
    border: none;
  }
  .header .burgerWindow .burgerWindow__navMenu .burgerNav .list-group-item {
    background-color: #000;
    color: #fff;
  }
  .header .open {
    display: block;
  }
}

.body__line {
  border-bottom: 1px solid #eaeaea;
  opacity: 1;
}

.components .breadcrumb__block .breadcrumb .breadcrumb-item {
  font-size: 12px;
}
.components .breadcrumb__block .breadcrumb .breadcrumb-item .breadcrumb-itemLink {
  color: #707070;
}
.components .breadcrumb__block .breadcrumb .breadcrumb-item:last-child {
  color: #000;
}
.components .katalog__block .katalog__blockTitle {
  font-size: 24px;
  text-align: center;
}
.components .katalog__block .katalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.components .katalog__block .sortMenu {
  width: 100%;
  max-width: 255px;
}
.components .katalog__block .sortMenu .sortMenu__title_mobile, .components .katalog__block .sortMenu .sortMenu__btnBox {
  display: none;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-collapse, .components .katalog__block .sortMenu .accordion .accordion-item .accordion-button {
  border: none;
}
.components .katalog__block .sortMenu .accordion .accordion-item:last-child .accordion-button {
  border-bottom: 1px solid #eaeaea;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button {
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #eaeaea;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  background-image: url("../../image/minus.svg");
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button::after {
  font-size: 16px;
  background-image: url("../../image/plus.svg");
}
.components .katalog__block .sortMenu .accordion .list-group {
  color: #000;
}
.components .katalog__block .sortMenu .accordion .list-group .checkboxText > span {
  color: #707070;
}
.components .katalog__block .sortMenu .accordion .list-group .list-group-item {
  border: none;
  cursor: pointer;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox] {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #eaeaea;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox]:disabled {
  border-color: #eaeaea;
  opacity: 1;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox]:disabled + .checkboxText {
  color: #aaa;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked[type=checkbox] {
  background-image: none;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked {
  background-color: #e8bfc5;
  border-color: #e8bfc5;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked + .checkboxText {
  font-weight: bold;
}
.components .katalog__block .tovary {
  text-align: center;
  width: 100%;
}
.components .katalog__block .tovary .sortirovka__btnBox .sortirovka__btnBox_mobile {
  display: none;
}
.components .katalog__block .tovary .sortirovka__btnBox p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 302px;
  font-size: 13px;
  color: #000;
}
.components .katalog__block .tovary .sortirovka__btnBox p .vubranaBtn {
  color: #ebc8cc;
}
.components .katalog__block .tovary .sortirovka__btnBox p .vubranaArrow {
  -webkit-filter: invert(1) sepia(1) saturate(20) hue-rotate(275deg);
          filter: invert(1) sepia(1) saturate(20) hue-rotate(275deg);
}
.components .katalog__block .tovary .sortirovka__btnBox p .sortirovka__arrowBtn:not(.vubranaArrow) {
  -webkit-filter: invert(90%) sepia(2%) saturate(9%) hue-rotate(324deg) brightness(89%) contrast(77%);
          filter: invert(90%) sepia(2%) saturate(9%) hue-rotate(324deg) brightness(89%) contrast(77%);
}
.components .katalog__block .tovary .sortirovka__btnBox p span, .components .katalog__block .tovary .sortirovka__btnBox p img {
  cursor: pointer;
}
.components .katalog__block .tovary .katalog__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 855px;
  margin: -15px;
  padding-bottom: 90px;
}
.components .katalog__block .tovary .katalog__table .table__item {
  width: 100%;
  max-width: 255px;
  text-align: center;
  position: relative;
  padding: 0 15px 15px;
  margin: 15px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.components .katalog__block .tovary .katalog__table .table__item p {
  margin-bottom: 0;
}
.components .katalog__block .tovary .katalog__table .table__item .item__image {
  width: 100%;
}
.components .katalog__block .tovary .katalog__table .table__item .item__name {
  font-size: 16px;
  color: #000;
}
.components .katalog__block .tovary .katalog__table .table__item .item__nameEng {
  font-size: 12px;
  color: #aaa;
}
.components .katalog__block .tovary .katalog__table .table__item .item__price {
  font-size: 18px;
  color: #000;
}
.components .katalog__block .tovary .katalog__table .table__item .item__price .oldPrice {
  color: #aaa;
  font-size: 14px;
  text-decoration: line-through;
}
.components .katalog__block .tovary .katalog__table .table__item .akciaFlag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fee0e4;
  font-size: 11px;
  padding: 0px 8px;
}
.components .katalog__block .tovary .katalog__table .table__item .item__buyBtn {
  border: 1px solid #000;
  font-size: 14px;
  background-color: #fee0e4;
  width: 100%;
  max-width: 260px;
  height: 45px;
  display: none;
  margin: 15px 0;
}
.components .katalog__block .tovary .katalog__table .table__item:hover {
  border: 1px solid #fee0e4;
  -webkit-box-shadow: 0px 0px 36.4px 3.6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 36.4px 3.6px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  z-index: 1;
  margin-bottom: -60px;
}
.components .katalog__block .tovary .katalog__table .table__item:hover .item__buyBtn {
  display: inline-block;
}
.components .katalog__block .tovary .katalog__seeMoreBtn {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
  padding-bottom: 62px;
}
@media screen and (max-width: 576px) {
  .components .katalog__block .katalog__container {
    display: block;
  }
  .components .katalog__block .katalog__container .sortMenu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;
    z-index: 2;
    max-width: 100vw;
    height: 300vh;
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__title_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__title_mobile .title__name {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-bottom: 0;
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__title_mobile .btn-close {
    padding: 0 10px 0 17px;
    -webkit-filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(358deg) brightness(93%) contrast(107%);
            filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(358deg) brightness(93%) contrast(107%);
    opacity: 1;
  }
  .components .katalog__block .katalog__container .sortMenu .accordion {
    margin-right: 43px;
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__btnBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 36.4px 3.6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 36.4px 3.6px rgba(0, 0, 0, 0.1);
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__btnBox .sortMenuBtn {
    margin: 4px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    height: 30px;
    background-color: #fff;
    outline: none;
  }
  .components .katalog__block .katalog__container .sortMenu .sortMenu__btnBox .sortMenuBtn:active {
    background-color: #fcdfe4;
  }
  .components .katalog__block .katalog__container .open {
    display: block;
  }
  .components .katalog__block .katalog__container .katalog__table {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item {
    max-width: 160px;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item .item__name {
    font-size: 10px;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item .item__nameEng {
    font-size: 7px;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item .item__price {
    font-size: 11px;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item .item__price .oldPrice {
    font-size: 8px;
  }
  .components .katalog__block .katalog__container .katalog__table .table__item .akciaFlag {
    font-size: 10px;
  }
  .components .katalog__block .katalog__container .sortirovka__btnBox p {
    display: none;
  }
  .components .katalog__block .katalog__container .tovary .sortirovka__btnBox_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  .components .katalog__block .katalog__container .tovary .sortirovka__btnBox_mobile .filtruBtn, .components .katalog__block .katalog__container .tovary .sortirovka__btnBox_mobile .SortirovatBtn {
    width: 50%;
    border: 1px solid #eaeaea;
    color: #000;
  }
}