* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0px 15px;
}

.stopScrolling {
  overflow-y: hidden;
}

.font-regular {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: #000;
}

a.active {
  color: #d1bca9;
}

a:hover {
  color: #000;
}

li {
  list-style: none;
}

h2, h3, h6 {
  font-weight: normal;
}

.component {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.header .header__container .header__flexElement {
  width: 33%;
}
.header .header__container .header__flexElement:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header__container .burgerMenu {
  height: 31px;
  padding: 5px;
}
.header .header__container .burgerMenu .burgerMenu__lines {
  position: relative;
  width: 43px;
  height: 33px;
  cursor: pointer;
}
.header .header__container .burgerMenu .burgerMenu__line {
  position: absolute;
  background-color: #000;
  width: 33px;
  height: 2px;
  top: 49%;
}
.header .header__container .burgerMenu .burgerMenu__line:first-child {
  top: 25%;
}
.header .header__container .burgerMenu .burgerMenu__line:last-child {
  top: 75%;
}
.header .header__container .containerLogo {
  text-align: center;
}
.header .header__container .telephone {
  width: 100%;
  max-width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__container .telephone .telephoneIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.header .header__container .telephone .telephoneList {
  color: #000;
  font-size: 18px;
}
.header .header__container .basketAndLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 65px;
}
.header .header__container .basketAndLang .basket__icon {
  cursor: pointer;
}
.header .header__container .basketAndLang .lang__choose {
  display: block;
  width: 21px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.header .header__nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 0;
}
.header .header__nav .navList .navList__item .navLink {
  text-transform: uppercase;
  font-size: 14px;
}

.body__line {
  border-bottom: 1px solid #eaeaea;
  opacity: 1;
}

.components .breadcrumb__block .breadcrumb .breadcrumb-item {
  font-size: 12px;
}
.components .breadcrumb__block .breadcrumb .breadcrumb-item .breadcrumb-itemLink {
  color: #707070;
}
.components .breadcrumb__block .breadcrumb .breadcrumb-item:last-child {
  color: #000;
}
.components .katalog__block .katalog__blockTitle {
  font-size: 24px;
  text-align: center;
}
.components .katalog__block .sortMenu {
  width: 100%;
  max-width: 255px;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-collapse, .components .katalog__block .sortMenu .accordion .accordion-item .accordion-button {
  border: none;
}
.components .katalog__block .sortMenu .accordion .accordion-item:last-child .accordion-button {
  border-bottom: 1px solid #eaeaea;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button {
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #eaeaea;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  background-image: url("../../image/minus.svg");
}
.components .katalog__block .sortMenu .accordion .accordion-item .accordion-button::after {
  font-size: 16px;
  background-image: url("../../image/plus.svg");
}
.components .katalog__block .sortMenu .accordion .list-group {
  color: #000;
}
.components .katalog__block .sortMenu .accordion .list-group .checkboxText > span {
  color: #707070;
}
.components .katalog__block .sortMenu .accordion .list-group .list-group-item {
  border: none;
  cursor: pointer;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox] {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #eaeaea;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox]:disabled {
  border-color: #eaeaea;
  opacity: 1;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input[type=checkbox]:disabled + .checkboxText {
  color: #aaa;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked[type=checkbox] {
  background-image: none;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked {
  background-color: #e8bfc5;
  border-color: #e8bfc5;
}
.components .katalog__block .sortMenu .accordion .list-group .form-check-input:checked + .checkboxText {
  font-weight: bold;
}