@charset "UTF-8";
.white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text a, .white-text p, .white-text li, .white-text div {
  color: white;
  fill: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.siteBtn {
  border: 1px solid #D7B46A;
  background-color: transparent;
  color: #D7B46A;
  outline: none;
  width: 220px;
  height: 50px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.siteBtn:hover {
  background-color: #D7B46A;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #373737;
  min-width: 1140px;
}
body *:focus {
  outline: none !important;
}
body .wrapper-size {
  width: 1140px;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  body .wrapper-size {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  letter-spacing: 1px;
}
body img {
  display: block;
}
body .no-margin-wp h1, body .no-margin-wp h2, body .no-margin-wp h3, body .no-margin-wp h4, body .no-margin-wp h5, body .no-margin-wp h6, body .no-margin-wp a, body .no-margin-wp p, body .no-margin-wp ul {
  margin-bottom: 0;
}
body .fancybox-img-without-link {
  cursor: pointer;
}
body .fancybox-container {
  z-index: 9999999;
}
body .popup {
  padding: 0;
}
body .popup .text {
  max-width: -webkit-fit-content;
  max-width: fit-content;
  padding: 0 50px;
}
body .popup.no-image .text {
  max-width: 600px;
}
body .alignright {
  float: right;
}
body .alignleft {
  float: left;
}
body .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .search-icon {
  display: block;
  position: relative;
}
body .search-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  width: 24px;
  background-image: url("../../images/search-icon.svg");
}
body .font-regular {
  font-weight: normal !important;
}
body .font-bold {
  font-weight: bold !important;
}
body .scroll-top {
  display: none;
  position: fixed;
  top: 70%;
  width: 44px;
  height: 44px;
  background-image: url("../../images/scroll-to-top.png");
  cursor: pointer;
  z-index: 9999999;
}
body .scroll-top.left {
  left: 10px;
}
body .scroll-top.right {
  right: 10px;
}
body .slider-wrapper.slick-dotted {
  margin-bottom: 0;
}
body .slider-wrapper .slick-slide {
  height: auto;
  min-height: 1px;
}
body .slider-wrapper .slick-dots {
  bottom: 0;
}
body .slider-wrapper .slick-dots li button:before {
  font-size: 20px;
}
body .wp-block-image img {
  max-width: 100%;
  height: auto;
}
body .custom-read-more .button-custom-read-more {
  cursor: pointer;
}
body div[id^=contact-form-7-] {
  color: #fff;
  background-color: #656565;
}
body div[id^=contact-form-7-] .screen-reader-response {
  max-width: 770px;
  margin: 0 auto;
}
body div[id^=contact-form-7-] .wpcf7-form.sent {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .title-form {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form {
  max-width: 800px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label {
  width: 100%;
  margin-bottom: 20px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: unset;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-webkit-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-webkit-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input:-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea:-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::-ms-input-placeholder, body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::-ms-input-placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label input::placeholder,
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea::placeholder {
  color: #bababa;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label textarea {
  height: 208px;
  padding: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form label .wpcf7-not-valid-tip {
  font-size: 14px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button {
  text-align: center;
  margin-top: 10px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
  color: inherit;
  width: 220px;
  padding: 10px 0;
  background-color: inherit;
  border: 1px solid;
  border-radius: 5px;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader {
  display: none;
}
body div[id^=contact-form-7-] .wpcf7-form .row-form .ajax-loader.is-active {
  display: inline-block;
}
body div[id^=contact-form-7-] .wpcf7-form .wpcf7-response-output {
  text-align: center;
  max-width: 754px;
  border: unset;
}
body .cf7sg-popup {
  position: relative;
}
body .display-none {
  display: none;
}
body .display-block {
  display: block;
}
body span.cf7sg-popup {
  background: rgba(227, 227, 227, 0.81);
  font-size: 1.2em;
  border-radius: 3px;
  bottom: -1.2em;
  max-height: 200px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0.4em;
  white-space: nowrap;
}
body .margin-65 {
  margin-top: -65px;
  margin-bottom: -65px;
}
@media (min-width: 577px) {
  body .image-desktop {
    display: block;
  }
  body .image-mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  body {
    min-width: auto;
  }
  body .row {
    margin-right: 0;
    margin-left: 0;
  }
  body .alignright {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .alignleft {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  body .image-desktop {
    display: none !important;
  }
  body .image-mobile {
    display: block;
  }
  body .scroll-top.left {
    display: none !important;
  }
  body .scroll-top.right {
    top: unset;
    bottom: 50px;
  }
  body div[id^=contact-form-7-] {
    padding: 40px 15px;
  }
  body div[id^=contact-form-7-] .wpcf7-form .row-form .submit-button input[type=submit] {
    width: 100%;
  }
}

.stopScrolling {
  overflow-y: hidden;
}

a.active {
  color: #d1bca9;
}

a:hover {
  color: inherit;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

.components .siteTitle {
  color: #D7B46A;
  text-align: center;
  background-color: #fff;
  padding-bottom: 68px;
}
.components .siteTitle .frontImage {
  width: 100%;
  height: 595px;
  background: url(../../image/Front_image.png) center/cover no-repeat;
  margin-bottom: 70px;
}
.components .siteTitle .title {
  font-size: 36px;
  padding-bottom: 5px;
}
.components .siteTitle .title__sumbol {
  font-size: 24px;
}
.components .siteTitle .subtitle {
  font-size: 24px;
  padding-bottom: 5px;
}
.components .siteTitle .annotation {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  line-height: 34px;
  width: 100%;
  max-width: 730px;
  color: #000;
  font-size: 18px;
}
.components .siteTitle .siteTitle__btn:hover {
  color: #fff;
}
.components .whatWeDo .whatWeDo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 114px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 44%;
  padding-right: 11px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__image {
  background: url(../../image/Black_box_image.png) center/cover no-repeat;
  height: 460px;
  margin-bottom: 10px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  padding: 54px 78px 61px 0;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text {
  width: 100%;
  max-width: 380px;
  margin: 0;
  margin-left: auto;
  padding-bottom: 50px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text__btn {
  display: block;
  margin-left: auto;
  margin-right: 157px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text__btn:hover {
  color: #000;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__image {
  background: url(../../image/Gold_box_image.png) center/cover no-repeat;
  height: 420px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox {
  background-color: #D7B46A;
  margin-bottom: 10px;
  padding: 80px 0 60px 74px;
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text {
  width: 100%;
  max-width: 570px;
  padding-bottom: 50px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text__btn {
  border-color: #fff;
  color: #fff;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text__btn:hover {
  background-color: #fff;
  color: #D7B46A;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__image {
  background: url(../../image/White_box_image.png) center/cover no-repeat;
  width: 56%;
  margin-right: 11px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox {
  background-color: #F7F1E5;
  width: 43%;
  padding: 62px 0 56px 75px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text {
  width: 100%;
  max-width: 379px;
  font-size: 18px;
  line-height: 34px;
  padding-bottom: 50px;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text__btn {
  border-color: #000;
  color: #000;
}
.components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text__btn:hover {
  background-color: #000;
  color: #F7F1E5;
}
.components .breadcrumb .breadcrumb__box {
  padding: 10px 0;
}
.components .breadcrumb .breadcrumb__box .box__item {
  display: inline;
  font-size: 12px;
  color: #8c8c8c;
}
.components .breadcrumb .breadcrumb__box .box__item + .box__item::before {
  padding: 4px;
  color: #000;
  content: "/ ";
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink {
  color: #000;
  text-decoration: none;
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink:hover {
  text-decoration: underline;
}
.components .produkcia {
  text-align: center;
}
.components .produkcia .produkciaTitle {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.components .produkcia .produkcia__category {
  padding-bottom: 37px;
}
.components .produkcia .produkcia__category .category__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.components .produkcia .produkcia__category .category__box .box__item {
  text-align: center;
  display: block;
  border-left: 1px solid #e5e5e5;
  font-size: 12px;
  padding: 0 24px;
}
.components .produkcia .produkcia__category .category__box .box__item:last-child {
  border-right: 1px solid #e5e5e5;
}
.components .produkcia .produkcia__category .category__box .box__item .box__itemLink {
  color: #515151;
  font-size: 14px;
}
.components .produkcia .produkcia__category .category__box .active {
  border-color: #D7B46A;
}
.components .produkcia .produkcia__category .category__box .active + .box__item {
  border-color: #D7B46A;
  border-right-color: #e5e5e5;
}
.components .produkcia .produkcia__category .category__box .active:last-child {
  border-right: 1px solid #D7B46A;
}
.components .produkcia .produkcia__category .category__box .active .box__itemLink {
  color: #D7B46A;
}
.components .produkcia .produkcia__katalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.components .produkcia .produkcia__katalog .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 255px;
  padding: 38px 10px 0;
  position: relative;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.components .produkcia .produkcia__katalog .cart .imageBox {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.components .produkcia .produkcia__katalog .cart .cart__title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
}
.components .produkcia .produkcia__katalog .cart .cart__size {
  color: #8c8c8c;
  font-size: 14px;
  padding-bottom: 7px;
}
.components .produkcia .produkcia__katalog .cart .cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__roznica {
  text-align: right;
  border-right: 1px solid #e5e5e5;
  padding-right: 10px;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__roznica .price__syma {
  font-size: 16px;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__roznica .price__name {
  font-size: 10px;
  color: #8c8c8c;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__opt {
  text-align: left;
  padding-left: 10px;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__opt .price__syma {
  font-size: 16px;
  color: #D7B46A;
}
.components .produkcia .produkcia__katalog .cart .cart__price .price__opt .price__name {
  font-size: 10px;
  color: #8c8c8c;
}
.components .produkcia .produkcia__katalog .cart .cart__byuBtn {
  display: none;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
}
.components .produkcia .produkcia__katalog .cart .cart__byuBtn:hover {
  color: #fff;
}
.components .produkcia .produkcia__katalog .cart:hover {
  z-index: 1;
  margin-bottom: -60px;
  -webkit-transform: scale(1.078, 1.2);
      -ms-transform: scale(1.078, 1.2);
          transform: scale(1.078, 1.2);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
}
.components .produkcia .produkcia__katalog .cart:hover .cart__byuBtn {
  display: block;
}
.components .produkcia .produkcia__seeMoreBtn {
  display: inline-block;
  color: #8c8c8c;
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 60px;
}
.components .produkcia .propozucia {
  font-size: 16px;
  text-align: left;
  width: 100%;
  max-width: 918px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.components .produkcia .propozucia__text {
  padding-bottom: 30px;
}
.components .produkcia .propozucia__text b {
  font-weight: 500;
}
.components .produkcia .propozucia__link {
  color: #8c8c8c;
  text-decoration: underline;
}
.components .tovar {
  padding: 70px 0 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.components .tovar .imageBox {
  padding: 0px 42px 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.components .tovar .description__title {
  font-weight: 500;
  font-size: 21px;
  padding-bottom: 20px;
}
.components .tovar .description__parametr {
  font-size: 13px;
  color: #8c8c8c;
  padding-bottom: 15px;
}
.components .tovar .description__parametr_black {
  font-size: 16px;
  color: #000;
}
.components .tovar .description__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 40px;
}
.components .tovar .description__price .price__roznica, .components .tovar .description__price .price__opt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.components .tovar .description__price .price__roznica .price__vartist, .components .tovar .description__price .price__opt .price__vartist {
  font-size: 21px;
}
.components .tovar .description__price .price__roznica .text, .components .tovar .description__price .price__opt .text {
  color: #8c8c8c;
  font-size: 14px;
}
.components .tovar .description__price .price__roznica {
  border-right: 1px solid #e5e5e5;
}
.components .tovar .description__buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
}
.components .tovar .description__buttonBox .zakaz {
  margin-right: 3px;
}
.components .tovar .description__buttonBox .zakaz:hover {
  color: #fff;
}
.components .tovar .description__buttonBox .consultation {
  margin-left: 3px;
  color: #000;
  border-color: #000;
}
.components .tovar .description__buttonBox .consultation:hover {
  background-color: #000;
  color: #fff;
}
.components .tovar .description__ymovuZnuzhku {
  font-size: 14px;
}
.components .tovar .description__ymovuZnuzhku .znuzhkaLink {
  text-decoration: underline;
  color: #000;
}
.components .vuSmotreli {
  padding-bottom: 80px;
}
.components .vuSmotreli .vuSmotreli__title {
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.components .vuSmotreli .vuSmotreli__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.components .vuSmotreli .vuSmotreli__table .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 255px;
  padding: 0 10px;
  position: relative;
  background-color: #fff;
}
.components .vuSmotreli .vuSmotreli__table .cart .imageBox {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
  text-align: center;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__size {
  color: #8c8c8c;
  font-size: 14px;
  padding-bottom: 7px;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__roznica {
  text-align: right;
  border-right: 1px solid #e5e5e5;
  padding-right: 10px;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__roznica .price__syma {
  font-size: 16px;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__roznica .price__name {
  font-size: 10px;
  color: #8c8c8c;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__opt {
  text-align: left;
  padding-left: 10px;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__opt .price__syma {
  font-size: 16px;
  color: #D7B46A;
}
.components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__opt .price__name {
  font-size: 10px;
  color: #8c8c8c;
}
@media screen and (max-width: 576px) {
  .components .siteTitle {
    padding-bottom: 34px;
  }
  .components .siteTitle .frontImage {
    height: 220px;
    margin-bottom: 33px;
  }
  .components .siteTitle .title {
    padding: 0 15px 5px;
    font-size: 24px;
  }
  .components .siteTitle .subtitle {
    font-size: 18px;
    padding: 0 15px 5px;
  }
  .components .siteTitle .annotation {
    font-size: 14px;
    padding: 0 15px 25px;
  }
  .components .siteTitle .siteTitle__btn {
    font-size: 12px;
  }
  .components .whatWeDo .whatWeDo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox, .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox {
    width: 100%;
    margin-bottom: 10px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox {
    padding: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__image {
    margin-bottom: 0;
    height: 200px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text__btn {
    font-size: 12px;
    margin: 0 auto;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__image {
    height: 200px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text__btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__image {
    height: 200px;
    width: 100%;
    margin: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
    width: 100%;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text__btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
  }
  .components .breadcrumb {
    padding: 10px 15px;
  }
  .components .breadcrumb .breadcrumb__box .box__item {
    display: none;
  }
  .components .breadcrumb .breadcrumb__box .box__item:first-child, .components .breadcrumb .breadcrumb__box .box__item:last-child {
    display: inline;
  }
  .components .produkcia {
    padding: 0 15px;
  }
  .components .produkcia .produkcia__category {
    padding-bottom: 28px;
  }
  .components .produkcia .produkcia__category .category__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .components .produkcia .produkcia__category .category__box .box__item {
    margin-bottom: 15px;
    padding: 0 5px;
  }
  .components .produkcia .produkcia__category .category__box .box__item .box__itemLink {
    font-size: 12px;
  }
  .components .produkcia .produkcia__katalog {
    margin-bottom: 15px;
  }
  .components .produkcia .produkcia__katalog .cart {
    width: 50%;
  }
  .components .produkcia .produkcia__katalog .cart .imageBox img {
    width: 100%;
  }
  .components .produkcia .produkcia__katalog .cart .cart__title, .components .produkcia .produkcia__katalog .cart .cart__size {
    font-size: 12px;
  }
  .components .produkcia .produkcia__katalog .cart .cart__price .price__roznica .price__syma, .components .produkcia .produkcia__katalog .cart .cart__price .price__opt .price__syma {
    font-size: 12px;
  }
  .components .produkcia .produkcia__seeMoreBtn {
    font-size: 13px;
    margin-bottom: 34px;
  }
  .components .produkcia .propozucia {
    font-size: 14px;
    padding-bottom: 30px;
  }
  .components .produkcia .propozucia__text {
    padding-bottom: 25px;
  }
  .components .tovar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 15px 42px;
  }
  .components .tovar .imageBox {
    padding: 0px 26px 23px;
  }
  .components .tovar .imageBox .imageBox__image {
    width: 100%;
  }
  .components .tovar .description {
    text-align: center;
  }
  .components .tovar .description__title {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .components .tovar .description__parametr {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .components .tovar .description__parametr_name {
    display: none;
  }
  .components .tovar .description__parametr .articul {
    font-size: 13px;
  }
  .components .tovar .description__buttonBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .components .tovar .description__buttonBox .zakaz {
    margin: 0 0 9px;
    font-size: 12px;
  }
  .components .tovar .description__buttonBox .consultation {
    margin: 0;
    font-size: 12px;
  }
  .components .vuSmotreli {
    padding: 0 15px 36px;
  }
  .components .vuSmotreli .vuSmotreli__title {
    padding-bottom: 10px;
  }
  .components .vuSmotreli .vuSmotreli__table .cart {
    display: none;
  }
  .components .vuSmotreli .vuSmotreli__table .cart:first-child, .components .vuSmotreli .vuSmotreli__table .cart:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .imageBox img {
    width: 100%;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .cart__title, .components .vuSmotreli .vuSmotreli__table .cart .cart__size {
    font-size: 12px;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__roznica .price__syma, .components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__opt .price__syma {
    font-size: 12px;
  }
}

.header {
  width: 100%;
  background-color: #000;
  padding: 32px 0 25px;
  position: relative;
  z-index: 1;
}
.header .header__container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.header .header__container .header__titleBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 53px;
}
.header .header__container .header__titleBox .telephoneList {
  color: #D7B46A;
}
.header .header__container .header__titleBox .telephoneList .phoneNumber {
  font-size: 18px;
}
.header .header__container .header__titleBox .telephoneList .telephoneList__button {
  width: 8px;
  margin: 0 0 2px 3px;
  display: inline-block;
}
.header .header__container .header__titleBox .telephoneList .hide {
  display: none;
}
.header .header__container .header__titleBox .telephoneList:hover {
  border: 1px solid #D7B46A;
  padding-top: 42px;
  position: absolute;
  top: -32px;
  right: -26px;
  background-color: #000;
}
.header .header__container .header__titleBox .telephoneList:hover .telephoneList__button {
  margin-right: 26px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .header__container .header__titleBox .telephoneList:hover .phoneNumber {
  display: inline-block;
  padding: 0 26px 20px;
}
.header .header__container .header__titleBox .telephoneList:hover .phoneNumber:first-child {
  padding-right: 0;
}
.header .header__container .header__titleBox .telephoneList:hover .hide {
  display: block;
}
.header .header__container .header__titleBox .telephoneList:hover .workTime {
  padding: 4px 26px 24px;
  color: #D7B46A;
  font-size: 14px;
}
.header .header__container .header__titleBox .telephoneList:hover .callback {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  border-top: 1px solid #D7B46A;
  outline: none;
  cursor: pointer;
  color: #D7B46A;
  font-size: 14px;
}
.header .header__container .header__titleBox .telephoneIcon {
  display: none;
  width: 17px;
  margin-left: auto;
  margin-right: 14px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn {
  display: none;
  position: relative;
  height: 10px;
  width: 18px;
  padding: 10px 20px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line {
  background-color: #D7B46A;
  height: 1px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line:first-child {
  top: 5px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line:last-child {
  top: 15px;
}
.header .header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__container .header__nav .navLink {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.header .header__container .mobile__nav {
  display: none;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(215, 180, 106, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.header .header__container .mobile__nav .navContainer {
  min-height: 100vh;
  width: 100%;
  max-width: 300px;
  background-color: #000;
  padding: 45px 15px 30px;
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
}
.header .header__container .mobile__nav .navContainer .close__button {
  display: block;
}
.header .header__container .mobile__nav .navContainer .navLink {
  display: block;
  padding: 10px 0;
  color: #D7B46A;
}
@media screen and (max-width: 576px) {
  .header {
    padding: 32px 15px 25px;
  }
  .header .header__container .header__titleBox {
    padding-bottom: 0;
  }
  .header .header__container .header__titleBox .titleImage {
    width: 138px;
  }
  .header .header__container .header__titleBox .telephoneList {
    display: none;
  }
  .header .header__container .header__titleBox .telephoneList:hover {
    right: 87px;
  }
  .header .header__container .header__titleBox .telephoneList:hover .phoneNumber {
    font-size: 14px;
    padding: 0 26px 10px;
  }
  .header .header__container .header__titleBox .telephoneList:hover .workTime {
    font-size: 13px;
  }
  .header .header__container .header__titleBox .telephoneList__mobile {
    display: block;
    border: 1px solid #D7B46A;
    padding-top: 42px;
    position: absolute;
    top: -32px;
    right: 87px;
    background-color: #000;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .telephoneList__button {
    display: none;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .phoneNumber {
    display: inline-block;
    padding: 0 26px 10px;
    font-size: 14px;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .phoneNumber:first-child {
    padding-right: 0;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .hide {
    display: block;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .workTime {
    padding: 4px 26px 24px;
    color: #D7B46A;
    font-size: 13px;
  }
  .header .header__container .header__titleBox .telephoneList__mobile .callback {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-top: 1px solid #D7B46A;
    outline: none;
    cursor: pointer;
    color: #D7B46A;
    font-size: 14px;
  }
  .header .header__container .header__titleBox .telephoneIcon {
    display: block;
  }
  .header .header__container .header__titleBox .burgerMenu__openBtn {
    display: block;
  }
  .header .header__container .header__nav {
    display: none;
  }
  .header .header__container .mobile__nav {
    display: block;
  }
}

#main .default-template {
  padding: 0 65px;
}
#main .default-template .title-page {
  font-size: 25px;
  margin: 45px 0;
  letter-spacing: 0;
}
@media (max-width: 576px) {
  #main .default-template {
    padding: 0 15px;
  }
  #main .default-template .title-page {
    margin: 20px 0;
  }
}

.footer {
  background-color: #000;
}
.footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 50px 0 20px 0;
}
.footer .footerContainer .footerHeaderBox {
  padding-right: 114px;
}
.footer .footerContainer .footerHeaderBox .footerLogo {
  width: 160px;
}
.footer .footerContainer .footerLinkBox {
  padding-right: 108px;
}
.footer .footerContainer .footerLinkBox .link {
  display: inline-block;
  padding: 0 10px;
}
.footer .footerContainer .footerPhoneBox {
  font-size: 16px;
  color: #D7B46A;
  padding-right: 156px;
}
.footer .footerContainer .footerPhoneBox .phoneNumber {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
}
.footer .footerContainer .workTime {
  color: #D7B46A;
  font-size: 14px;
  line-height: 22.5px;
}
@media screen and (max-width: 576px) {
  .footer .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px 28px;
  }
  .footer .footerContainer .footerHeaderBox, .footer .footerContainer .footerLinkBox, .footer .footerContainer .footerPhoneBox {
    padding: 0 0 24px;
  }
  .footer .footerContainer .workTime {
    text-align: center;
  }
}