@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.stopScrolling {
  overflow-y: hidden;
}

.font-regular {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: #fff;
}

a.active {
  color: #d1bca9;
}

a:hover {
  color: #fff;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.siteBtn {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #1048E3;
  color: #fff;
  outline: none;
  width: 255px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.siteBtn:hover {
  background-color: #15DB12;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

path {
  fill: inherit;
  stroke: inherit;
}

.header {
  width: 100%;
  background-color: #fff;
  padding: 11px 15px;
  border-bottom: 1px solid #d0d0d0;
}
.header .header__container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.header .header__container .header__titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__titleBox .logoBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 66px;
}
.header .header__container .header__titleBox .telephoneList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
}
.header .header__container .header__titleBox .telephoneList .phoneNumber {
  font-size: 18px;
  color: #000;
}
.header .header__container .header__titleBox .telephoneList .phoneNumber:hover {
  color: #15DB12;
}
.header .header__container .header__titleBox .telephoneList .verticalLine {
  background-color: #15DB12;
  width: 1px;
  height: 16px;
  display: inline-block;
  margin: 0 8px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn {
  position: relative;
  height: 16px;
  width: 30px;
  cursor: pointer;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line {
  background-color: #000;
  height: 2px;
  width: 30px;
  position: absolute;
  top: 50%;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line:first-child {
  top: 0px;
}
.header .header__container .header__titleBox .burgerMenu__openBtn .burgerMenu__openBtn_line:last-child {
  top: 16px;
}
.header .header__container .header__titleBox .socialList .socialLink {
  margin-right: 9px;
}
.header .header__container .header__titleBox .socialList .socialLink .icon {
  fill: #000;
}
.header .header__container .header__titleBox .socialList .socialLink .icon:hover {
  fill: #15DB12;
}
.header .header__container .header__titleBox .socialList .socialLink:last-child {
  margin-right: 27px;
}
.header .header__container .header__titleBox .socialList .socialLink .icon-hover {
  display: none;
}
.header .header__container .header__titleBox .socialList .socialLink:hover .icon-img {
  display: none;
}
.header .header__container .header__titleBox .socialList .socialLink:hover .icon-hover {
  display: inline-block;
}
.header .header__container .header__titleBox .language {
  position: relative;
}
.header .header__container .header__titleBox .language a {
  color: #000;
  font-size: 12px;
}
.header .header__container .header__titleBox .language .langMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  top: -5px;
  left: -8px;
  z-index: 1;
}
.header .header__container .header__titleBox .language .langMenu__item {
  display: block;
  color: #000;
  padding: 7px;
}
.header .header__container .header__titleBox .language .langMenu__item:hover {
  color: #15DB12;
}
.header .header__container .header__titleBox .language:hover .langMenu {
  display: block;
}
@media screen and (max-width: 576px) {
  .header {
    padding: 32px 15px 25px;
  }
  .header .header__container .header__titleBox {
    padding-bottom: 0;
  }
  .header .header__container .header__titleBox .titleImage {
    width: 138px;
  }
  .header .header__container .header__titleBox .telephoneList {
    display: none;
  }
  .header .header__container .header__titleBox .telephoneIcon {
    display: block;
  }
  .header .header__container .header__titleBox .burgerMenu__openBtn {
    display: block;
  }
  .header .header__container .header__nav {
    display: none;
  }
}

.footer {
  background-color: #000;
}
.footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
}
.footer .footerContainer .footerInfo {
  width: 100%;
}
.footer .footerContainer .footerInfo .footerflexItem {
  width: 33%;
}
.footer .footerContainer .footerInfo .titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
}
.footer .footerContainer .footerInfo .titleBox .footerHeaderBox {
  display: inline-block;
}
.footer .footerContainer .footerInfo .titleBox .footerHeaderBox img {
  width: 80px;
}
.footer .footerContainer .footerInfo .titleBox .vopros {
  width: 158px;
  height: 40px;
  font-size: 14px;
}
.footer .footerContainer .footerInfo .titleBox .linkList .link {
  margin-right: 20px;
}
.footer .footerContainer .footerInfo .titleBox .linkList .link:last-child {
  margin-right: 0;
}
.footer .footerContainer .footerInfo .titleBox .linkList .link .icon {
  fill: white;
}
.footer .footerContainer .footerInfo .titleBox .linkList .link .icon:hover {
  fill: #15DB12;
}
.footer .footerContainer .footerInfo .contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footerContainer .footerInfo .contactBox .footerHeader .footer__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer .footerContainer .footerInfo .contactBox .footerHeader .footer__subtitle {
  font-size: 14px;
  display: inline-block;
  width: 158px;
  font-weight: 500;
  line-height: 21px;
}
.footer .footerContainer .footerInfo .contactBox .footerPhoneBox {
  font-size: 16px;
  color: #fff;
}
.footer .footerContainer .footerInfo .contactBox .footerPhoneBox .phoneNumber {
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
}
.footer .footerContainer .footerInfo .contactBox .footerPhoneBox .phoneNumber:hover {
  color: #15DB12;
}
.footer .footerContainer .footerInfo .contactBox .footerPhoneBox .email:hover {
  color: #15DB12;
}
.footer .footerContainer .footerInfo .contactBox .adresaBox .addresa {
  line-height: 24px;
  padding-bottom: 15px;
}
.footer .footerContainer .footerInfo .contactBox .adresaBox .workTime {
  line-height: 24px;
}
.footer .footerContainer .map {
  background-color: #d0d0d0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}
.footer .copyright {
  font-size: 9px;
  color: #fff;
  padding-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .footer .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px 28px;
  }
  .footer .footerContainer .footerHeaderBox, .footer .footerContainer .footerLinkBox, .footer .footerContainer .footerPhoneBox {
    padding: 0 0 24px;
  }
}

.components .baner {
  background: url(../../image/baner.png) center/cover no-repeat;
  padding: 77px 0 83px;
  position: relative;
}
.components .baner .subtitle {
  font-size: 72px;
  color: #fff;
  line-height: 69px;
  padding-bottom: 8px;
}
.components .baner .subtitle_bold {
  font-size: 52px;
  text-transform: uppercase;
  line-height: 50px;
}
.components .baner .subtitle_smaller {
  font-size: 50px;
}
.components .baner .motto {
  display: inline-block;
  color: #000;
  font-size: 21px;
  line-height: 55px;
  padding-bottom: 21px;
}
.components .baner .motto_white {
  color: #fff;
}
.components .baner .baner__btn:hover {
  background-color: #fff;
  color: #15DB12;
}
.components .baner .linkBar {
  position: absolute;
  top: 50%;
  right: 21px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.components .baner .linkBar .link {
  margin-bottom: 18px;
}
.components .baner .linkBar .link:last-child {
  margin-bottom: 0;
}
.components .weOffer {
  padding: 30px 0 88px;
}
.components .weOffer .title {
  color: #d0d0d0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.components .weOffer .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.components .weOffer .offers .offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.components .weOffer .offers .offer .offer__bg {
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 100%;
  border-radius: 20px;
  z-index: -1;
  -webkit-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
.components .weOffer .offers .offer .green {
  background-color: #15DB12;
}
.components .weOffer .offers .offer .black {
  background-color: #000;
}
.components .weOffer .offers .offer .blue {
  background-color: #1048E3;
}
.components .weOffer .offers .offer:hover .offer__bg {
  height: 100%;
}
.components .marks {
  padding-bottom: 65px;
}
.components .marks .title {
  color: #d0d0d0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.components .marks .marks__slider {
  padding-bottom: 48px;
}
.components .marks .marks__slider .marks__logo img {
  margin: 0 auto;
}
.components .marks .marks__slider .prev, .components .marks .marks__slider .next {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.components .marks .marks__slider .next {
  left: 35px;
}
.components .specialOffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.components .specialOffer .blueOffer, .components .specialOffer .blackOffer, .components .specialOffer .greenOffer {
  padding: 42px 33px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.components .specialOffer .blueOffer {
  background-color: #1048E3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.components .specialOffer .blueOffer .offer__text, .components .specialOffer .blueOffer .offer__title {
  max-width: 320px;
  margin-left: auto;
}
.components .specialOffer .blueOffer .offer__btn {
  margin-left: auto;
  margin-right: 64px;
}
.components .specialOffer .blackOffer {
  background-color: #000;
  width: 100%;
  max-width: 409px;
}
.components .specialOffer .greenOffer {
  background-color: #15DB12;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.components .specialOffer .greenOffer .offer__text, .components .specialOffer .greenOffer .offer__title {
  max-width: 320px;
}
.components .specialOffer .greenOffer .offer__btn:hover {
  background-color: #fff;
  color: #15DB12;
}
.components .specialOffer .offer__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  height: 86px;
  margin-bottom: 43px;
}
.components .specialOffer .offer__text {
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.components .specialOffer .offer__btn {
  background-color: transparent;
  border-color: #fff;
}
.components .specialOffer .offer__btn:hover {
  background-color: #15DB12;
  border-color: #15DB12;
}
.components .videoBox {
  padding: 81px 0 71px;
}
.components .videoBox .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}
.components .videoBox .videos .video {
  cursor: pointer;
}
.components .videoBox .videoBox__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.components .videoBox .videoBox__btn img {
  margin-left: 28px;
}
.components .whyWe {
  padding: 0 0 69px;
}
.components .whyWe .title {
  color: #d0d0d0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.components .whyWe .itembox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.components .whyWe .itembox .item {
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.components .whyWe .itembox .item .bigText {
  font-size: 32px;
}
.components .whyWe .itembox .item .text {
  text-align: center;
  line-height: 34px;
}
.components .whyWe .itembox .blue {
  background-color: #1048E3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.components .whyWe .itembox .black {
  background-color: #000;
  width: 255px;
}
.components .whyWe .itembox .black_bigger {
  width: 349px;
}
.components .whyWe .itembox .green {
  background-color: #15DB12;
  width: 255px;
}
.components .reviews {
  padding-bottom: 65px;
}
.components .reviews .title {
  color: #d0d0d0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.components .reviews .reviews__slider {
  padding-bottom: 48px;
}
.components .reviews .reviews__slider .reviews__response img {
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.components .reviews .reviews__slider .prev, .components .reviews .reviews__slider .next {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.components .reviews .reviews__slider .next {
  left: 35px;
}
.components .breadcrumb .breadcrumb__box {
  padding: 6px 0 32px;
}
.components .breadcrumb .breadcrumb__box .box__item {
  display: inline;
  font-size: 9px;
  color: #d0d0d0;
}
.components .breadcrumb .breadcrumb__box .box__item + .box__item::before {
  padding: 4px;
  content: "/ ";
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink {
  text-decoration: none;
  color: #000;
}
.components .breadcrumb .breadcrumb__box .box__item .box__itemLink:hover {
  text-decoration: underline;
}
.components .categoriesPage__title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  padding-bottom: 30px;
}
.components .categoriesPage .filterBlock {
  border-radius: 10px;
  overflow: hidden;
  width: 160px;
}
.components .categoriesPage .filterBlock .group {
  border-right: 1px solid #15DB12;
  border-left: 1px solid #15DB12;
}
.components .categoriesPage .filterBlock .group .listTitle {
  background-color: #1048E3;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 10px 10px 0 0;
  margin: 0 -1px;
}
.components .categoriesPage .filterBlock .group .blockItem .itemName {
  padding: 6px 12px;
  display: block;
  font-size: 13px;
}
.components .categoriesPage .filterBlock .group .blockItem .itemName input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.components .categoriesPage .filterBlock .group .blockItem .itemName input:checked + .checkboxIcon {
  background-color: #15DB12;
  border-color: #15DB12;
}
.components .categoriesPage .filterBlock .group .blockItem .itemName .checkboxIcon {
  width: 12px;
  height: 12px;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.components .categoriesPage .filterBlock .group:first-child {
  border: none;
}
.components .categoriesPage .filterBlock .group:first-child .blockItem {
  border-right: 1px solid #15DB12;
  border-left: 1px solid #15DB12;
  margin: 0;
}
.components .categoriesPage .filterBlock .group:last-child {
  border-bottom: 1px solid #15DB12;
  border-radius: 0 0 10px 10px;
}
.components .categoriesPage .filterBlock .brandBlock {
  max-height: 260px;
  overflow: hidden;
}
.components .categoriesPage .filterBlock .priceBlock {
  padding: 0 0 10px;
}
.components .categoriesPage .filterBlock .priceBlock .price__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 12px;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .range__item {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  width: 50%;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .range__item input {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  margin: 10px 0 21px;
  border: none;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .price__line {
  width: 100%;
  height: 3px;
  background-color: #e5e5e5;
  border: none;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .price__line .ui-widget-header {
  background-color: #15DB12;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .price__line .ui-corner-all {
  border-radius: 50%;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .price__line .ui-state-default {
  border: 1px solid #15DB12;
  background-color: #fff;
}
.components .categoriesPage .filterBlock .priceBlock .price__range .price__line .ui-slider-handle {
  top: -9px;
  width: 21px;
  height: 21px;
  outline: none;
}
.components .categoriesPage .carCard {
  width: 100%;
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
}
.components .categoriesPage .carCard .infoBlock .car__name {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  padding: 30px 23px;
}
.components .categoriesPage .carCard .infoBlock .car__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  padding: 0 23px;
}
.components .categoriesPage .carCard .infoBlock .car__characteristics .item {
  text-align: center;
}
.components .categoriesPage .carCard .infoBlock .car__characteristics .item .iconBox {
  color: #15DB12;
  text-align: center;
  font-size: 14px;
  padding-bottom: 8px;
}
.components .categoriesPage .carCard .infoBlock .car__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 15px;
  margin: 0 23px 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #d0d0d0;
}
.components .categoriesPage .carCard .infoBlock .car__parameters .iconBox {
  text-align: center;
  color: #15DB12;
  font-size: 14px;
  padding-right: 30px;
}
.components .categoriesPage .carCard .infoBlock .car__parameters .iconBox__text {
  margin-top: -10px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 23px 15px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock {
  width: 70%;
  padding-bottom: 15px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock .price__header {
  font-size: 14px;
  color: #15DB12;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock .price {
  font-size: 30px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock .price .price_small {
  font-weight: 500;
  font-size: 14px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock .price .price_valuta {
  font-weight: 500;
  font-size: 24px;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .priceBlock .price__text {
  font-size: 12px;
  color: #818181;
}
.components .categoriesPage .carCard .infoBlock .card__buyBlock .buttonBlock {
  width: 70%;
}
.components .categoriesPage .carCard .imageBlock {
  width: 100%;
  max-width: 540px;
}
.components .categoriesPage .carCard .imageBlock .imageBox__slider_big {
  padding-bottom: 8px;
}
.components .categoriesPage .carCard .imageBlock .imageBox__slider_small {
  margin-right: -9px;
}
.components .categoriesPage .carCard .imageBlock .imageBox__slider_small .slider__photo {
  width: 81px;
  margin-right: 9px;
}
@media screen and (max-width: 576px) {
  .components .siteTitle {
    padding-bottom: 34px;
  }
  .components .siteTitle .frontImage {
    height: 220px;
    margin-bottom: 33px;
  }
  .components .siteTitle .title {
    padding: 0 15px 5px;
    font-size: 24px;
  }
  .components .siteTitle .subtitle {
    font-size: 18px;
    padding: 0 15px 5px;
  }
  .components .siteTitle .annotation {
    font-size: 14px;
    padding: 0 15px 25px;
  }
  .components .siteTitle .siteTitle__btn {
    font-size: 12px;
  }
  .components .whatWeDo .whatWeDo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox, .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox {
    width: 100%;
    margin-bottom: 10px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox {
    padding: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__image {
    margin-bottom: 0;
    height: 200px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__blackBox .blackBox__textBox .text__btn {
    font-size: 12px;
    margin: 0 auto;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__image {
    height: 200px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__goldBox .goldBox__textBox .text__btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__image {
    height: 200px;
    width: 100%;
    margin: 0;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox {
    padding: 18px 15px 33px;
    font-size: 14px;
    width: 100%;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text {
    margin: 0;
    max-width: none;
    padding-bottom: 20px;
  }
  .components .whatWeDo .whatWeDo__container .whatWeDo__whiteBox .whiteBox__textBox .text__btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
  }
  .components .breadcrumb {
    padding: 10px 15px;
  }
  .components .breadcrumb .breadcrumb__box .box__item {
    display: none;
  }
  .components .breadcrumb .breadcrumb__box .box__item:first-child, .components .breadcrumb .breadcrumb__box .box__item:last-child {
    display: inline;
  }
  .components .produkcia {
    padding: 0 15px;
  }
  .components .produkcia .produkcia__category {
    padding-bottom: 28px;
  }
  .components .produkcia .produkcia__category .category__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .components .produkcia .produkcia__category .category__box .box__item {
    margin-bottom: 15px;
    padding: 0 5px;
  }
  .components .produkcia .produkcia__category .category__box .box__item .box__itemLink {
    font-size: 12px;
  }
  .components .produkcia .produkcia__katalog {
    margin-bottom: 15px;
  }
  .components .produkcia .produkcia__katalog .cart {
    width: 50%;
  }
  .components .produkcia .produkcia__katalog .cart .imageBox img {
    width: 100%;
  }
  .components .produkcia .produkcia__katalog .cart .cart__title, .components .produkcia .produkcia__katalog .cart .cart__size {
    font-size: 12px;
  }
  .components .produkcia .produkcia__katalog .cart .cart__price .price__roznica .price__syma, .components .produkcia .produkcia__katalog .cart .cart__price .price__opt .price__syma {
    font-size: 12px;
  }
  .components .produkcia .produkcia__seeMoreBtn {
    font-size: 13px;
    margin-bottom: 34px;
  }
  .components .produkcia .propozucia {
    font-size: 14px;
    padding-bottom: 30px;
  }
  .components .produkcia .propozucia__text {
    padding-bottom: 25px;
  }
  .components .tovar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 15px 42px;
  }
  .components .tovar .imageBox {
    padding: 0px 26px 23px;
  }
  .components .tovar .imageBox .imageBox__image {
    width: 100%;
  }
  .components .tovar .description {
    text-align: center;
  }
  .components .tovar .description__title {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .components .tovar .description__parametr {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .components .tovar .description__parametr_name {
    display: none;
  }
  .components .tovar .description__parametr .articul {
    font-size: 13px;
  }
  .components .tovar .description__buttonBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .components .tovar .description__buttonBox .zakaz {
    margin: 0 0 9px;
    font-size: 12px;
  }
  .components .tovar .description__buttonBox .consultation {
    margin: 0;
    font-size: 12px;
  }
  .components .vuSmotreli {
    padding: 0 15px 36px;
  }
  .components .vuSmotreli .vuSmotreli__title {
    padding-bottom: 10px;
  }
  .components .vuSmotreli .vuSmotreli__table .cart {
    display: none;
  }
  .components .vuSmotreli .vuSmotreli__table .cart:first-child, .components .vuSmotreli .vuSmotreli__table .cart:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .imageBox img {
    width: 100%;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .cart__title, .components .vuSmotreli .vuSmotreli__table .cart .cart__size {
    font-size: 12px;
  }
  .components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__roznica .price__syma, .components .vuSmotreli .vuSmotreli__table .cart .cart__price .price__opt .price__syma {
    font-size: 12px;
  }
}