.components{
    .baner{
        background: url(../../image/baner.png) center / cover no-repeat;
        padding: 77px 0 83px;
        position: relative;
        .subtitle{
            font-size: 72px;
            color: $textColor1;
            line-height: 69px;
            padding-bottom: 8px;
            &_bold{
                font-size: 52px;
                text-transform: uppercase;
                line-height: 50px;
            }
            &_smaller{
                font-size: 50px;
            }
        }
        .motto{
            display: inline-block;
            color: $textColor2;
            font-size: 21px;
            line-height: 55px;
            padding-bottom: 21px;
            &_white{
                color: $textColor1;
            }
        }
        
        .baner__btn:hover{
            background-color: $mainColor1;
            color: $textColor4;
        }
        .linkBar{
            position: absolute;
            top: 50%;
            right: 21px;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            .link{
                margin-bottom: 18px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .weOffer{
        padding: 30px 0 88px;
        .title{
            color: $textColor3;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        .offers{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .offer{
                position: relative;
                display: flex;
                align-items: flex-end;
                .offer__bg{
                    position: absolute;
                    bottom: 0;
                    height: 170px;
                    width: 100%;
                    border-radius: 20px;
                    z-index: -1;
                    transition: height .2s linear;
                }
                .green{
                    background-color: $mainColor3;
                }
                .black{
                    background-color: $mainColor2;
                }
                .blue{
                    background-color: $mainColor4;
                }
                &:hover{
                    .offer__bg{
                        height: 100%;
                    }
                }
            }
        }
    }
    .marks{
        padding-bottom: 65px;
        .title{
            color: $textColor3;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        .marks__slider{
            padding-bottom: 48px;
            .marks__logo img{
                margin: 0 auto;
            }
            .prev, .next {
                position: absolute;
                bottom: 0;
                cursor: pointer;
            }
            .next{
                left: 35px;
            }
        }
    }
    .specialOffer{
        display: flex;
        justify-content: center;
        color: $textColor1;
        .blueOffer, .blackOffer, .greenOffer{
            padding: 42px 33px 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .blueOffer{
            background-color: $mainColor4;
            flex: 1;
            .offer__text, .offer__title{
                max-width: 320px;
                margin-left: auto;
            }
            .offer__btn{
                margin-left: auto;
                margin-right: 64px;
            }
        }
        .blackOffer{
            background-color: $mainColor2;
            width: 100%;
            max-width: 409px;
        }
        .greenOffer{
            background-color: $mainColor3;
            flex: 1;
            .offer__text, .offer__title{
                max-width: 320px;
            }
            .offer__btn:hover{
                background-color: $mainColor1;
                color: $textColor4;
            }
        }
        .offer__title{
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            height: 86px;
            margin-bottom: 43px;
        }
        .offer__text{
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 37px;
            flex: 1;        }
        .offer__btn{
            background-color: transparent;
            border-color: $mainColor1;
            &:hover{
                background-color: $mainColor3;
                border-color: $mainColor3;
            }
        }
    }
    .videoBox{
        padding: 81px 0 71px;
        .videos{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            .video{
                cursor: pointer;
            }
        }
        .videoBox__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            img{
                margin-left: 28px;
            }
        }
    }
    .whyWe{
        padding: 0 0 69px;
        .title{
            color: $textColor3;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        .itembox{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: -15px;
            .item{
                height: 255px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin: 15px;
                color: $textColor1;
                text-transform: uppercase;
                font-size: 18px;
                .bigText{
                    font-size: 32px;
                }
                .text{
                    text-align: center;
                    line-height: 34px;
                }
            }
            .blue{
                background-color: $mainColor4;
                flex: 1;
            }
            .black{
                background-color: $mainColor2;
                width: 255px;
                &_bigger{
                    width: 349px;
                }
            }
            .green{
                background-color: $mainColor3;
                width: 255px;
            }
        }
    }
    .reviews{
        padding-bottom: 65px;
        .title{
            color: $textColor3;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        .reviews__slider{
            padding-bottom: 48px;
            .reviews__response img{
                margin: 10px auto;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
            .prev, .next {
                position: absolute;
                bottom: 0;
                cursor: pointer;
            }
            .next{
                left: 35px;
            }
        }
    }
    @media screen and (max-width: 576px) {
        .siteTitle{
            padding-bottom: 34px;
            .frontImage{
                height: 220px;
                margin-bottom: 33px;
            }
            .title{
                padding: 0 15px 5px;
                font-size: 24px;
            }
            .subtitle{
                font-size: 18px;
                padding: 0 15px 5px;
            }
            .annotation{
                font-size: 14px;
                padding: 0 15px 25px;
            }
            .siteTitle__btn{
                font-size: 12px;
            }
        }
        .whatWeDo{
            .whatWeDo__container{
                flex-direction: column;
                padding: 0;
                .whatWeDo__blackBox, .whatWeDo__goldBox{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .whatWeDo__blackBox{
                    padding: 0;
                    .blackBox__image{
                        margin-bottom: 0;
                        height: 200px;
                    }
                    .blackBox__textBox{
                        padding: 18px 15px 33px;
                        font-size: 14px;
                        .text{
                            margin: 0;
                            max-width: none;
                            padding-bottom: 20px;
                        }
                        .text__btn{
                            font-size: 12px;
                            margin: 0 auto;
                        }
                    }
                }
                .whatWeDo__goldBox{
                    flex-direction: column-reverse;
                    .goldBox__image{
                        height: 200px;
                    }
                    .goldBox__textBox{
                        padding: 18px 15px 33px;
                        font-size: 14px;
                        margin-bottom: 0;
                        .text{
                            margin: 0;
                            max-width: none;
                            padding-bottom: 20px;
                        }
                        .text__btn{
                            display: block;
                            font-size: 12px;
                            margin: 0 auto;
                        }
                    }
                }
                .whatWeDo__whiteBox{
                    flex-direction: column;
                    margin-top: 0;
                    .whiteBox__image{
                        height: 200px;
                        width: 100%;
                        margin: 0;
                    }
                    .whiteBox__textBox{
                        padding: 18px 15px 33px;
                        font-size: 14px;
                        width: 100%;
                        .text{
                            margin: 0;
                            max-width: none;
                            padding-bottom: 20px;
                        }
                        .text__btn{
                            display: block;
                            font-size: 12px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        .breadcrumb{
            padding: 10px 15px;
            .breadcrumb__box{
                .box__item{
                    display: none;
                    &:first-child, &:last-child{
                        display: inline;
                    }
                }
            }
        }
        .produkcia{
            padding: 0 15px;
            .produkcia__category{
                padding-bottom: 28px;
                .category__box{
                    flex-wrap: wrap;
                    .box__item{
                        margin-bottom: 15px;
                        padding: 0 5px;
                        .box__itemLink{
                            font-size: 12px;
                        }
                    }
                }
            }
            .produkcia__katalog{
                margin-bottom: 15px;
                .cart{
                    width: 50%;
                    .imageBox img{
                        width: 100%;
                    }
                    .cart__title, .cart__size{
                        font-size: 12px;
                    }
                    .cart__price{
                        .price__roznica .price__syma, .price__opt .price__syma{
                            font-size: 12px;
                        }
                    }
                }
            }
            .produkcia__seeMoreBtn{
                font-size: 13px;
                margin-bottom: 34px;
            }
            .propozucia{
                font-size: 14px;
                padding-bottom: 30px;
                &__text{
                    padding-bottom: 25px;
                }
            }
        }
        .tovar{
            flex-direction: column;
            padding: 22px 15px 42px;
            .imageBox{
                padding: 0px 26px 23px;
                .imageBox__image{
                    width: 100%;
                }
            }
            .description{
                text-align: center;
                &__title{
                    font-size: 16px;
                    padding-bottom: 10px;
                }
                &__parametr{
                    font-size: 14px;
                    padding-bottom: 10px;                        
                    &_name{
                        display: none;
                    }
                    .articul{
                        font-size: 13px;
                    }
                }
                &__buttonBox{
                    flex-direction: column;
                    align-items: center;
                    .zakaz{
                        margin: 0 0 9px;
                        font-size: 12px;
                    }
                    .consultation{
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }
        }
        .vuSmotreli{
            padding: 0 15px 36px;
            .vuSmotreli__title{
                padding-bottom: 10px;
            }
            .vuSmotreli__table{
                .cart{
                    display: none;
                    &:first-child, &:nth-child(2){
                        display: flex;
                    }
                    .imageBox img{
                        width: 100%;
                    }
                    .cart__title, .cart__size{
                        font-size: 12px;
                    }
                    .cart__price{
                        .price__roznica .price__syma, .price__opt .price__syma{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}