#footer{
    background-color: #f5f5f5;
    padding: 49px 15px 95px;
    .footer__container{
        margin: 0 auto;
        width: 100%;
        max-width: 1110px;
        display: flex;
        justify-content: space-between;
        line-height: 1.5;
        .navigation__link a{
            font-size: 17px;
            line-height: 1.8;
        }
    }
    .navigation__link:hover a, .container__telephone a:hover{
        color: #b80326;
    }
    @media screen and (max-width: 575px){
        .footer__container{
            flex-direction: column;
            align-items: center;
        }
        .container__adress{
            text-align: center;
        }
        .container__navigation{
            display: none;
        }
        .container__logo, .container__telephone, .container__adress{
            padding: 10px 0;
        }
    }
}