.main__header{
    background: url(../../image/header_bg.jpg) center / cover no-repeat;
    position: relative;
    padding: 121px 0 89px;
    text-align: center;
    .menu{
        height: 70px;
        width: 90px;
        background-color: #fff;
        position: fixed;
        top: 19%;
        left: 1px;
        border-radius: 0 13px 13px 0;
        cursor: pointer;
        overflow: hidden;   
        .menuX{
            height: 70px;
            width: 90px;
            position: relative;
            padding: 23px 0 23px 33px;
            .menuX__line1{
                transform: translateY(-10px);;
            }
            .menuX__line3{
                transform: translateY(10px);
            }
        }
        .menuLine{
            width: 36px;
            position: absolute;
            top: 50%;
            border: 2px solid #b80326;
        }
        .clouseBtn{
            padding: 23px 0 23px 36px;
            .menuLine{
                margin: 0;
                width: 23px;

            }
            .menuX__line1{
                transform: translate(0%, -50%) rotate(45deg);
                top: 50%;
                position: absolute;
            }
            .menuX__line2{
                transform: scale(0);
            }
            .menuX__line3{
                transform: translate(0%, -50%) rotate(-45deg);
                top: 50%;
                position: absolute;
            }
        }
        .menu__links{
            text-align: center;
            list-style: none;
            .linkItem{
                display: block;
                padding-left: 82px;
                text-align: start;
                &:first-child .linkItem__link{
                    padding-top: 0;
                    margin-top: -32px;
                }
                &:hover .linkItem__link{
                    color: #b80326;
                }
            }
            .linkItem__link{
                display: block;
                padding: 15px 0;
                color: #fff;
                font-size: 18px;
            }
        }
        @media screen and (max-width: 575px) {
            height: 56px;
            width: 72px;
            top: 5%;
            .menuX{
                height: 56px;
                width: 72px;
                padding: 23px 0 23px 20px;
            }
        }
    }
    .open{
        width: 293px;
        padding-bottom: 29px;
        height: auto;
        .menu__links .linkItem__link{
            color: #000;
        }
    }
    .header__logo{
        display: block;
        margin: 0 auto;
    }
    .lenguageMenu{
        height: 70px;
        width: 89px;
        background-color: #fff;
        position: fixed;
        top: 19%;
        right: 0;
        border-radius:13px 0 0 13px;
        cursor: pointer;
        overflow: hidden;
        .lenguageMenu__linkOff{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .lenguageMenu__links{
            padding: 19px 0 16px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .linkItem{
                display: block;
            }
            .vubrana{
                order: -1;
                .linkItem__link{
                    color: #000;
                    font-weight: bold;
                }
            }
            
            .linkItem__link{
                color: #fff;
                padding: 9px 0 5px 25px;
                display: block;
            }
            .linkItem:hover .linkItem__link{
                color: #b80326;
                font-weight: bold;
            }
        }
        @media screen and (max-width: 575px) {
            height: 56px;
            width: 72px;
            top: 5%;
            .lenguageMenu__links{
                padding: 11px 0 16px 0;
            }
        }
    }
    .showMenu{
        height: auto;
        & .lenguageMenu__linkOff{
            z-index: -1;
        }
        .linkItem .linkItem__link{
            color: #707070;
        }
    }
    .header__contentBlock{
        min-height: 596px;
    }
    .header__btn{
        text-transform: uppercase;
    }
}

