$mainColor2: #e8bfc5;
$mainColor3: #eaeaea;
$mainColor4: #ebc8cc;
$textColor1: #000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0px 15px;
}
.stopScrolling{
    overflow-y: hidden;
}
.font-regular {
    font-weight: normal !important;
  }

  .font-bold {
    font-weight: bold !important;
  }

a{
    text-decoration: none;
    color:$textColor1;
}
a.active{
    color: #d1bca9;
}
a:hover{
    color: $textColor1;
}
li{
    list-style: none;
}
h2,h3,h6{
    font-weight: normal;
}
.component{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}