.components{
    .component{
        margin: 65px 0;
    
        .wysiwyg {
          &.padding-right-left {
            padding-right: 65px;
            padding-left: 65px;
          }
        }
    
        .questions {
          .questions-col {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
          }
        }
    
        .service {
          margin-bottom: -30px;
    
          &.bg-padding {
            margin-bottom: 0;
            padding: 45px 65px 15px;
          }
    
          .item {
            margin-bottom: 30px;
          }
        }
    
        .wysiwyg-image {
          .block {
            .text {
              padding: 0 65px;
              margin: auto 0;
            }
          }
        }
    
        .component-with-button {
          .hide-block {
            display: none;
          }
        }
    
        .signatures-images {
          .row {
            margin-bottom: -45px;
    
            .signature-image {
              margin-bottom: 45px;
    
              .bg-text {
                padding: 15px;
              }
            }
          }
    
          .component-button {
            margin-top: 45px;
          }
        }
    
        .faq {
          width: 100%;
          max-width: 730px;
          margin: 0 auto;
    
          .wrapper-faq {
            padding: 20px 0;
            border-bottom: 1px solid #000;
            cursor: pointer;
    
            .question {
              position: relative;
              padding-right: 30px;
    
              &:after {
                content: '';
                position: absolute;
                right: 5px;
                top: calc(50% - 10px);
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
    
            .answer {
              margin-top: 20px;
            }
    
            &.active {
              .question {
                &:after {
                  transform: rotate(-135deg);
                  -webkit-transform: rotate(-135deg);
                }
              }
            }
          }
        }
    
        .slider {
          .row {
            margin-bottom: -45px;
    
            .slider-images {
              margin-bottom: 45px;
    
              .slick-dots {
                bottom: -20px;
              }
    
              .text {
                padding-top: 20px;
    
                &.bg-text {
                  padding: 20px 15px 15px;
                }
              }
            }
          }
    
          .component-button {
            margin-top: 45px;
          }
        }
    
        .component-button {
          cursor: pointer;
          display: block;
          text-align: center;
          width: 100%;
          max-width: 220px;
          margin: 0 auto;
          padding: 20px;
    
          &.border-button {
            border-radius: 5px;
          }
        }
    
        .text-in-box {
          margin-bottom: -30px;
    
          & > div {
            margin-bottom: 30px;
          }
    
          .col-sm-6 {
            .text {
              padding: 40px 65px;
            }
          }
    
          .col-sm-3 {
            .text {
              padding: 30px;
            }
          }
        }
    
        .full-screen-slider {
          .wrapper-full-screen-slider {
            margin-bottom: 30px;
    
            .slick-list {
              margin: 0 -10px;
    
              .slick-slide {
                margin: 0 10px;
    
                img {
                  height: auto;
                  min-height: 1px;
                }
              }
            }
          }
    
          .prev,
          .next {
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #f5f5f5;
    
            &:after {
              content: '';
              position: absolute;
              top: 12px;
              left: 15px;
              border: solid black;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 4px;
              transform: rotate(135deg);
              -webkit-transform: rotate(135deg);
            }
          }
    
          .next {
            margin-left: 20px;
    
            &:after {
              left: 11px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }
          }
        }
    }
    .titleBlock{
        .title__container{
            width: 100%;
            max-width: 1140px;
            margin: 0 auto;
            .title__slider{
                .slider__item{
                    width: 100%;
                    height: 100vh;
                    z-index: 0;
                    .item__container{
                        display: flex;
                        justify-content: flex-end;
                        height: 100%;
                        .item__infoBox{
                            flex: 0 0 48.68421052%;
                            background-color: rgba($color: #1e1e1e, $alpha: .7);
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            padding: 0 65px;
                            color: #fff;
                            .infoBox__title{
                                font-size: 48px;
                                line-height: 48 / 48 * 100%;
                                padding-bottom: 30px;
                            }
                            .infoBox__text{
                                font-size: 16px;
                                line-height: 25 / 16 * 100%;
                                padding-bottom: 40px;
                            }
                            .item__infoBox_btn{
                                border-color: #fff;
                                color: #fff;
                                width: 100%;
                                max-width: 285px;
                                &:hover{
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                .fullGlassHouse{
                    background: url(../../image/fullGlassHouse.jpg) center / cover no-repeat;
                }
                .aluminumWindows{
                    background: url(../../image/aluminumWindows.jpg) center / cover no-repeat;
                }
                .slidingSystems{
                    background: url(../../image/slidingSystems.jpg) center / cover no-repeat;
                }
                .internalPartitions{
                    background: url(../../image/internalPartitions.jpg) center / cover no-repeat;
                }
                .gatesAndShutters{
                    background: url(../../image/gatesAndShutters.jpg) center / cover no-repeat;
                }
                .slick-next, .slick-prev{
                    top: auto;
                    right: auto;
                    left: 13px;
                    bottom: 49px;
                    transform: none;
                    z-index: 1;
                    &::before{
                        display: none;
                    }
                }
                .slick-prev{
                    bottom: 89px;
                    left: 48px;
                    transform: rotate(180deg);
                }
                
            }
        }
    }
    .contactForm{
      .contactForm__container{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        background: url();
        display: flex;
        align-items: center;
        .contactForm__block{
          flex: 0 0 50%;
          .userForm{
            color: #1e1e1e;
            width: 100%;
            margin: 0 auto;
            max-width: 350px;
            &__title{
              color: #ed3a4d;
              font-size: 36px;
              line-height: 38 / 36 * 100%;
              padding-bottom: 20px;
            }
            &__subtitle{
              font-size: 16px;
              line-height: 24 / 16 * 100%;
              padding-bottom: 35px;
            }
            .inputbox{
              padding-bottom: 35px;
              .input__title{
                display: block;
                font-size: 13px;
                line-height: 24 / 13 * 100%;
                margin-bottom: 5px;
              }
              .userForm__input {
                border: none;
                border-bottom: 1px solid #000;
                font-size: 18px;
                padding: 10px 0;
                width: 100%;
                &::placeholder{
                  color: #c4c4c4;
                }
              }
              &:last-child{
                padding-bottom: 0;
              }
            }
            .inputbox_flex{
              display: flex;
              justify-content: space-between;
              margin: 0 -15px;
              .inputbox{
                flex: 50%;
                margin: 0 15px;
                .userForm__selectList{
                  border: none;
                  border-bottom: 1px solid #000;
                  cursor: pointer;
                  padding: 10px 0;
                  width: 100%;
                  .marker{
                    display: none;
                  }
                  option{
                    cursor: pointer;
                    &:hover{
                      background-color: #ed3a4d;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
          .imageBox{
            margin-bottom: 85px;
            &:last-child{
              margin-bottom: 0;
              img{
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    .partners {
      background-color: #1e1e1e;
      padding: 80px 15px;
      &__container {
        margin: 0 auto;
        max-width: 1110px;
        width: 100%;
        .container__title {
          color: #fff;
          font-size: 36px;
          padding-bottom: 50px;
        }
        .partners__slider {
          .partners__item {
            img {
              margin: 0 auto;
            }
          }
          .slick-arrow {
            &::before{
              display: none;
            }
          }
        }
      }
    }
    .aboutUs {
      background-color: #1e1e1e;
      &__container {
        color: #fff;
        font-size: 36px;
        margin: 0 auto;
        max-width: 950px;
        padding: 40px 0 100px;
        width: 100%;
        .container__title {
          padding-bottom: 60px;
        }
        .conteiner__article {
          padding-bottom: 80px;
          .seeMore {
            border-color: #fff;
            color: #fff;
            float: right;
            width: 250px;
            &:hover{
              background-color: #fff;
              color: #000;
            }
          }
          .article__text {
            font-size: 0.4444em;
            line-height: 25 / 16 * 100%;
            &__container {
              max-width: 539px;
              width: 100%;
              padding-bottom: 10px;
            }
            &_hideText {
              display: none;
              overflow: hidden;
              .seeMore {
                display: flex;
                float: none;
                margin: 0 auto;
                margin-top: 30px;
              }
            }
          }
        }
        .aboutUs__slider {
          .certificate {
            &__photo {
              margin: 0 15px;
              a img {
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
            .slick-arrow {
              &::before{
                display: none;
              }
            }
          }
        }
      }
    }
    .breadcrumb {
      .breadcrumb__box{
        padding: 29px 0;
        .box__item{
            display: inline;
            font-size: 13px;
            color: $textColor1;
            &+.box__item::before{
                padding: 4px;
                color: $textColor1;
                content: "/\00a0";
            }
            .box__itemLink{
                color: $textColor1;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
      }
    }
    .titleBlock {
      margin-top: -142px;
      .title__container {
        background: url(../../image/aluminumWindows.jpg) center / cover no-repeat;
        .container_screen {
          background-color: rgba($color: #1e1e1e, $alpha: .7);
          margin: 0 auto;
          max-width: 1140px;
          padding: 0 15px;
          width: 100%;
          .contentBox {
            margin: 0 auto;
            max-width: 950px;
            padding: 207px 15px 76px;
            width: 100%;
            .textBlock {
              color: $textColor1;
              font-size: 16px;
              max-width: 525px;
              width: 100%;
              .textBlock__title {
                font-size: 3em;
                font-weight: 500;
                padding-bottom: 20px;
              }
              .textBlock__subtitle {
                line-height: 25 / 16 * 100%;
              }
            }
          }
        }
      }
    }
    .brandNav {
      .brandNav__box {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 60px;
        margin: 0 auto;
        max-width: 920px;
        width: 100%;
        .box__item {
          margin: 0 15px;
          .item__link {
            color: #1e1e1e;
            font-size: 14px;
          }
        }
      }
    }
    .catalog {
      border-bottom: 1px solid #1e1e1e;
      .catalog__box {
        border-top: 1px solid #e5e5e5;
        margin: 0 auto;
        max-width: 920px;
        padding-top: 35px;
        width: 100%;
        .brandOffers {
          font-size: 16px;
          padding-bottom: 30px;
          .brandOffers__title {
            color: #1e1e1e;
            font-size: 2.25em;
            font-weight: 500;
          }
          .goodsCat {
            .goodsCat__item {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
              .card {
                color: #1e1e1e;
                border: 1px solid #f2f2f2;
                margin: 15px;
                max-width: 255px;
                padding: 0 25px 25px;
                width: 100%;
                .card__front {
                  .imageBox {
                    width: 205px;
                    height: 205px;
                    margin-bottom: 20px;
                    position: relative;
                    .imageBox__image {
                      width: 100%;
                      height: 100%;
                    }
                    .imageBox_back {
                      background-color: rgba($color: #fff, $alpha: .9);
                      height: 100%;
                      position: absolute;
                      top: 0;
                      width: 100%;
                      z-index: -1;
                      .image__link {
                        display: block;
                        .parameters {
                          text-align: center;
                          .parameters__item {
                            padding-bottom: 10px;
                            .parameter__name {
                              font-size: 0.8125em;
                              font-weight: 400;
                            }
                            &:last-child {
                              padding-bottom: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                  .card__title {
                    font-size: 1.25em;
                    text-align: center;
                    padding-bottom: 20px;
                  }
                  .card__btn {
                    .siteBtn {
                      color: #1e1e1e;
                      border-color: #1e1e1e;
                      margin: 0 auto;
                      max-width: 205px;
                      width: 100%;
                      &:hover {
                        background-color: #ed3a4d;
                      }
                    }
                  }
                }
                &:hover {
                  .card__front {
                    .imageBox {
                      .imageBox_back {
                        z-index: 1;
                      }
                    }
                    .card__btn {
                      .siteBtn {
                        background-color: #ed3a4d;
                        border-color: #ed3a4d;
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .aboutGoods {
      background-color: #1e1e1e;
      &__container {
        color: #fff;
        font-size: 36px;
        margin: 0 auto;
        max-width: 950px;
        padding: 70px 15px;
        width: 100%;
        .conteiner__article {
          .seeMore {
            border-color: #fff;
            color: #fff;
            float: right;
            width: 250px;
            &:hover{
              background-color: #fff;
              color: #000;
            }
          }
          .article__text {
            font-size: 0.4444em;
            line-height: 25 / 16 * 100%;
            &__container {
              max-width: 539px;
              width: 100%;
              padding-bottom: 10px;
            }
            &_hideText {
              display: none;
              overflow: hidden;
              .seeMore {
                display: flex;
                float: none;
                margin: 0 auto;
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
    
    @media screen and (max-width: 576px) {
        .component {
            p {
              padding-left: 0 !important;
            }
      
            .wysiwyg {
              padding: 15px !important;
            }
      
            .faq {
              padding: 0 15px;
            }
      
            .full-screen-slider {
              padding: 0 15px;
            }
      
            .questions {
              padding: 15px;
      
              .icon {
                display: none;
              }
      
              .questions-col {
                display: block;
                padding: 0;
      
                .question {
                  text-align: left !important;
                  margin-bottom: 15px;
      
                  p {
                    text-align: left !important;
                  }
                }
              }
            }
      
            .service {
              &.bg-padding {
                padding: 15px;
      
                .item {
                  padding: 0;
                }
              }
            }
      
            .wysiwyg-image {
              .block {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
      
                .image-mobile {
                  -webkit-box-ordinal-group: 2;
                  -moz-box-ordinal-group: 2;
                  -ms-flex-order: 2;
                  -webkit-order: 2;
                  order: 2;
                }
      
                .text {
                  -webkit-box-ordinal-group: 1;
                  -moz-box-ordinal-group: 1;
                  -ms-flex-order: 1;
                  -webkit-order: 1;
                  order: 1;
                  padding: 15px !important;
                  margin: 0;
                }
              }
            }
      
            .text-in-box {
              .col-sm-6,
              .col-sm-3 {
                .text {
                  padding: 15px;
                }
              }
            }
        }
    }
}