#header{
    &.fixed-header {
      .top-header,
      .navbar-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
      }
    }
    .top-header {
      .header-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
  
        &.padding-top-header {
          padding-right: 30px;
          padding-left: 30px;
        }
  
        .slug-or-name-company {
          margin-bottom: 0;
        }
  
        .logo {
          a {
            height: 100%;
            display: flex;
            align-items: center;
  
            img {
              margin: 0 auto;
            }
          }
        }
  
        .info {
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
  
          .text-header-info {
            font-size: 12px;
  
            & > div {
              margin-right: 30px;
  
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
  
        .numbers {
          font-size: 18px;
  
          span {
            white-space: pre-wrap;
          }
        }
  
        .header-type-3 {
          .numbers {
            align-items: center;
  
            .number {
              font-size: 21px;
            }
          }
  
          .wrapper-header-button {
            .header-button {
              margin-left: 10px;
  
              .link-header-button {
                cursor: pointer;
                display: block;
                text-align: center;
                width: 160px;
                max-width: 100%;
                margin: 0 auto;
                padding: 10px;
  
                &.border-button {
                  border-radius: 5px;
                }
              }
            }
          }
        }
  
        .header-type-4 {
          .info {
            .text-header-info {
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
          }
  
          .navbar-wrapper {
            padding-left: 30px;
          }
        }
  
        .languages {
          &.numbers {
            .language {
              margin-left: 10px;
            }
          }
  
          .language {
            margin-right: 5px;
  
            &:last-child {
              margin-right: 0;
            }
  
            &.active {
              color: #0056b3;
            }
          }
        }
      }
    }
    .bottom-header {
      overflow: hidden;
  
      .wrapper-size {
        position: relative;
  
        .header-image-bg {
          display: block;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
  
        .header-image-text {
          .image-text {
            padding: 0 65px;
            margin: auto 0;
          }
        }
      }
    }
    .navbar-wrapper {
      .navbar {
        padding: 10px 0;
  
        &.padding-navbar {
          padding-right: 30px;
          padding-left: 30px;
        }
  
        .navbar-toggler {
          margin-right: 10px;
          border-color: #808080;
  
          .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
          }
        }
  
        .navbar-nav {
          .nav-item {
            letter-spacing: 0.5px;
            font-size: 13px;
            margin-right: 40px;
            list-style-type: none;
  
            .nav-link {
              display: inline-block;
              padding: 0;
  
              &.dropdown-toggle {
                &:after {
                  display: none;
                }
              }
            }
  
            .nav-link.active,
            .dropdown-item.active {
              color: #0056b3;
            }
  
            &.dropdown {
              margin-right: 20px;
  
              .dropdown-toggle {
                display: inline-block;
                margin-right: 5px;
              }
  
              .dropdown-arrow {
                display: inline-block;
                border-top: 0.4em solid;
                border-right: 0.4em solid transparent;
                border-bottom: 0;
                border-left: 0.4em solid transparent;
                -webkit-transition: 0.3s;
                transition: 0.3s;
              }
  
              .dropdown-menu {
                margin: 0;
  
                .dropdown-item {
                  white-space: normal;
                  font-size: 13px;
                  padding-right: 20px;
                  padding-left: 20px;
  
                  &:hover {
                    background-color: unset;
                  }
  
                  &.active {
                    background-color: unset;
                  }
                }
              }
  
              &.show {
                .dropdown-arrow {
                  -moz-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  -o-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      .top-header {
        text-align: center;
  
        .header-wrapper {
          padding-right: 15px;
          padding-left: 15px;
  
          &.padding-top-header {
            padding-right: 15px;
            padding-left: 15px;
          }
  
          .d-flex {
            display: block !important;
          }
  
          .slug-or-name-company {
            margin-bottom: 15px;
          }
  
          .logo img {
            margin: 0 auto;
          }
  
          .info {
            text-align: center;
            display: block;
  
            .text-header-info {
              & > div {
                display: block !important;
                margin: 10px 0;
              }
            }
          }
  
          .header-type-3 {
            .numbers {
              white-space: normal;
            }
  
            .wrapper-header-button {
              .header-button {
                margin-left: 0;
                margin-top: 10px;
              }
            }
          }
  
          .header-type-4 {
            .info {
              width: 100% !important;
  
              .text-header-info {
                display: block;
              }
            }
  
            .navbar-wrapper {
              padding-left: 0;
            }
          }
        }
      }
  
      .bottom-header {
        .wrapper-size {
          .header-image-bg {
            display: none;
          }
  
          .header-image-text {
            .image-text {
              padding: 15px;
            }
          }
        }
      }
  
      .navbar-wrapper {
        .navbar {
          .navbar-nav {
            .nav-item {
              margin-right: 0;
              padding-top: 5px;
              text-align: center;
  
              &.dropdown {
                margin-right: 0;
  
                .nav-link {
                  padding-right: 0;
                }
  
                .dropdown-menu {
                  text-align: center;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  // Front-end styles
    .header__container{
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 1140px;
      height: 130px;
      display: flex;
      justify-content: flex-end;
      .menu{
        flex: 0 0 95px;
        transition: flex-grow 1s ease;
        .menuBtn{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ED3A4D;
          height: 100%;
          .menuBtn__container{
            cursor: pointer;
            .btn__title{
              color: #fff;
              font-size: 14px;
              letter-spacing: 0.12em;
              padding-bottom: 7px;
              transition: font-size 1s ease;
            }
            .btn__line{
              height: 3px;
              width: 47px;
              background-color: #fff;
              transition: transform 1s ease;
              &:last-child{
                margin-top: 7px;
              }
            }
          }
        }
        &_open{
          flex-grow: 1;
          .menuBtn{
            .menuBtn__container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex: auto;
              padding: 0 30px;
              .btn__title{
                font-size: 24px;
                flex: 0 1 50%;
                text-align: center;
              }
              .line__box{
                cursor: pointer;
              }
              .btn__line{
                transform: rotate(45deg);
                margin-top: 0;
                &:last-child{
                  transform: rotate(-45deg);
                  position: relative;
                  bottom: 10px;
                }
              }
            }
          }
        }
        z-index: 11;
      }
      .menu__window{
        position: absolute;
        top: -100vh;
        padding-top: 130px;
        width: 100%;
        max-width: 1140px;
        overflow: auto;
        transition: top 1s ease;
        z-index: 10;
        &_open{
          top: 0;
        }
        .tovarNav{
          background-color: #fff;
          padding-top: 40px;
          .tovarNav__container{
            margin: 0 auto;
            width: 100%;
            max-width: 920px;
            max-height: 410px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .block{
              padding-bottom: 35px;
              padding-right: 10px;
              &__title{
                font-size: 16px;
                line-height: 20 / 16 * 100%;
                color: #ED3A4D;
              }
              &__list{
                font-size: 14px;
                line-height: 16 / 14 * 100%;
                color: #1e1e1e;
                .list__link{
                  display: block;
                  padding-bottom: 15px;
                  &:first-child{
                    padding-top: 20px;
                  }
                  &:last-child{
                    padding-bottom: 0px;
                  }
                  &:hover{
                    color: #ED3A4D;
                  }
                }
              }
            }
          }
        }
        .siteNav{
          background-color: #1E1E1E;
          padding-top: 40px;
          padding-bottom: 140px;
          .siteNav__container{
            width: 100%;
            max-width: 920px;
            max-height: 309px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .block{
              padding-bottom: 30px;
              &__title{
                font-size: 16px;
                line-height: 20 / 16 * 100%;
                color: #9e9e9e;
              }
              &__list{
                .list__link{
                  display: block;
                  padding-bottom: 10px;
                  font-size: 14px;
                  line-height: 16 / 14 * 100%;
                  color: #fff;
                  font-weight: 400;
                  &:first-child{
                    padding-top: 15px;
                  }
                  &:last-child{
                    padding-bottom: 0;
                  }
                  &:hover{
                    color: #9e9e9e;
                  }
                }
              }
            }
          }

        }
      }
      .header__box{
        position: relative;
        background-color: #1E1E1E;
        width: 48.68421052%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        z-index: 11;
      }
      .header__block{
        display: inline-flex;
        justify-content: space-between;
        .logo{
          flex: 0 0 265px;
          a{
            display: block;
            img{
              margin: 0 auto;
            }
          }          
        }
        .funcionality{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          .telephone{
            color: #e5e5e5;
            font-size: 16px;
            order: 1;
            flex: 0 0 160px;
            text-align: center;
          }
          .callback{
            order: 3;
            align-self: flex-end;
            .callback__btn{
              border-color: #ED3A4D;
              width: 160px;
              height: 30px;
              color: #fff;
              text-transform: none;
              flex: 0 0 160px;
              &:hover{
                background-color: #ED3A4D;
              }
            }
          }
          .socials{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 110px;
            order: 4;
            align-self: flex-end;
            margin: 0 -7px;
            .socials_link{
              display: block;
              padding: 0 7px;
            }        
          }
          .language{
            font-size: 12px;
            color: #7b7b7b;
            display: flex;
            justify-content: flex-end;
            margin: 0 -5px;
            flex: 0 0 110px;
            order: 2;
            a{
              margin: 0 5px;
            }
            .active{
              color: #e5e5e5;
            }
          }
        }
      }
    }
  // .header__container{
  //   width: 100%;
  //   max-width: 1110px;
  //   margin: 0 auto;
  //   .header__titleBox{
  //     position: relative;
  //     display: flex;
  //     justify-content: flex-end;
  //     align-items: center;
  //     .titleImage{
  //       margin-right: auto;
  //     }
  //     .header__nav{
  //       width: 100%;
  //       max-width: 520px;
  //       margin-right: 70px;
  //       display: flex;
  //       justify-content: space-between;
  //       .close__button{
  //         display: none;
  //         position: absolute;
  //         background-image: url(../js/jquery-ui-1.12.1.custom/images/ui-icons_000000_256x240.png);
  //         background-position: -96px -128px;
  //         top: 25px;
  //         right: 20px;
  //         height: 16px;
  //         width: 16px;
  //       }
  //       .navLink{
  //         color: $textColor2;
  //         text-transform: uppercase;
  //         font-size: 13px;
  //         &:hover{
  //           color: $textColor3;
  //         }
  //       }
  //     }
  //     .telephoneList{
  //       margin-right: 40px;
  //       position: relative;
  //       .phoneNumber{
  //           font-size: 18px;
  //           color: $textColor2;
  //       }
  //       .telephoneIcon{
  //         display: none;
  //         width: 17px;
  //         margin-left: auto;
  //         margin-right: 14px;
  //       }
  //       .telephoneList__button{
  //         display: inline-block;
  //         fill: $textColor2;
  //         width: 9px;
  //         margin: 0 0 2px 3px;
  //       }
  //       &__dropdownMenu{
  //         display: none;
  //         position: absolute;
  //         overflow: hidden;
  //         background-color: $mainColor1;
  //         border: 1px solid $mainColor3;
  //         top: -30px;
  //         padding: 30px 27px 0;
  //         margin: 0 -27px;
  //         z-index: 1;
  //         .arrowDown{
  //           margin: 0;
  //           transform: rotate(180deg);
  //         }
  //         .phoneNumber{
  //           display: inline-block;
  //           padding: 0 0 20px;
  //         }
  //         .workTime{
  //           padding: 0 0 20px;
  //           color: $textColor2;
  //           font-size: 14px;
  //         }
  //         .callback{
  //           width: calc(100% + 54px);
  //           height: 50px;
  //           background-color: $mainColor3;
  //           border: none;
  //           border-top: 1px solid $mainColor1;
  //           outline: none;
  //           cursor: pointer;
  //           color: $textColor1;
  //           font-size: 14px;
  //           margin: 0 -27px;
  //           &:hover{
  //             background-color: rgba($color: $mainColor3, $alpha: .2);
  //             color: $textColor3;
  //           }
  //         }
  //       }
  //       &:hover{
  //         .telephoneList__dropdownMenu{
  //           display: block;
  //         }
  //       }
  //     }
  //     .burgerMenu__openBtn{
  //       display: none;
  //       position: relative;
  //       height: 30px;
  //       width: 18px;
  //       padding: 10px 20px;
  //       margin-left: 15px;
  //       .burgerMenu__openBtn_line{
  //         background-color: $mainColor3;
  //         height: 2px;
  //         width: 20px;
  //         position: absolute;
  //         left: 10px;
  //         &:first-child{
  //           top: 7px;
  //         }
  //         &:nth-child(2){
  //           top: 50%;
  //           transform: translateY(-50%);
  //         }
  //         &:last-child{
  //           top: auto;
  //           bottom: 7px;
  //         }
  //       }
  //     }
  //     .language{
  //       position: relative;
  //       .language_current, a{
  //         color: $textColor2;
  //         font-size: 12px;
  //         text-transform: uppercase;
  //       }
  //       .langMenu{
  //         display: none;
  //         position: absolute;
  //         background-color: $mainColor1;
  //         border-radius: 5px;
  //         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  //         top: -7px;
  //         left: -7px;
  //         z-index: 1;
  //         &__item{
  //             display: block;
  //             color: $textColor2;
  //             padding: 7px;
  //             &:hover{
  //                 color: $textColor3;
  //             }
  //         }
  //       }
  //       &:hover{
  //         .langMenu{
  //         display: block;
  //         }
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: 576px){
    .header__container{
      padding: 0 15px;
      .header__titleBox{
        .header__nav{
          display: none;
        }
        .mobile__nav{
          min-height: 100vh;
          width: 100%;
          max-width: 300px;
          position: absolute;
          top: -15px;
          left: -15px;
          background-color: $mainColor1;
          z-index: 2;
          padding: 45px 15px 30px;
          box-shadow: 0 0 50px rgba($color: $mainColor3, $alpha: .8 );
          .close__button{
            display: block;
          }
          .navLink{
            display: block;
            padding: 10px 0;
          }
        }
        .telephoneList{
          margin-right: 20px;
          .phoneNumber:first-child, .arrowDown{
            display: none;
          }
          .telephoneIcon{
            display: block;
          }
          .telephoneList__dropdownMenu{
            margin: 0;
            right: -28px;
            width: 213px;
          }
        }
        .burgerMenu__openBtn{
          display: block;
        }
      }
    }
  }
}