$mainColor1: #fff;
$mainColor2: #000;
$mainColor3: #E89D94;
$mainColor4: #ebc8cc;

$textColor1: #fff;
$textColor2: #000;
$textColor3: #E89D94;
$textColor4: #515151;

.white-text {

  h1, h2, h3, h4, h5, h6, a, p, li, div {

    color: white;
    fill: white;

  }

}