* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 21px 15px 0;
}

.font-regular {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: #373737;
}

a.active {
  color: #d1bca9;
}

li {
  list-style: none;
}

h2, h3, h6 {
  font-weight: normal;
}

.component {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 40px;
  height: 35px;
  background-color: #3cad5e;
  outline: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.header {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  color: #373737;
  position: relative;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.header__top .header__contactsBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
.header__top .contactsBox__telephoneBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top .contactsBox__telephoneBox .telephoneBox__telItem {
  padding: 0 3px 0;
}
.header__top .contactsBox__telephoneBox .telephoneBox__telItem .telephoneNumber {
  font-size: 17px;
}
.header__top .contactsBox__telephoneBox .telephoneBox__telItem .telephoneNumber:hover {
  color: #fe631a;
}
.header__top .contactsBox__socialBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 34px;
}
.header__top .contactsBox__socialBox .socialBox__item {
  padding: 0 6px 0;
}
.header__top .greenLine {
  color: #3cad5e;
  font-size: 17px;
}
.header__top .contactsBox__langMenu {
  position: absolute;
  right: 0;
  top: 10%;
  height: 20px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__top .contactsBox__langMenu .linkItem {
  padding-bottom: 16px;
}
.header__top .contactsBox__langMenu .linkItem .linkItem__link {
  color: #6f6f6e;
  font-size: 15px;
}
.header__top .contactsBox__langMenu .linkItem:not(.vubrana):hover .linkItem__link {
  color: #fe631a;
}
.header__top .contactsBox__langMenu:hover {
  height: 52px;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 9px;
}
.header__bottom .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 760px;
          flex: 0 0 760px;
}
.header__bottom .link__item {
  text-transform: uppercase;
  font-size: 16px;
  color: #373737;
}
.header__bottom .link__item:hover {
  color: #fe631a;
}
.header__bottom .navSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__bottom .navSearch__text {
  width: 215px;
  height: 35px;
  font-size: 14px;
  padding-left: 11px;
  color: #373737;
  outline: none;
  border: 1px solid #f0f0f0;
}
.header__bottom .navSearch__text:focus {
  border: 1px solid #f0f0f0;
}
.header__bottom .navSearch__text::-webkit-input-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.header__bottom .navSearch__text:-ms-input-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.header__bottom .navSearch__text::-ms-input-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.header__bottom .navSearch__text::placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.header .headerMobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 15px 15px 0px;
  z-index: 1;
}
.header .headerMobile .mobileBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header .headerMobile .headerMobile__menuBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .headerMobile .headerMobile__menuBar .menuBar__logo {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.header .headerMobile .headerMobile__menuBar .menuBar__item {
  padding: 10px;
}
.header .headerMobile .headerMobile__menuBar .logoImage__iconImage {
  width: calc(33vw + 7 * ((100vw - 300px) / (575 - 300)));
}
.header .headerMobile .headerMobile__menuBar .facebookLink__iconImage {
  width: 2.4vw;
}
.header .headerMobile .headerMobile__menuBar .instagramLink__iconImage, .header .headerMobile .headerMobile__menuBar .telephoneBtn__iconImage {
  width: 5vw;
}
.header .headerMobile .headerMobile__menuBar .searchBtn__iconImage, .header .headerMobile .headerMobile__menuBar .menuBtn__iconImage {
  width: 6vw;
}
.header .headerMobile .telephoneWindow {
  width: 100%;
  background-color: #fff;
  padding: 30px 15px;
  display: none;
}
.header .headerMobile .telephoneWindow_openStatus {
  display: block;
}
.header .headerMobile .telephoneWindow .telephoneNumber {
  display: block;
  font-size: calc(21px + 9 * ((100vw - 300px) / (575 - 300)));
  padding-bottom: 10px;
}
.header .headerMobile .telephoneWindow .telephoneNumber:last-child {
  padding-bottom: 0;
}
.header .headerMobile .telephoneWindow .telephoneWindow__closeBtn {
  float: right;
  padding: 0 10px;
}
.header .headerMobile .telephoneWindow .telephoneWindow__closeIcon {
  width: 6vw;
}
.header .headerMobile .searchWindow {
  margin: 0 -15px;
  width: 100vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.header .headerMobile .searchWindow_openStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .headerMobile .searchWindow__searchFild {
  width: 100%;
  height: 62px;
  padding-left: 15px;
  font-size: calc(21px + 9 * ((100vw - 300px) / (575 - 300)));
  border: none;
  border-top: 1px solid #daefdf;
  border-bottom: 1px solid #daefdf;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  outline: none;
}
.header .headerMobile .searchWindow__searchFild::-webkit-input-placeholder {
  color: #b4b4b4;
}
.header .headerMobile .searchWindow__searchFild:-ms-input-placeholder {
  color: #b4b4b4;
}
.header .headerMobile .searchWindow__searchFild::-ms-input-placeholder {
  color: #b4b4b4;
}
.header .headerMobile .searchWindow__searchFild::placeholder {
  color: #b4b4b4;
}
.header .headerMobile .searchWindow__searchBtn {
  height: 62px;
  width: 82px;
  background-color: #3cad5e;
}
.header .headerMobile .menuWindow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(90, 90, 90, 0.8);
}
.header .headerMobile .menuWindow .menuWindowContainer {
  width: 88vw;
  height: 100%;
  background-color: #fff;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit {
  background-color: #3cad5e;
  border-bottom: 1px solid #daefdf;
  color: #fff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 15px;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .languageBox__item {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .languageBox__item .languageBox__lang {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .secondLangItem {
  position: absolute;
  background-color: #3cad5e;
  width: 100%;
  left: 0;
  padding-left: 15px;
  display: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .languageBox__indicator {
  color: #fff;
  float: right;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .rotateIndecator {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .languageBox .openBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .exitBox {
  background-color: #fff;
  padding: 10px;
}
.header .headerMobile .menuWindow .menuWindowContainer__langAndExit .exitBox img {
  width: 80%;
}
.header .headerMobile .menuWindow .menuWindowContainer__accordionMenu .accordionMenu__item_icon {
  float: right;
}
.header .headerMobile .menuWindow .menuWindowContainer__accordionMenu .accordionMenu__item_icon img {
  width: 34px;
  width: calc(22px + 12 * ((100vw - 300px) / (575 - 300)));
}
.header .headerMobile .menuWindow .menuWindowContainer__accordionMenu .clouseIcon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .headerMobile .menuWindow .accordionMenu__item {
  border-top: 1px solid #daefdf;
  color: #373737;
  font-size: calc(25px + 3 * ((100vw - 300px) / (575 - 300)));
  background: #fff;
  padding: 10px 30px 10px 15px;
  cursor: pointer;
}
.header .headerMobile .menuWindow .section .accordionMenu__item {
  font-size: calc(20px + 3 * ((100vw - 300px) / (575 - 300)));
  color: #6f6f6e;
  padding-left: 20px;
}
.header .headerMobile .menuWindow .section .section {
  color: #6f6f6e;
  padding-left: 40px;
  font-size: 26px;
  font-size: calc(21px + 3 * ((100vw - 300px) / (575 - 300)));
}
.header .headerMobile .menuWindow .section .section p {
  padding: 5px 0;
}
.header .headerMobile .menuWindow .section {
  display: none;
}
.header .headerMobile .menuWindow .active .accordionMenu__item_icon {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.header .headerMobile .menuWindow_open {
  display: block;
}
.header .headerMobile .d-block {
  display: block !important;
}
@media screen and (max-width: 575px) {
  .header .header__top, .header .header__bottom {
    display: none;
  }
  .header .headerMobile {
    display: block;
  }
}

.body__greenline {
  border: none;
  color: #d8efdf;
  background-color: #d8efdf;
  height: 1px;
}
@media screen and (max-width: 575px) {
  .body__greenline {
    padding-top: 59px;
  }
}

.footer {
  background-color: #3cad5e;
  margin: 0 -15px;
}
.footer .footerContainer {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
.footer .footerContainer__logoBox {
  width: 143px;
}
.footer .logoBox__logoIcon {
  padding-bottom: 29px;
}
.footer .titleSmall {
  font-size: 14px;
  padding-bottom: 10px;
}
.footer .titleBig {
  font-size: 16px;
  text-transform: uppercase;
}
.footer .footerContainer__contactBox {
  width: 263px;
}
.footer .contactBox__item {
  padding-bottom: 5px;
}
.footer .footerContainer__menuList {
  width: 140px;
}
.footer .socialItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  padding-bottom: 20px;
}
.footer .socialItem__text, .footer .socialItem__arrowIcon, .footer .socialItem__link {
  padding-right: 8px;
}
.footer .socialItem__link:last-child {
  padding-right: 0px;
}
.footer .contactBox__addressItem {
  padding-bottom: 14px;
}
.footer .footerContainer__katalogList {
  width: 186px;
}
.footer .menuListItem__link, .footer .katalogItem__link {
  color: #fff;
  font-size: 14px;
}
.footer .menuList__menuListItem {
  padding-bottom: 16px;
}
.footer .katalogList__katalogItem {
  padding-bottom: 12px;
}
.footer .menuList__menuListItem:last-child, .footer .katalogList__katalogItem:last-child {
  padding-bottom: 0px;
}
@media screen and (max-width: 575px) {
  .footer .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerContainer .footerContainer__logoBox {
    margin-bottom: 10px;
  }
  .footer .footerContainer .footerContainer__contactBox {
    text-align: center;
  }
  .footer .footerContainer__menuList, .footer .footerContainer__katalogList {
    display: none;
  }
}

.baner .banerImage {
  height: 400px;
  width: 100%;
  background-color: #ded8cd;
}

.katalogPropozucii {
  margin: 0 -15px 0;
  padding: 38px 0 62px;
}
.katalogPropozucii .katalogPropozucii__title {
  color: #656565;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 15px 0;
}
.katalogPropozucii .katalogPropozuciiBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia {
  position: relative;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  background-color: #3cad5e;
  color: #fefefe;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia:hover {
  background-color: #fe631a;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia:hover .propozuciaLinkBox__lookMore {
  color: #fefefe;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__description {
  padding: 14px 21px 11px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__image {
  width: 100%;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 17px;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__text {
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__lookMore {
  display: block;
  text-align: right;
  color: #a2fdbb;
  font-size: 13px;
  font-weight: normal;
}
.katalogPropozucii .katalogPropozbciiBox__propozucia .propozuciaLinkBox__lookMoreLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsAndEvents .newsAndEvents__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #656565;
  padding-bottom: 36px;
}
.newsAndEvents .newsAndEventsBox {
  padding-bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsAndEvents .newsAndEventsBox__item {
  position: relative;
  width: 255px;
  border: 1px solid #3cad5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsAndEvents .newsAndEventsBox__item .item__image {
  width: calc(100% + 2px);
  margin: -1px 0 0 -1px;
}
.newsAndEvents .newsAndEventsBox__item .item__description {
  padding: 0 19px 11px;
  color: #656565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsAndEvents .newsAndEventsBox__item .item__description .description__title {
  font-size: 18px;
  padding-bottom: 9px;
}
.newsAndEvents .newsAndEventsBox__item .item__description .description__day {
  font-size: 12px;
  color: #3cad5e;
  padding-bottom: 12px;
}
.newsAndEvents .newsAndEventsBox__item .item__description .description__text {
  font-size: 14px;
  padding-bottom: 12px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.newsAndEvents .newsAndEventsBox__item .item__description .description__seeMore {
  color: #3cad5e;
  font-size: 12px;
  text-align: right;
  display: block;
}
.newsAndEvents .newsAndEventsBox__item .description__seeMoreLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 575px) {
  .katalogPropozucii {
    margin: 0;
  }
  .katalogPropozucii .katalogPropozuciiBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .katalogPropozucii .katalogPropozuciiBox .katalogPropozbciiBox__propozucia {
    max-width: 350px;
    width: 100%;
    margin: 10px 0;
  }

  .newsAndEvents .newsAndEventsBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsAndEvents .newsAndEventsBox .newsAndEventsBox__item {
    margin: 15px;
  }
}