@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
.main__header {
  background: url(../../image/header_bg.jpg) center/cover no-repeat;
  position: relative;
  padding: 121px 0 89px;
  text-align: center;
}
.main__header .menu {
  height: 70px;
  width: 90px;
  background-color: #fff;
  position: fixed;
  top: 19%;
  left: 1px;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
.main__header .menu .menuX {
  height: 70px;
  width: 90px;
  position: relative;
  padding: 23px 0 23px 33px;
}
.main__header .menu .menuX .menuX__line1 {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.main__header .menu .menuX .menuX__line3 {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.main__header .menu .menuLine {
  width: 36px;
  position: absolute;
  top: 50%;
  border: 2px solid #b80326;
}
.main__header .menu .clouseBtn {
  padding: 23px 0 23px 36px;
}
.main__header .menu .clouseBtn .menuLine {
  margin: 0;
  width: 23px;
}
.main__header .menu .clouseBtn .menuX__line1 {
  -webkit-transform: translate(0%, -50%) rotate(45deg);
      -ms-transform: translate(0%, -50%) rotate(45deg);
          transform: translate(0%, -50%) rotate(45deg);
  top: 50%;
  position: absolute;
}
.main__header .menu .clouseBtn .menuX__line2 {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.main__header .menu .clouseBtn .menuX__line3 {
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
      -ms-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
  top: 50%;
  position: absolute;
}
.main__header .menu .menu__links {
  text-align: center;
  list-style: none;
}
.main__header .menu .menu__links .linkItem {
  display: block;
  padding-left: 82px;
  text-align: start;
}
.main__header .menu .menu__links .linkItem:first-child .linkItem__link {
  padding-top: 0;
  margin-top: -32px;
}
.main__header .menu .menu__links .linkItem:hover .linkItem__link {
  color: #b80326;
}
.main__header .menu .menu__links .linkItem__link {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 575px) {
  .main__header .menu {
    height: 56px;
    width: 72px;
    top: 5%;
  }
  .main__header .menu .menuX {
    height: 56px;
    width: 72px;
    padding: 23px 0 23px 20px;
  }
}
.main__header .open {
  width: 293px;
  padding-bottom: 29px;
  height: auto;
}
.main__header .open .menu__links .linkItem__link {
  color: #000;
}
.main__header .header__logo {
  display: block;
  margin: 0 auto;
}
.main__header .lenguageMenu {
  height: 70px;
  width: 89px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 19%;
  right: 0;
  border-radius: 13px 0 0 13px;
  cursor: pointer;
  overflow: hidden;
}
.main__header .lenguageMenu .lenguageMenu__linkOff {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.main__header .lenguageMenu .lenguageMenu__links {
  padding: 19px 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main__header .lenguageMenu .lenguageMenu__links .linkItem {
  display: block;
}
.main__header .lenguageMenu .lenguageMenu__links .vubrana {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.main__header .lenguageMenu .lenguageMenu__links .vubrana .linkItem__link {
  color: #000;
  font-weight: bold;
}
.main__header .lenguageMenu .lenguageMenu__links .linkItem__link {
  color: #fff;
  padding: 9px 0 5px 25px;
  display: block;
}
.main__header .lenguageMenu .lenguageMenu__links .linkItem:hover .linkItem__link {
  color: #b80326;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  .main__header .lenguageMenu {
    height: 56px;
    width: 72px;
    top: 5%;
  }
  .main__header .lenguageMenu .lenguageMenu__links {
    padding: 11px 0 16px 0;
  }
}
.main__header .showMenu {
  height: auto;
}
.main__header .showMenu .lenguageMenu__linkOff {
  z-index: -1;
}
.main__header .showMenu .linkItem .linkItem__link {
  color: #707070;
}
.main__header .header__contentBlock {
  min-height: 596px;
}
.main__header .header__btn {
  text-transform: uppercase;
}

#footer {
  background-color: #f5f5f5;
  padding: 49px 15px 95px;
}
#footer .footer__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}
#footer .footer__container .navigation__link a {
  font-size: 17px;
  line-height: 1.8;
}
#footer .navigation__link:hover a, #footer .container__telephone a:hover {
  color: #b80326;
}
@media screen and (max-width: 575px) {
  #footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container__adress {
    text-align: center;
  }
  #footer .container__navigation {
    display: none;
  }
  #footer .container__logo, #footer .container__telephone, #footer .container__adress {
    padding: 10px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.font-regular {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.btn {
  font-weight: normal;
  width: 255px;
  height: 50px;
  background-color: #131313;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.btn:hover {
  background-color: #f5f5f5;
  color: #000;
}
.btn:active {
  background-color: #131313;
  color: #fff;
}

.components .container__textBox {
  font-size: 60px;
  color: #000;
  display: inline-block;
}
.components .textBox__text {
  font-size: 45px;
}
.components .textBox__text_red {
  color: #b80326;
}
.components p:nth-last-child(2) {
  padding-bottom: 59px;
}

#component-1 .proezvoditelPovnogoCikla {
  background: url(../../image/proezvoditelPovnogoCikla_bg.jpg) center/cover no-repeat;
  padding: 175px 15px 177px;
}
#component-1 .proezvoditelPovnogoCikla__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  text-align: right;
}
#component-1 .container__textBox {
  color: #fff;
  font-size: 45px;
  text-align: left;
}
#component-1 .container__textBox .textBox__text_big .text_bigger {
  font-size: 60px;
}
#component-1 .container__textBox .textBox__text_red {
  color: #b80326;
}
#component-1 .container__textBox .text__uppercase {
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  #component-1 .proezvoditelPovnogoCikla {
    background: #000;
  }
  #component-1 .container__textBox {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
    text-align: right;
  }
  #component-1 .container__textBox .textBox__text {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-1 .container__textBox .textBox__text_big .text_bigger {
    font-size: calc(39px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-1 .container__textBox::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: calc(212px + 188 * ((100vw - 300px) / (575 - 300)));
    background: url(../../image/proezvoditelPovnogoCikla_bg.jpg) 0px 0px/cover no-repeat;
    top: -175px;
    left: -30px;
    margin-bottom: -150px;
  }
}

#component-2 .motoristPlus {
  background: url(../../image/motoristPlus_bg1.jpg) center/cover no-repeat;
  padding: 223px 15px 227px;
}
#component-2 .motoristPlus__container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
#component-2 .container__textBox {
  padding-right: 156px;
}
#component-2 .textBox__text_red {
  text-transform: uppercase;
}
#component-2 p:nth-last-child(2) {
  padding-bottom: 59px;
}
@media screen and (max-width: 575px) {
  #component-2 .motoristPlus {
    background: url(../../image/motoristPlus_bg.jpg) center/cover no-repeat;
    padding: 100px 15px;
  }
  #component-2 .container__textBox {
    padding-right: 0;
    font-size: calc(39px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-2 .container__textBox .textBox__text {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-2 .container__textBox::after {
    content: "";
    display: block;
    position: relative;
    left: calc(0px + 148 * ((100vw - 300px) / (575 - 300)));
    margin-top: 20px;
    width: 100%;
    height: calc(276px + 130 * ((100vw - 300px) / (575 - 300)));
    background: url(../../image/motoristPlus.png) 0 0/cover no-repeat;
  }
}

#component-3 .provereno {
  background: url(../../image/provereno_bg.jpg) center/cover no-repeat;
  padding: 218px 15px;
}
#component-3 .provereno .provereno__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  text-align: right;
}
#component-3 .container__textBox {
  text-align: left;
}
#component-3 .textBox__text_red {
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  #component-3 .provereno {
    background: url(../../image/provereno_smallBg.jpg) center/cover no-repeat;
    padding-top: calc(309px + 237 * ((100vw - 300px) / (575 - 300)));
    padding-bottom: 10px;
  }
  #component-3 .provereno .provereno__container {
    text-align: center;
  }
  #component-3 .container__textBox {
    font-size: calc(18px + 16 * ((100vw - 300px) / (575 - 300)));
    text-align: center;
  }
  #component-3 .container__textBox .textBox__text_big {
    padding-bottom: 19px;
  }
}

#component-4 .forsiryem {
  background: url(../../image/forsing_bg.jpg) center/cover no-repeat;
  padding: 193px 15px;
}
#component-4 .forsiryem__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}
#component-4 .container__textBox {
  color: #fff;
}
#component-4 .textBox__text_smaller {
  font-size: 45px;
}
@media screen and (max-width: 575px) {
  #component-4 .forsiryem {
    padding: 0px 15px 90px;
    background: #000;
  }
  #component-4 .container__textBox {
    width: 100%;
    font-size: calc(39px + 21 * ((100vw - 300px) / (575 - 300)));
    text-align: center;
  }
  #component-4 .container__textBox .textBox__text_smaller {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-4 .container__textBox::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: calc(284px + 216 * ((100vw - 300px) / (575 - 300)));
    background: url(../../image/forsing_bg.jpg) 78%/cover no-repeat;
  }
}

#component-5 .lichulnik {
  background: url(../../image/lichulnuk_bg.jpg) center/cover no-repeat;
  padding: 231px 15px 52px;
}
#component-5 .lichulnik__container {
  text-align: center;
}
#component-5 .lichulnik__container .container__textBox {
  color: #fff;
  text-transform: uppercase;
}
#component-5 .lichulnik__container .container__textBox .texBox__tablo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 410px;
  height: 80px;
  border: 3px solid #564f50;
  border-radius: 17px;
  background-color: #000;
  font-size: 36px;
  font-family: "Exo", sans-serif;
  margin-bottom: 36px;
}
#component-5 .lichulnik__container .container__textBox .textBox__text {
  font-size: 30px;
  padding-bottom: 11px;
}
#component-5 .lichulnik__container .container__textBox .textBox__text_red {
  font-size: 30px;
  text-transform: lowercase;
  padding-bottom: 13px;
}
#component-5 .lichulnik__container .container__textBox .texBox__text_bigger {
  font-size: 61px;
}
#component-5 .lichulnik__container .container__textBox .textBox__text__big {
  font-size: 45px;
  padding-bottom: 177px;
}
#component-5 .lichulnik__container .container__textBox .textBox__update {
  font-size: 14px;
  color: #554d4f;
  text-transform: none;
}
@media screen and (max-width: 575px) {
  #component-5 .lichulnik {
    padding-top: 104px;
  }
  #component-5 .lichulnik__container .container__textBox .texBox__tablo {
    width: 100%;
    font-size: calc(25px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-5 .lichulnik__container .container__textBox .textBox__text {
    font-size: calc(19px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-5 .lichulnik__container .container__textBox .textBox__text_red {
    font-size: calc(19px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-5 .lichulnik__container .container__textBox .texBox__text_bigger {
    font-size: calc(40px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-5 .lichulnik__container .container__textBox .textBox__text__big {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-5 .lichulnik__container .container__textBox .textBox__update {
    font-size: 14px;
  }
}

#component-6 .contacts {
  background: url(../../image/contacts_bg.jpg) center/cover no-repeat;
  padding: 122px 15px 58px;
}
#component-6 .contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  line-height: 1;
  color: #fff;
}
#component-6 .container__newPartnerBox {
  text-align: right;
  font-size: 45px;
  padding-bottom: 86px;
}
#component-6 .container__newPartnerBox .textBox__text__big {
  padding: 0;
}
#component-6 .container__newPartnerBox .textBox__text__bigger {
  font-size: 60px;
  text-transform: uppercase;
  padding: 0;
}
#component-6 .container__newPartnerBox .textBox__text {
  padding: 0 0 36px;
  text-transform: uppercase;
}
#component-6 .container__toKlientsBox {
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 86px;
}
#component-6 .container__toKlientsBox .textBox__text:first-child {
  font-size: 60px;
  text-transform: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
#component-6 .container__toKlientsBox .textBox__text__big {
  padding: 0;
  text-transform: uppercase;
}
#component-6 .container__toKlientsBox .textBox__text {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#component-6 .container__callBackBox {
  text-align: center;
  width: 730px;
  height: 300px;
  background-color: #b80326;
  padding: 46px 0 43px;
}
#component-6 .container__callBackBox .textBox__text__big {
  font-size: 26px;
}
#component-6 .container__callBackBox .textBox__text {
  font-size: 46px;
}
@media screen and (max-width: 575px) {
  #component-6 .textBox__text {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .container__callBackBox {
    height: auto;
  }
  #component-6 .container__callBackBox .textBox__text__big {
    font-size: calc(14px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .container__callBackBox .textBox__text {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .contacts .contacts__container .container__newPartnerBox, #component-6 .contacts .contacts__container .container__toKlientsBox {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
    text-align: center;
  }
  #component-6 .contacts .contacts__container .container__newPartnerBox .textBox__text__bigger, #component-6 .contacts .contacts__container .container__newPartnerBox .textBox__text:first-child, #component-6 .contacts .contacts__container .container__toKlientsBox .textBox__text__bigger, #component-6 .contacts .contacts__container .container__toKlientsBox .textBox__text:first-child {
    font-size: calc(39px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .contacts .contacts__container .container__textBox {
    font-size: calc(39px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .contacts .contacts__container .container__textBox .textBox__text_smaller {
    font-size: calc(24px + 21 * ((100vw - 300px) / (575 - 300)));
  }
  #component-6 .container__toKlientsBox .textBox__text:nth-child(3) {
    padding-bottom: 36px;
  }
}